<template>
    <Page> 
       

        <ActionBar :title="raceDetail.title">
            <NavigationButton  android.systemIcon="ic_menu_back" @tap="$navigateBack"/>
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <ScrollView dock="top" height="90%" v-if="!loading">
                <StackLayout width="100%">
                    
                    <StackLayout>
                        <Label text="Koşu başlamıştır" fontWeight="300" textWrap="true" fontSize="22" marginTop="10" textAlignment="center" v-if="userIsStart && !userIsEnd && nowHour >= raceDetail.startHour && nowHour <= raceDetail.endHour" />
                        <Label text="Koşu belirlenen saatte başlayacaktır" fontWeight="300" textWrap="true" fontSize="22" marginTop="10" textAlignment="center" v-else-if="userIsStart && !userIsEnd && nowHour < raceDetail.startHour" />
                        <Label :text="localTimer" fontWeight="bold" textWrap="true" fontSize="22" textAlignment="center" v-if="userIsStart && !userIsEnd" />
                        <!-- <Label :text="endDistance" fontWeight="bold" textWrap="true" fontSize="22" textAlignment="center" v-if="userIsStart && !userIsEnd" /> -->
                    </StackLayout>

                    <StackLayout width="100%" padding="5 20 0 20" v-if="userRegister">
                        <Button :text="startBtnText" @tap="locationStart()" class="btn btn-red m-t-20" width="100%" height="55" v-if="!userIsStart && !userIsEnd" />
                        <!-- <Button text="KOŞUYU TAMAMLADIM" @tap="raceEnd" class="btn btn-red m-t-20" width="100%" height="55" v-else-if="userIsStart && !userIsEnd" /> -->
                        <Label text="Sonuçlar sayfasından derecenize bakabilirsiniz. Koşu bittikten sonra 12 saat boyunca sıralamada değişiklikler olabilir." textWrap="true" fontSize="22" marginTop="5" textAlignment="center" v-else-if="userIsStart && userIsEnd" />
                    </StackLayout>

                    <GridLayout rows="*" columns="*" width="100%" v-if="userIsStart && !userIsEnd && nowHour >= raceDetail.startHour && nowHour <= raceDetail.endHour" marginBottom="180" marginTop="20" padding="0 40">
                        <!-- <Gif src="~/assets/running.gif" stretch="aspectFill" minWidth="350" minHeight="350" height="350" width="350"/> -->
                        <Image src="~/icons/runner.png" stretch="aspectFill" />
                    </GridLayout>
                    
                    <GridLayout rows="30,30" columns="30,*,80" margin="20 20 10 20">
                        <StackLayout col="0" row="0">
                            <Label color="black" class="la" textAlignment="center">{{'la-calendar-o' | fonticon}}</Label>
                        </StackLayout>
                        <StackLayout col="1" row="0">
                            <Label :text="dayAndMonthConvert(raceDetail.startDate) + ' ' + dayConvert(raceDetail.startDate)" textWrap="true" />

                        </StackLayout>
                        <StackLayout col="2" row="0" rowSpan="2">

                            <Button class="btn btn-primary" @tap="addToCalendar(raceDetail)" v-if="userRegister && !userIsStart" :text="calendarText" textAlignment="center" margin="0 0 0 0" width="100%" height="50" fontSize="15" textWrap="true" />

                        </StackLayout>

                        <StackLayout col="0" row="1">
                            <Label color="black" class="la" textAlignment="center">{{'la-clock-o' | fonticon}}</Label>

                        </StackLayout>
                        <StackLayout col="1" row="1">
                            <Label :text="timeConvert(raceDetail.startDate + ' ' + raceDetail.startHour) + ' - ' + timeConvert(raceDetail.startDate + ' ' + raceDetail.endHour)" textWrap="true" />

                        </StackLayout>
                    </GridLayout>
                   
                    <StackLayout width="100%" height="1" backgroundColor="#e7e7e7"></StackLayout>

                    <StackLayout orientation="horizontal" margin="20 20 10 20">

                        <GridLayout width="10%" @tap="openMapURL(raceDetail.startDestination.latitude, raceDetail.startDestination.longitude)">
                            <Label color="black" class="la" textAlignment="center">{{'la-globe' | fonticon}}</Label>
                        </GridLayout>

                        <GridLayout width="90%" @tap="openMapURL(raceDetail.startDestination.latitude, raceDetail.startDestination.longitude)">
                            <Label :text="raceDetail.openAddress" textWrap="true" />
                        </GridLayout>

                    </StackLayout>

                    <StackLayout orientation="horizontal" margin="0 20 20 30">

                        <GridLayout width="55%" @tap="openMapURL(raceDetail.startDestination.latitude, raceDetail.startDestination.longitude)">
                            <Label color="black" class="la">{{'la-map-marker' | fonticon}} Başlangıç Noktası</Label>
                        </GridLayout>

                        <GridLayout width="45%" @tap="openMapURL(raceDetail.endDestination.latitude, raceDetail.endDestination.longitude)">
                            <Label color="black" class="la">{{'la-map-marker' | fonticon}} Bitiş Noktası</Label>
                        </GridLayout>

                    </StackLayout>

                    <StackLayout width="100%" height="1" backgroundColor="#e7e7e7"></StackLayout>
                    
                    <StackLayout orientation="horizontal" margin="20" marginBottom="0" marginTop="10">
                        <GridLayout width="10%">
                            <Label class="person" />
                        </GridLayout>

                        <GridLayout width="90%">
                            <Label :text="raceDetail.countUser + ' kişi kaydoldu'" @tap="registeredUsers()" textWrap="true" />
                        </GridLayout>
                    </StackLayout>
                   
                    <StackLayout orientation="horizontal" margin="20" marginBottom="10" marginTop="5" v-if="raceDetail.raceType == 'team'">
                        <GridLayout width="10%">
                            <Label class="group" />
                        </GridLayout>

                        <GridLayout width="90%">
                            <Label :text="raceDetail.countTeam + ' takım kuruldu'" @tap="registeredTeams()" textWrap="true" />
                        </GridLayout>
                    </StackLayout>

                    <StackLayout width="100%" padding="20">
                        <Label textAlignment="center" fontWeight="700" fontSize="22" margin="10" text="Koşu Bilgileri" textWrap="true" />

                        <Label :text="raceDetail.description" textWrap="true" fontSize="15" marginBottom="5" textAlignment="center" />

                        <Button text="SEN DE KATIL" @tap="raceRegister" class="btn btn-black m-t-20" width="100%" height="55" v-if="!userRegister" />

                        <Button class="btn btn-red m-t-10" @tap="teamChoose" width="100%" height="55" v-else-if="userRegister && !userIsStart && !team && raceDetail.raceType == 'team'">TAKIM OLARAK KOŞ</Button>
                        
                        <Button text="ARKADAŞINI KOŞUYA DAVET ET" @tap="InviteUser" class="btn btn-black" width="100%" height="55" v-if="userRegister && !userIsStart" />
                    </StackLayout>

                    <StackLayout marginBottom="40" width="100%" v-if="team">
     
                        <Label textAlignment="center" fontWeight="700" fontSize="22" margin="10" text="Takımının Bilgileri" textWrap="true" />

                        <StackLayout padding="5" width="100%">
                            <Label fontWeight="700" @tap="teamInfo(team.id)" v-if="is_captain == 1" fontSize="18px" class="la">{{team.name}} {{'la-cog' | fonticon}}</Label>
                            <Label fontWeight="700" v-else-if="is_captain == 0" fontSize="18px">{{team.name}}</Label>
                            <Label :text="team.count_user + ' üye kayıtlı / ' + team.capacity" fontWeight="400" fontSize="14px" />
                        </StackLayout>

                        <StackLayout width="100%">
                            <ListView for="user in team.team_users" separatorColor="transparent" height="100%" width="100%">
                                <v-template>
                                    <StackLayout>
                                        <GridLayout columns="50, *" rows="auto, auto">
                                            <Image row="0" col="0" rowspan="1" width="30" height="30" margin="10" borderWidth="1"
                                                borderColor="black" verticalAlignment="center"
                                                :src="user.photo"
                                                borderRadius="50" />
                                            <Label class="text" :text="user.name + ' ' + user.surname + (user.is_captain == 1 ? ' (K)' : '') + (user.is_accepted_as_captain == 0 ? ' (Kaptan Onayı Bekleniyor)' : '') + (user.is_accepted_as_user == 0 ? ' (Üye Onayı Bekleniyor)' : '')" row="0" col="1" />
                                        </GridLayout>
                                        <StackLayout class="hr-light" />
                                    </StackLayout>
                                </v-template>
                            </ListView>
                        </StackLayout>

                    </StackLayout>

                </StackLayout>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <nav :activeRace="activeClass"></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import nav from "../nav";
    import moment from 'moment';
    import * as platform from "tns-core-modules/platform";
    import * as permissions from "nativescript-permissions";
    import * as geolocation from "nativescript-geolocation";
    import { Accuracy } from "tns-core-modules/ui/enums";
    import * as http from "tns-core-modules/http";
    import {Color} from "tns-core-modules/color";
    import {LocalNotifications} from "nativescript-local-notifications";
    import localStorage from "nativescript-localstorage";
    import * as BackgroundServices from "../../backgroundService.js";

    var Calendar = require("nativescript-calendar");
    var utilsModule = require("tns-core-modules/utils/utils");

    export default {
        name: "raceDetail",

        components: {
            nav
        },

        props: {
            raceId: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                activeClass: 'active',
                loading: true,
                raceDetail: {
                    raceId: this.raceId,
                    title: '',
                    startDate: '',
                    startHour: '',
                    endHour: '',
                    minTime: '',
                    openAddress: '',
                    raceType: '',
                    description: '',
                    countUser: '',
                    countTeam: '',
                    startDestination: { latitude: 0, longitude: 0 },
                    endDestination: { latitude: 0, longitude: 0 },
                },
                team: '',
                is_captain : 0,
                userRegister: false,
                userIsStart: false,
                userIsEnd: false,
                nowHour: moment(String(new Date())).format('HH:mm:ss'),
                calendarText: 'Takvime Ekle',
                isCalendar: false,
                APIKEY: "AIzaSyASgK-EyVswAr3dln86X7_LtpgWYN9Pf1c",
                origin: { latitude: 0, longitude: 0 },
                startDistanceInMeters: 0,
                endDistanceInMeters: 0,
                watch: null,
                startBtnText: 'KOŞUYA GELDİM',
                localTimer: localStorage.getItem('running_time'),
                endDistance: localStorage.getItem('end_distance'),
            };
        },

        created() {
            this.$store.dispatch('isThereRaceRegister', {
                    raceId: this.raceDetail.raceId
                })
                .then(response => {

                    if(response.data != 0) {
                        this.userRegister = true

                        if(response.data.end_date) {
                            this.userIsEnd = true
                            this.userIsStart = true
                        }else if(response.data.start_date) {
                            this.userIsEnd = false
                            this.userIsStart = true
                        }else {
                            this.userIsEnd = false
                            this.userIsStart = false
                        }

                        if(response.data.is_calendar == 1)
                        {
                            this.calendarText = 'Takvime Eklendi'
                        }else {
                            this.calendarText = 'Takvime Ekle'
                        }

                    }else {
                        this.userRegister = false
                    }

                })
                .catch(error => {
                    console.log(error);
                })

            
            this.$store.dispatch('getRaceDetail', {
                    id: this.raceDetail.raceId
                })
                .then(response => {
                    this.raceDetail.title = response.data.title
                    this.raceDetail.startDate = response.data.start_date
                    this.raceDetail.startHour = response.data.start_hour
                    this.raceDetail.endHour = response.data.end_hour
                    this.raceDetail.minTime = response.data.min_time
                    this.raceDetail.openAddress = response.data.open_address
                    this.raceDetail.raceType = response.data.race_type
                    this.raceDetail.description = response.data.description
                    this.raceDetail.countUser = response.data.count_user
                    this.raceDetail.countTeam = response.data.count_team
                    this.raceDetail.startDestination.latitude = response.data.start_latitude
                    this.raceDetail.startDestination.longitude = response.data.start_longitude
                    this.raceDetail.endDestination.latitude = response.data.end_latitude
                    this.raceDetail.endDestination.longitude = response.data.end_longitude

                    this.loading = false

                    let nowDate = moment(String(new Date())).format('YYYY-MM-DD');
                    let raceStartTime = moment(String(this.raceDetail.startDate+ ' '+ this.raceDetail.startHour)).format('YYYY/MM/DD HH:mm:ss')
                    let raceStartHourNumber = Math.abs(new Date(raceStartTime))
                    setInterval(() => {
                        
                        this.nowHour = moment(String(new Date())).format('HH:mm:ss')
                        this.localTimer = localStorage.getItem('running_time')
                        this.endDistance = localStorage.getItem('end_distance')
                        let nowTimeNumber = Math.abs(new Date())
                        
                        if(nowDate == this.raceDetail.startDate && nowTimeNumber < raceStartHourNumber)
                        {
                            this.$store.dispatch('getRaceDetail', {
                                id: this.raceDetail.raceId,
                            })
                            .then(response => {
                                this.raceDetail.title = response.data.title
                                this.raceDetail.startDate = response.data.start_date
                                this.raceDetail.startHour = response.data.start_hour
                                this.raceDetail.endHour = response.data.end_hour
                                this.raceDetail.minTime = response.data.min_time
                                this.raceDetail.openAddress = response.data.open_address
                                this.raceDetail.raceType = response.data.race_type
                                this.raceDetail.description = response.data.description
                                this.raceDetail.countUser = response.data.count_user
                                this.raceDetail.countTeam = response.data.count_team
                                this.raceDetail.startDestination.latitude = response.data.start_latitude
                                this.raceDetail.startDestination.longitude = response.data.start_longitude
                                this.raceDetail.endDestination.latitude = response.data.end_latitude
                                this.raceDetail.endDestination.longitude = response.data.end_longitude
                            })
                            .catch(error => {
                                console.log(error)
                            })
                        }

                    }, 1000)
                })
                .catch(error => {
                    console.log(error);
                })     
                
            this.$store.dispatch('getTeam', {
                    raceId: this.raceDetail.raceId,
                })
                .then(response => {
                    this.team = response.data

                    this.$store.dispatch('getTeamCaptain', {
                        teamId: response.data.id,
                    })
                    .then(response => {
                        this.is_captain = response.data.is_captain
                    })
                    .catch(error => {
                        console.log(error.response.data)
                    });

                })
                .catch(error => {
                    console.log(error.response.data)
                    this.team = null;
                })
        },

        methods: {
            locationStart()
            {
                this.startBtnText = 'Bekleyiniz...'
                geolocation.enableLocationRequest(true, true).then(() => {
                    geolocation.getCurrentLocation({
                        desiredAccuracy: Accuracy.high,
                        maximumAge: 1000,
                        timeout: 20000
                    })
                    .then(res => {
                        this.origin.latitude = res.latitude;
                        this.origin.longitude = res.longitude;

                        let distanceMatrixAPIURL = "https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&";
                        distanceMatrixAPIURL += `origins=${this.origin.latitude},${this.origin.longitude}&destinations=${this.raceDetail.startDestination.latitude},${this.raceDetail.startDestination.longitude}&mode=walking&language=tr-TR&key=${this.APIKEY}`;

                        http.getJSON(distanceMatrixAPIURL).then(
                            result => {
                                this.startDistanceInMeters = result.rows[0].elements[0].distance.value
                                console.log('Başlangıç yerine uzaklık mesafesi: ' + result.rows[0].elements[0].distance.text)
                            
                                if (this.startDistanceInMeters < 50) 
                                {
                                    this.raceStart(1)
                                }
                                else
                                {
                                    this.raceStart(0)
                                }
                            },
                            error => {
                                console.log(error);
                            }
                        );
                    })
                    .catch(e => {
                        console.log("error", e);
                    });
                }, (e) => {
                    console.log("Error: " + (e.message || e));
                }).catch(ex => {
                    console.log("Unable to Enable Location", ex);
                });
            },

            locationEnd()
            {
                geolocation.enableLocationRequest(true, true).then(() => {
                    this.watch = geolocation.watchLocation(
                        res => {
                            this.origin.latitude = res.latitude;
                            this.origin.longitude = res.longitude;
                            
                            let distanceMatrixAPIURL = "https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&";
                            distanceMatrixAPIURL += `origins=${this.origin.latitude},${this.origin.longitude}&destinations=${this.raceDetail.endDestination.latitude},${this.raceDetail.endDestination.longitude}&mode=walking&language=tr-TR&key=${this.APIKEY}`;

                            http.getJSON(distanceMatrixAPIURL).then(
                                result => {
                                    this.endDistanceInMeters = result.rows[0].elements[0].distance.value
                                    console.log('Bitiş yerine uzaklık mesafesi: ' + result.rows[0].elements[0].distance.text)
                                    
                                    let raceMinEndTime = moment(String(this.raceDetail.startDate+ ' '+ this.raceDetail.startHour)).add(this.raceDetail.minTime, 'minutes').format('YYYY/MM/DD HH:mm:ss')
                                    let minEndTime = Math.abs(new Date(raceMinEndTime))
                                    let nowTime = Math.abs(new Date())
                                    if (nowTime >= minEndTime)
                                    {
                                        if (this.endDistanceInMeters <= 15) 
                                        {
                                            this.raceEnd()

                                            geolocation.clearWatch(this.watch);
                                            return;
                                        }
                                        else
                                        {
                                            console.log('Devam....')
                                        }
                                    }
                                    else
                                    {
                                        console.log('Min koşu bitirme süresi daha dolmadı...')
                                    }
                                },
                                error => {
                                    console.log(error);
                                }
                            );

                        },
                        error => console.log(error), {
                            desiredAccuracy: Accuracy.high,
                            updateDistance: 1,
                            updateTime: 1,
                            minimumUpdateTime: 1
                        }
                    )
                }, (e) => {
                    console.log("Error: " + (e.message || e));
                }).catch(ex => {
                    console.log("Unable to Enable Location", ex);
                });
            },

            raceRegister()
            {
                this.$store.dispatch('raceRegister', {
                    raceId: this.raceDetail.raceId,
                })
                .then(response => {
                    let options = options || {
                        clearHistory: false,
                        backstackVisible: true,
                        transition: {
                            name: "fade",
                            duration: 1,
                            curve: "easeIn"
                        },
                        props: {
                            raceId: this.raceDetail.raceId
                        }
                    }

                    this.$goto('raceSuccess', options)
                })
                .catch(error => {
                    alert({
                        title: 'Uyarı',
                        message: error.response.data.message,
                        okButtonText: "Tamam",
                        cancelable: false
                    }).then(() => {
                        console.log(error)
                    });
                })
            },

            raceStart(status)
            {
                if(status == 1)
                {
                    this.$store.dispatch('raceStart', {
                        raceId: this.raceDetail.raceId,
                    })
                    .then(response => {
                        localStorage.setItem('race_detail', JSON.stringify(this.raceDetail))
                        alert({
                            title: 'Başarılı',
                            message: response.data.message,
                            okButtonText: "Tamam",
                            cancelable: false 
                        }).then(() => {
                            this.userIsStart = true
                            this.nowHour = moment(String(new Date())).format('HH:mm:ss')
                        });
                    })
                    .catch(error => {
                        this.startBtnText = 'KOŞUYA GELDİM'

                        alert({
                            title: 'Uyarı',
                            message: error.response.data.message,
                            okButtonText: "Tamam",
                            cancelable: false
                        }).then(() => {
                            console.log(error)
                        });
                    })
                }
                else
                {
                    this.startBtnText = 'KOŞUYA GELDİM'

                    alert({
                        title: 'Uyarı',
                        message: 'Koşu alanınında değilsiniz',
                        okButtonText: "Tamam",
                        cancelable: false
                    }).then(() => {
                        console.log(error)
                    });
                }
            },

            raceEnd()
            {   
                // this.$goto('raceList');

                // this.$store.dispatch('raceEnd', {
                //     raceId: this.raceDetail.raceId,
                // })
                // .then(response => {
                //     this.userIsEnd = true
                //     alert({
                //         title: 'Başarılı',
                //         message: response.data.message,
                //         okButtonText: "Tamam",
                //         cancelable: false 
                //     })
                // })
                // .catch(error => {
                //     alert({
                //         title: 'Uyarı',
                //         message: error.response.data.message,
                //         okButtonText: "Tamam",
                //         cancelable: false
                //     }).then(() => {
                //         console.log(error)
                //     });
                // })
            },

            registeredUsers()
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        raceId: this.raceDetail.raceId
                    }
                }

                this.$goto('raceRegisteredUsers', options)
            },

            registeredTeams()
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        raceId: this.raceId
                    }
                }
                
                this.$goto('raceRegisteredTeams', options)
            },

            teamChoose()
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        raceId: this.raceId
                    }
                }
                
                this.$goto('teamChoose', options)
            },
            
            teamInfo(teamId)
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        teamId: teamId
                    }
                }
                
                this.$goto('teamInfo', options)
            },

            InviteUser()
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        raceId: this.raceId,
                    }
                }

                this.$goto('inviteToRace', options)
            },

            dayAndMonthConvert(value)
            {
                if (value) {
                    return moment(String(value)).format('DD MMMM')
                }
            },

            dayConvert(value)
            {
                if (value) {
                    return moment(String(value)).format('dddd')
                }
            },

            timeConvert(value)
            {
                if (value) {
                    return moment(String(value)).format('HH:mm')
                }
            },

            openMapURL(lat, lng)
            {
                let value = lat + ', ' + lng;
                let encodeUrl = ''

                if (platform.isIOS) 
                {
                    encodeUrl = encodeURI('http://maps.apple.com/?q=' + value)
                }
                else
                {
                    encodeUrl = encodeURI('https://www.google.com/maps/search/?api=1&query=' + value)
                }

                utilsModule.openUrl(encodeUrl)
            },

            addToCalendar(detail)
            {
                var options = {
                    title: detail.title,
                    startDate: new Date(moment(String(detail.startDate + ' ' + detail.startHour)).toString()),
                    endDate: new Date(moment(String(detail.startDate + ' ' + detail.endHour)).toString()),
                    notes: detail.description,
                    location: detail.openAddress,
                    url: 'http://www.aakosu.org',
                    calendar: {
                        name: 'Adım Adım Koşu Takvimi',
                        color: '#FF0000',
                        accountName: 'AA Koşu'
                    }
                }
                
                confirm({
                    title: detail.title,
                    message: 'Bu koşuyu takvime eklemek istiyor musunuz',
                    okButtonText: "Ekle",
                    cancelButtonText: "Vazgeç"
                }).then(result => {
                    if(result)
                    {
                        this.$store.dispatch('raceAddCalendar', {
                            raceId: this.raceDetail.raceId,
                        })
                        .then(response => {
                            Calendar.createEvent(options).then(
                                function(createdId) {
                                    console.log("Event ID: " + createdId)
                                    alert({
                                        title: 'Başarılı',
                                        message: 'Koşu başarılı bir şekilde takvime eklendi.',
                                        okButtonText: "Tamam",
                                        cancelable: true
                                    })
                                },
                                function(error) {
                                    console.log("Error creating an Event: " + error)
                                }
                            )

                            this.calendarText = 'Takvime Eklendi'
                        })
                        .catch(error => {
                            alert({
                                title: 'Uyarı',
                                message: error.response.data.message,
                                okButtonText: "Tamam",
                                cancelable: true
                            })
                        })
                    }
                })
            },

            // fullDateTimeConvert(value)
            // {
            //     if (value) {
            //         return moment(String(value)).format('YYYY-MM-DD HH:mm:ss')
            //     }
            // }
            // this.fullDateTimeConvert(new Date()),
        }
    }

</script>
<style scoped>
  

    .person {
        background-image: url("~/icons/runner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 40px;
        height: 40px;
    }

    .group {
        width: 40px;
        height: 40px;
        background-image: url("~/icons/runners.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

</style>





