<template>
    <Page>

        <ActionBar>
            <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
                <Image src="~/icons/kosular@3x.png" marginRight="10" width="20" height="20"></Image>
                <Label text="KOŞULAR" fontWeight="400" letterSpacing=".1"></Label>
            </StackLayout>
            <NavigationButton :visibility="'collapsed'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap" />
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <StackLayout dock="top" height="8%">
                <GridLayout rows="auto, auto" columns="*, 20, *, 20" width="100%" borderBottomWidth="1" borderColor="#DA291C">
                    
                    <StackLayout row="0" colSpan="2" borderBottomWidth="1" borderColor="#DA291C">
                        <GridLayout columns="*, 30" rows="50"  width="100%" ios:padding="1" android:padding="10" >
                            <DropDown :items="months" @selectedIndexChanged="monthChange" hint="Ay Seçiniz" android:height="50"  ios:height="50" ios:borderWidth="0" backgroundColor="white" row="1" colSpan="2" class="DD" />
                            <Label isUserInteractionEnabled="false" android:marginTop="8" row="1" col="1" color="black" textAlignment="center" class="la" >{{'la-angle-down' | fonticon}}</Label>
                        </GridLayout>
                    </StackLayout>

                    <StackLayout row="0" col="2" colSpan="2"  borderLeftWidth="1" borderBottomWidth="1" borderColor="#DA291C">
                        <GridLayout columns="*, 30" rows="50" width="100%" ios:padding="1" android:padding="10">
                            <DropDown :items="cities" @selectedIndexChanged="cityChange" hint="Şehir Seçiniz" android:height="50" android:borderWidth="1" android:borderColor="transparent" ios:height="50" ios:borderWidth="0" backgroundColor="white" row="1" colSpan="2" class="DD" />
                            <Label isUserInteractionEnabled="false" android:marginTop="8" row="1" col="1" color="black" textAlignment="center" class="la" >{{'la-angle-down' | fonticon}}</Label>
                        </GridLayout>
                    </StackLayout>

                </GridLayout>
            </StackLayout>
            
            <ScrollView dock="top" height="82%" v-if="!rows && !loading">
                    <Label text="Koşu bulunamadı" verticalAlignment="top" marginTop="20" textAlignment="center"></Label>
            </ScrollView>

            <ScrollView dock="top" height="82%" v-else-if="rows && !loading">
                
                <ListView for="row in rows" class="list-group" @itemTap="onItemTap" separatorColor="transparent" >
                    
                    <v-template >
                        <GridLayout columns="70, *, 50" rows="auto, auto, auto" width="100%" verticalAlignment="top"
                            class="raceItem" borderBottomWidth="1" borderBottomColor="#e7e7e7" 
                            @tap="raceDetail(row.race_id), options">
                            
                            <StackLayout row="0" col="0" class="date" :class="row.is_user == 1 ? 'red' : 'black'" >
                                <Image :src="raceType(row.race_type)" horizontalAlignment="center" borderRadius="0"
                                    :tintColor="row.is_user == 1 ? 'white' : 'black'" stretch="aspectFit" height="20" />
                                <Label :text="dateDayNumber(row.start_date)" verticalAlignment="center" fontSize="24px" textAlignment="center" />
                                <Label :text="dateDayText(row.start_date)" fontSize="13px" verticalAlignment="center" textAlignment="center" />
                            </StackLayout>

                            <StackLayout row="0" col="1" padding="15">
                                <Label :text="row.title" textWrap="true" />

                                <Label :text="vueTimeConvert(row.start_date + ' ' +row.start_hour) + ' - ' + row.racecourse" fontSize="11px" />

                                <GridLayout columns="20, *, 20, *" width="100%">
                                    <Label :text="row.count_user" row="0" col="0" fontSize="12px" color="#DA291C" fontWeight="600" />
                                    <Label text="kişi kaydoldu" row="0" col="1" fontSize="11px" />
                                    <Label :text="row.count_team" v-if="row.race_type == 'team'" row="0" col="2" fontSize="12px" color="#DA291C" fontWeight="600" />
                                    <Label text="takım kaydoldu" v-if="row.race_type == 'team'" row="0" col="3" fontSize="11px" />
                                </GridLayout>
                            </StackLayout>

                            <StackLayout row="0" col="2" verticalAlignment="center">
                                <Label color="black" class="la"
                                    textAlignment="center">{{'la-angle-right' | fonticon}}</Label>
                            </StackLayout>

                        </GridLayout>
                    </v-template>

                </ListView>

            </ScrollView>

            <ScrollView dock="top" height="82%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <nav :activeRace="activeClass"></nav>
        </DockLayout>
    </Page>
</template>

<script>

    import nav from "../nav";
    import moment from 'moment'
    import { ValueList } from "nativescript-drop-down";
    // import { messaging} from "nativescript-plugin-firebase/messaging";
    // import * as geolocation from "nativescript-geolocation";
    // import { Accuracy } from "tns-core-modules/ui/enums";
    // import {LocalNotifications} from "nativescript-local-notifications";

    export default {
        name: "raceList",

        components: {
            nav
        },

        data() {
            return {
                activeClass: "active",
                loading: true,
                months: new ValueList([
                    {value: '0', display: 'Tüm Aylar'},
                    {value: '1', display: 'Ocak'},
                    {value: '2', display: 'Şubat'},
                    {value: '3', display: 'Mart'},
                    {value: '4', display: 'Nisan'},
                    {value: '5', display: 'Mayıs'},
                    {value: '6', display: 'Haziran'},
                    {value: '7', display: 'Temmuz'},
                    {value: '8', display: 'Ağustos'},
                    {value: '9', display: 'Eylül'},
                    {value: '10', display: 'Ekim'},
                    {value: '11', display: 'Kasım'},
                    {value: '12', display: 'Aralık'}
                ]),
                cities: new ValueList([
                    {value: '0', display: 'Tüm Şehirler'},
                    {value: '34', display: 'İstanbul'},
                    {value: '6', display: 'Ankara'},
                    {value: '7', display: 'Antalya'},
                    {value: '16', display: 'Bursa'},
                    {value: '35', display: 'İzmir'},
                ]),
                monthId: 0,
                cityId: 0,
                rows: {},
                options: {
                clearHistory: false,
                backstackVisible: true,
                    transition: {
                        name: "slide",
                        curve: "easeIn"
                    }
                }
            };
        },

        mounted() {
        
            // console.log(`Notifications enabled? ${messaging.areNotificationsEnabled()}`);
            // messaging.getCurrentPushToken().then(token => console.log(`Current push token: ${token}`));
            
       

            // messaging.registerForPushNotifications({
            //     onPushTokenReceivedCallback: (token) => {
            //         console.log("Firebase plugin received a push token: " + token);
            //     },

            //     onMessageReceivedCallback: (message) => {
            //         console.log("Push message received: " + message.title);
            //     },

            //     // Whether you want this plugin to automatically display the notifications or just notify the callback. Currently used on iOS only. Default true.
            //     showNotifications: true,

            //     // Whether you want this plugin to always handle the notifications when the app is in foreground. Currently used on iOS only. Default false.
            //     showNotificationsWhenInForeground: true
            // }).then(() => console.log("Registered for push"));

        },

        created() {
            this.$store.dispatch('getToken')
            this.$store.dispatch('getUserId')
            this.$store.dispatch('getNotificationCountByTimer')
            this.$store.dispatch('getRaces')
                .then(response => {
                    this.rows = response.data
                    this.loading = false
                })
                .catch(error => {
                    this.rows = error.response.data.status;
                    this.loading = false;
                    console.log(error.response.data.message);
                });
        },

        methods: {
            raceDetail(id)
            {
                this.$store.dispatch('profileInfoControl')
                    .then(response => {
                        let options = options || {
                            clearHistory: false,
                            backstackVisible: true,
                            transition: {
                                name: "fade",
                                duration: 1,
                                curve: "easeIn"
                            },
                            props: {
                                raceId: id
                            }
                        }
                        this.$goto('raceDetail', options)
                    })
                    .catch(error => {
                        confirm({
                            title: "Uyarı",
                            message: error.response.data.message,
                            okButtonText: "Tamam",
                            cancelButtonText: "Vazgeç"
                        }).then(result => {
                            if (result) {
                                this.$goto('profileEdit')
                            }
                        })
                    })
            },

            vueTimeConvert(value)
            {
                if (value) {
                    return moment(String(value)).format('HH:mm')
                }
            },

            dateDayNumber(value)
            {
                if (value) {
                    return moment(String(value)).format('DD')
                }
            },

            dateDayText(value)
            {                
                if (value) {
                    return moment(String(value)).format('dddd')
                }
            },

            raceType(value)
            {
                if (value == 'single')
                {
                    return '~/icons/runner.png';
                }
                else if (value == 'team')
                {
                    return '~/icons/runners.png';
                }
            },

            monthChange(args) {
                let monthId = this.months.getValue(args.newIndex)
                this.monthId = monthId
                
                this.$store.dispatch('getRacesFilter', {
                    monthId: monthId,
                    cityId: this.cityId
                })
                .then(response => {
                    this.rows = response.data
                })
                .catch(error => {
                    console.log(error);
                });
            },

            cityChange(args) {
                let cityId = this.cities.getValue(args.newIndex)
                this.cityId = cityId
    
                this.$store.dispatch('getRacesFilter', {
                    monthId: this.monthId,
                    cityId: cityId
                })
                .then(response => {
                    this.rows = response.data
                })
                .catch(error => {
                    console.log(error);
                });
            },

            raceDetailDisabled()
            {
                alert({
                    title: 'Uyarı',
                    message: 'Bu koşu tamamlanmıştır. Kayıt olamazsınız.',
                    okButtonText: "Tamam",
                    cancelable: false // [Android only] Gets or sets if the dialog can be canceled by taping outside of the dialog.
                }).then(() => {

                });
            },
        }
    };
</script>

<style scoped>
    .DD {
        padding: 7 7 7 7;
    }
    .date {
        border-right-color: #e7e7e7;
        border-right-width: 2px;
        align-content: center;
        text-align: center;
        padding-top: 9%;
        padding-left: 0;
    }

    .date.red {
        background-color: #DA291C;
    }

    .date.red * {
        color: white;
    }

    .person {
        background-image: url("~/icons/runner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 40px;
        height: 40px;
    }

    .group {
        width: 40px;
        height: 40px;
        background-image: url("~/icons/runners.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    DropDown {
        font-weight: 200;
        padding-left:10px;
    }
   
</style>

