<template>
    <Page>

        <ActionBar title="Koşuya Kayıtlı Olanlar">
            <NavigationButton :visibility="'visible'" text="" android.systemIcon="ic_menu_back" />
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <ScrollView dock="top" height="90%" v-if="!loading">
                <StackLayout height="100%" width="100%">

                    <SearchBar backgroundColor="#DA291C" height="60" borderWidth="0" hint="Kişi Ara"
                        :text="searchPhrase" @textChange="searchChanged" @submit="onSubmit" />

                    <ListView for="item in items" class="list-group" @itemTap="onItemTap" height="100%">
                        <v-template>
                            <GridLayout rows="*,*" columns="auto, *">
                                <Image row="0" col="0" rowspan="1" width="60" height="60" margin="10" borderWidth="2"
                                    borderColor="gray" borderRadius="80" verticalAlignment="center" :src="item.photo" />
                                <StackLayout row="0" col="1" verticalAlignment="center">
                                    <Label fontSize="17" :text="item.name + ' ' + item.surname" />
                                    <Label fontSize="12" :text="item.district_name + ', ' + item.city_name" />
                                </StackLayout>
                            </GridLayout>
                        </v-template>
                    </ListView>

                </StackLayout>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <nav :activeRace="activeClass"></nav>
        </DockLayout>

    </Page>
</template>

<script>
    import nav from "../nav";

    export default {
        name: "main",

        components: {
            nav
        },

        props: {
            raceId: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                activeClass: "active",
                loading: true,
                raceId: this.raceId,
                items: {},
                searchPhrase: '',
            };
        },

        created() {
            this.$store.dispatch('registeredUsers', {
                    raceId: this.raceId,
                    searchText: '',
                })
                .then(response => {
                    this.items = response.data

                    this.loading = false
                })
                .catch(error => {
                    console.log(error);
                });
        },

        methods: {
            searchChanged(args)
            {
                let searchBar = args.object;
                let searchText = searchBar.text
                this.searchPhrase = searchText

                this.$store.dispatch('registeredUsers', {
                    raceId: this.raceId,
                    searchText: searchText,
                })
                .then(response => {
                    this.items = response.data
                })
                .catch(error => {
                    console.log(error);
                });
            },
            
        }
    };
</script>
<style>

</style>