<template>
    <Page class="page">
        
        <ActionBar title="Davetini gönderdik">
            <NavigationButton :visibility="'collapsed'" android.systemIcon="ic_menu_back" />
        </ActionBar>

        <DockLayout stretchLastChild="true" backgroundColor="transparent">
            
            <ScrollView dock="top" height="90%" v-if="!loading">
                <StackLayout height="100%" width="100%">

                    <Image row="0" col="0" rowspan="1" width="150" height="150" margin="40 10 10 10" borderWidth="5"
                        borderColor="white" verticalAlignment="center"
                        :src="photo" borderRadius="150" />

                    <Label :text="userName +','" fontSize="30" padding="10 10 0 10" textWrap="true"
                        fontWeight="500" color="white" textAlignment="center" />
                    
                    <Label text="Arkadaşına/Arkadaşlarına davetini gönderdik" fontSize="20" fontWeight="500" textWrap="true" color="white" textAlignment="center" padding="5 20 20 20" marginBottom="30" />

                    <Button text="Koşu Sayfasına Geri Dön" @tap="raceDetail(raceId)"
                        class="btn btn-red m-t-20" height="55" />

                </StackLayout>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <nav></nav>
        </DockLayout>

    </Page>
</template>

<script>
    import nav from "../nav";

    export default {
        name: "sentRaceInvitationsToUsers",

        components: {
            nav
        },

        props: {
            raceId: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                activeClass: 'active',
                loading: true,
                raceId: this.raceId,
                userName: '',
                photo: '',
            };
        },

        created() {
            this.$store.dispatch('getUser')
            .then(response => {
                this.userName = response.data.name
                this.photo = response.data.photo

                this.loading = false
            })
            .catch(error => {
                console.log(error)
            })
        },

        methods: {
            raceDetail(raceId)
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        raceId: raceId
                    }
                }
                
                this.$goto('raceDetail', options)
            },
        }
    };
</script>

<style>
    .image{
        border-radius: 60px;
    }
</style>