<template>
  <Page>
    <ActionBar>
      <StackLayout
        orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left"
      >
        <Image src="~/icons/kampanyalar@3x.png" marginRight="10" width="20" height="20"></Image>
        <Label text="KAMPANYALAR" fontWeight="400" letterSpacing=".1"></Label>
      </StackLayout>
      <NavigationButton
        :visibility="'collapsed'"
        text
        android.systemIcon="ic_menu_back"
        tap="onNavBtnTap"
      />
    </ActionBar>

    <DockLayout stretchLastChild="true">
      <ScrollView dock="top" height="90%">
        <StackLayout width="100%">
          <StackLayout width="100%" dock="top">
            <Label
              text="Açık Kampanyalar"
              backgroundColor="#efefef"
              fontSize="15"
              height="50"
              marginTop="0"
              fontWeight="bold"
              textAlignment="center"
              ios:paddingTop="0"
              android:paddingTop="12"
            ></Label>
            <Label
              text="Bozcaada 2018 Anne Çocuk Eğitim Vakfı İlk İş Babalık"
              textWrap="true"
              fontSize="15"
              width="70%"
              height="100"
              marginTop="0"
              fontWeight="200"
              textAlignment="center"
              ios:paddingTop="0"
              android:paddingTop="12"
            ></Label>
            <Image
              row="0"
              rowspan="2"
              verticalAlignment="top"
              borderRadius="0"
              src="~/assets/acev-logo.png"
              width="66%"
              stretch="aspectFit"
              ios:marginBottom="0"
              android:marginBottom="12"
            ></Image>
          </StackLayout>

          <StackLayout orientation="horizontal" height="80">
            <GridLayout width="50%">
              <Label
                text="45"
                textWrap="true"
                padding="10"
                fontWeight="800"
                fontSize="16"
                textAlignment="center"
                marginTop="0"
                color="#DA291C"
              ></Label>
              <Label
                text="Ulaştığım bağışçı sayısı"
                textWrap="true"
                padding="5"
                fontSize="12"
                textAlignment="center"
                marginTop="30"
                color="#000"
              ></Label>
            </GridLayout>

            <GridLayout width="50%">
              <Label
                text="36.500 TL"
                textWrap="true"
                padding="10"
                fontWeight="800"
                fontSize="16"
                textAlignment="center"
                marginTop="0"
                color="#DA291C"
              ></Label>
              <Label
                text="Ulaştığım bağış tutarı"
                textWrap="true"
                padding="5"
                fontSize="12"
                textAlignment="center"
                marginTop="30"
                color="#000"
              ></Label>
            </GridLayout>
          </StackLayout>
          <StackLayout width="100%" height="50">
            <Label
              text="Kampanya Sayfası"
              textWrap="true"
              padding="5"
              fontSize="14"
              textAlignment="center"
              marginTop="15"
              color="red"
              height="50"
              
            ></Label>
          </StackLayout>
          <StackLayout width="100%" height="30">
            <Label
              text="http://ipk.adimadim.org"
              textWrap="true"
              fontSize="14"
              color="#DA291C"
              textAlignment="center"
              marginTop="0"
            ></Label>
          </StackLayout>
          <GridLayout rows="*,*" columns="*,*">
            <StackLayout row="0" col="0">
              <Label
                fontSize="14"
                padding="10"
                textAlignment="center"
                text="Kampanya hedefim"
                textWrap="true"
              />

              <AnimatedCircle
                backgroundColor="transparent"
                width="100"
                height="100"
                animated="true"
                animateFrom="0"
                barColor="#DA291C"
                rimColor="#e7e7e7"
                fillColor="transparent"
                clockwise="false"
                android:rimWidth="15"
                ios:rimWidth="5"
                progress="80"
                textColor="#DA291C"
              ></AnimatedCircle>
              <Label
                fontSize="30"
                textAlignment="center"
                ios:marginTop="-65"
                android:marginTop="-70"
                color="#DA291C"
                text="%80"
                textWrap="true"
              />
              <Label
                fontSize="14"
                textAlignment="center"
                marginTop="50"
                text="35.000TL / 40.000TL"
                textWrap="true"
              />
            </StackLayout>
            <StackLayout row="0" col="1">
              <Label
                padding="10"
                fontSize="14"
                textAlignment="center"
                text="Kampanya hedefim"
                textWrap="true"
              />

              <AnimatedCircle
                backgroundColor="transparent"
                width="100"
                height="100"
                animated="true"
                animateFrom="0"
                barColor="#DA291C"
                rimColor="#e7e7e7"
                fillColor="transparent"
                clockwise="false"
                 android:rimWidth="15"
                ios:rimWidth="5"
                progress="45"
                textSize="28"
                textColor="#DA291C"
              ></AnimatedCircle>
              <Label
                fontSize="30"
                textAlignment="center"
                ios:marginTop="-65"
                android:marginTop="-70"
                color="#DA291C"
                text="%45"
                textWrap="true"
              />
              <Label
                fontSize="14"
                textAlignment="center"
                marginTop="50"
                text="35.000TL / 40.000TL"
                textWrap="true"
              />
            </StackLayout>
          </GridLayout>
          <StackLayout backgroundColor="#e7e7e7" marginTop="15">
            <Label
              text="Geçmiş Kampanyalar"
              backgroundColor="#efefef"
              fontSize="15"
              height="50"
              marginTop="0"
              fontWeight="bold"
              textAlignment="center"
              ios:paddingTop="0"
              android:paddingTop="12"
            />
          </StackLayout>
          <GridLayout
            rows="*,*,*,*"
            columns="40,*,100, 70"
            color="white"
            paddingTop="15"
            paddingBottom="15"
            paddingRight="5"
            paddingLeft="5"
            backgroundColor="red"
          >
            <StackLayout row="0" col="0">
              <Label text="No" fontSize="14" />
            </StackLayout>
            <StackLayout row="0" col="1">
              <Label text="Yardımseverlik Projeler" fontSize="14" />
            </StackLayout>
            <StackLayout row="0" col="2">
              <Label text="Bağış Tutarı" textAlignment="right" fontSize="14" />
            </StackLayout>
            <StackLayout row="0" col="3">
              <Label text="Bağışçı" textAlignment="center" fontSize="14" />
            </StackLayout>
          </GridLayout>
          <GridLayout
            rows="*,*,*,*"
            columns="40,*,100, 70"
            padding="10"
            borderBottomWidth="1"
            borderBottomColor="#e7e7e7"
          >
            <StackLayout row="0" col="0">
              <Label text="1" fontSize="14" />
            </StackLayout>
            <StackLayout row="0" col="1">
              <Label text="İstanbul 2016 TEGV" fontSize="14" />
            </StackLayout>
            <StackLayout row="0" col="2">
              <Label text="1.000 TL" textAlignment="right" fontSize="14" />
            </StackLayout>
            <StackLayout row="0" col="3">
              <Label textAlignment="center" text="30" fontSize="14" />
            </StackLayout>
          </GridLayout>
          <GridLayout
            rows="*,*,*,*"
            columns="40,*,100, 70"
            padding="10"
            borderBottomWidth="1"
            borderBottomColor="#e7e7e7"
          >
            <StackLayout row="0" col="0">
              <Label text="2" fontSize="14" />
            </StackLayout>
            <StackLayout row="0" col="1">
              <Label text="Antalya 2016 TOFD" fontSize="14" />
            </StackLayout>
            <StackLayout row="0" col="2">
              <Label text="8.000 TL" textAlignment="right" fontSize="14" />
            </StackLayout>
            <StackLayout row="0" col="3">
              <Label text="24" textAlignment="center" fontSize="14" />
            </StackLayout>
          </GridLayout>
          <GridLayout
            rows="*,*,*,*"
            columns="40,*,100, 70"
            padding="10"
            borderBottomWidth="1"
            borderBottomColor="#e7e7e7"
          >
            <StackLayout row="0" col="0">
              <Label text="1" fontSize="14" />
            </StackLayout>
            <StackLayout row="0" col="1">
              <Label text="İstanbul 2016 TEGV" fontSize="14" />
            </StackLayout>
            <StackLayout row="0" col="2">
              <Label text="1.000 TL" textAlignment="right" fontSize="14" />
            </StackLayout>
            <StackLayout row="0" col="3">
              <Label text="30" textAlignment="center" fontSize="14" />
            </StackLayout>
          </GridLayout>
        </StackLayout>
      </ScrollView>

      <nav :activeCampaign="activeClass"></nav>
    </DockLayout>
  </Page>
</template>

<script>
import nav from "./nav";

export default {
  name: "campaign",

  components: {
    nav
  },

  data() {
    return {
      activeClass: "active"
    };
  },

  methods: {}
};
</script>