<template>

    <Page class="page" actionBarHidden="true">

        <DockLayout height="100%" stretchLastChild="false">

            <StackLayout height="70%" dock="top" class="carouselContainer" margin="0">

                <Image src="~/assets/aakosu-big-logo.png" marginTop="50" stretch="aspectFit" width="33%"></Image>
                <Carousel
                    xmlns:ns="nativescript-carousel"
                    width="100%"
                    indicatorColor="#FFFFFF"
                    indicatorRadius="50"
                    finite="false"
                    bounce="false"
                    showIndicator="true"
                    verticalAlignment="bottom"
                    indicatorAnimation="swap"
                    color="white"
                    android:marginTop="40"
                >
                    <CarouselItem id="slide1"  class="carouselItem" verticalAlignment="middle">
                        <Label
                            text="ADIM ADIM KOŞU NEDİR????"
                            class="title"
                            textWrap="true"
                            horizontalAlignment="center"
                            verticalAlignment="top"
                            android:lineHeight="10"
                        />

                        <Label
                            text="İyillik Peşinde Koşan insanların bir araya geldiği bir platformdur."
                            textWrap="true"
                            ios:class="description p-t-20"
                            android:class="description p-30 text-center"
                            android:lineHeight="8"
                            horizontalAlignment="center"
                        />
                    </CarouselItem>



                    
                    <CarouselItem id="slide2" class="carouselItem" verticalAlignment="middle">
                        <Label
                            text="Adım Adım ile yardımseverlik koşusu yapanlar %80 daha fazla bağışçıya ulaşırlar."
                            class="title "
                            textWrap="true"
                            horizontalAlignment="center"
                            verticalAlignment="top"
                            android:lineHeight="10"
                        />
                        <Label
                            text="Adım Adım olarak bugüne kadar yardımseverlik koşusu yapan binlerce kişinin analizini yaptığımızda ilk koşusunda başarılı bir sonuç alan, keyif alan yardımseverlik koşucularının bir daha Yardımseverlik koşusu yapma ihtimalleri, keyif almayanlara göre 2.5 kat daha fazladır."
                            textWrap="true"
                            ios:class="description p-t-20"
                            android:class="description p-30 text-center"
                            android:lineHeight="6"
                            horizontalAlignment="center"
                        />
                    </CarouselItem>
                    <CarouselItem id="slide1"  class="carouselItem" verticalAlignment="middle">
                        <Label
                            text="ADIM ADIM KOŞU NEDİR????"
                            class="title"
                            textWrap="true"
                            horizontalAlignment="center"
                            verticalAlignment="bottom"
                        />

                        <Label
                            text="İyillik Peşinde Koşan insanların bir araya geldiği bir platformdur."
                            textWrap="true"
                            ios:class="description p-t-20"
                            android:class="description p-30 text-center"
                            android:lineHeight="8"
                            horizontalAlignment="center"
                        />
                    </CarouselItem>
                </Carousel>

            </StackLayout>

            <StackLayout class="sponsors" dock="top" height="20%">
                <Label
                    text="İyi Kalpli Markalar"
                    textWrap="true"
                    class="description p-t-10"
                    horizontalAlignment="center"
                    color="white"
                    fontSize="17"
                    fontWeight="400"
                />
            </StackLayout>

            <FlexboxLayout height="10%" borderWidth="0" dock="bottom" padding="0" width="100%">
                <Button class="btn btn-red" width="50%" margin="0" text="GİRİŞ YAP" @tap="$goto('login', options)" ></Button>
                <Button class="btn btn-black" width="50%" margin="0" text="YENİ ÜYELİK" @tap="$goto('register', options)"></Button>
            </FlexboxLayout>

        </DockLayout>

    </Page>

</template>

<script>
import * as geolocation from "nativescript-geolocation";
import { Accuracy } from "tns-core-modules/ui/enums";
import {LocalNotifications} from "nativescript-local-notifications";

export default {
    name: "home",

    data() {
        return {
            options: {
                clearHistory: false,
                backstackVisible: true,
                transition: {
                    name: "slide",
                    curve: "easeIn"
                }
            }
        };
    },

    created() {
            // geolocation.enableLocationRequest();
            
            LocalNotifications.requestPermission().then(
                function(granted) {
                    console.log("Permission granted? " + granted);
                }
            )
    },

    methods: {
        
    }
};
</script>

<style scoped>
 .title {
      padding-top:33%;
  }
</style>
