<template>

    <Page class="page">

        <ActionBar title="GİRİŞ YAP">
            <NavigationButton  android.systemIcon="ic_menu_back" @tap="$navigateBack"/>

            
        </ActionBar>

        <FlexboxLayout class="page">
            <ScrollView>

            <StackLayout class="form" width="100%" marginTop="25%" >

                <StackLayout class="input-field" marginBottom="25" width="90%">
                    <TextField
                        class="input"
                        hint="E-Posta Adresi"
                        keyboardType="email"
                        autocorrect="false"
                        autocapitalizationType="none"
                        returnKeyType="next"
                        fontSize="18"
                        v-model="email"
                    />
                    <StackLayout class="hr-light"/>
                </StackLayout>

                <StackLayout class="input-field" marginBottom="25" width="90%">
                    <TextField ref="password" 
                        class="input" 
                        hint="Şifre" 
                        secure="true" 
                        fontSize="18" 
                        v-model="password"
                    />
                    <StackLayout class="hr-light"/>
                </StackLayout>

                <StackLayout marginBottom="25" width="90%">
                    <ActivityIndicator color="white" busy="true" v-if="loading"></ActivityIndicator>
                </StackLayout>
                
                <Button text="GİRİŞ YAP" @tap="login" class="btn btn-black m-t-20" height="55"/>

                <Label text="Şifremi Unuttum?" color="white" textAlignment="right" padding="10%"/>

                <Label
                    text="Adım Adım Koşu ya da İyilik Peşinde Koş üyeliğin yok mu?"
                    color="white"
                    marginTop="10%"
                    textWrap="true"
                    padding="10%"
                    textAlignment="center"
                />

                <button
                    text="ŞİMDİ KATIL"
                    class="btn"
                    color="white"
                    fontSize="20"
                    textDecoration="underline"
                    @tap="$goto('register')"
                />

            </StackLayout>
            </ScrollView>

        </FlexboxLayout>

    </Page>
    
</template>

<script>

export default {
    name: "login",

    data() {
        return {
            email: '',
            password: '',
            loading: false,
        }
    },

    created() {
    },

    methods: {
        login() {
            this.loading = true
            this.$store.dispatch('retrieveToken', {
                email: this.email,
                password: this.password,
            })
            .then(response => {
                this.loading = false
                this.$goto('raceList')
            })
            .catch(error => {

                this.loading = false

                alert({
                    title: 'Hatalı Giriş',
                    message: error.response.data.message,
                    okButtonText: "Tamam",
                    cancelable: false // [Android only] Gets or sets if the dialog can be canceled by taping outside of the dialog.
                }).then(() => {
                    this.password = ''
                });

            })
        }
    }
};
</script>

<style scoped>
.input-field {
    margin-bottom: 25px;
}
</style>