<template>
  <Page androidStatusBarBackground="#474747">
    
    <ActionBar title="KOŞU">
        <NavigationButton text="" android.systemIcon="ic_menu_back" tap="onNavBtnTap"/>
    </ActionBar>

    <StackLayout>

        <WrapLayout horizontalAlignment="center">
            <Button @tap="startJourney" class="btn btn-success h-120" margin="0" width="24.8%">Başla</Button>
            <Button @tap="endJourney" class="btn btn-dark h-120" margin="0" width="25%">Sonlandır</Button>
            <Button @tap="getDirections" class="btn btn-info h-120" margin="0" width="25%">Yol Tarifi Al</Button>
            <Button @tap="clearRoute" class="btn btn-danger h-120" margin="0" width="25%">Rotayı Sil</Button>
        </WrapLayout>

        <DockLayout>
            <MapView
                width="100%"
                height="85%"
                dock="top"
                :zoom="zoom"
                :latitude="origin.latitude"
                :longitude="origin.longitude"
                v-if="allowExecution"
                @mapReady="mapReady"
                @coordinateLongPress="locationSelected"
            />
            <TextView dock="bottom" :text="journeyDetails" editable="false"/>
        </DockLayout>


    </StackLayout>
    
  </Page>
</template>

<script>
import * as permissions from "nativescript-permissions";
import * as platform from "tns-core-modules/platform";
import MapsHelper from "./MapsHelper.js";

export default {
    name: "map",

    data() {
        return {
            origin: { latitude: 0, longitude: 0 },
            destination: { latitude: 0, longitude: 0 },
            journeyDetails: "İlk önce gideceğin yeri bul ve alanın üzerine basılı tut.",
            allowExecution: false,
            journeyStarted: false,
            mapView: null,
            zoom: 17,
            APIKEY: "AIzaSyASgK-EyVswAr3dln86X7_LtpgWYN9Pf1c"
        }
    },

    created: function() {
        /* dont run the android permissions routine for iOS */
        if (platform.isIOS) {
            this.allowExecution = true;
            return;
        }

        /* list of permissions needed */
        let permissionsNeeded = [
            android.Manifest.permission.ACCESS_FINE_LOCATION,
            android.Manifest.permission.ACCESS_COARSE_LOCATION
        ];
        /* showing up permissions dialog */
        permissions
            .requestPermissions(permissionsNeeded, "Onu bana ver!")
            .then(() => this.allowExecution = true)
            .catch(() => this.allowExecution = false);
    },

    methods: {
        mapReady(args) {
            /* get the mapView instance */
            this.mapView = args.object;

            /* ios map center bug fix */
            setTimeout(() => {
              this.mapView.height = {
                unit: this.mapView.height.unit,
                value: this.mapView.height.value + 0.0004
              };
            }, 100);

            /* turn on my location button on map */
            this.enableMyLocationButton(true);
            /* add destination marker to map */
            this.addMarkerToMap(this.destinationMarker, true);
            /* add my location marker to map (which will point to our location when journey starts) - visibility hidden  */
            this.addMarkerToMap(this.myLocationMarker, false);
            /* set map origin coordinates to present device location */
            this.fetchMyLocation();
        },
        locationSelected(args) {
            /* get coordinates of the point where user long pressed */
            let lat = args.position.latitude;
            let lng = args.position.longitude;
            /* set the obtained coordinates as destination coordinates */
            this.destination.latitude = lat;
            this.destination.longitude = lng;
            /* move the destination marker to the same coordinates */
            this.setMarker(this.destinationMarker, lat, lng);
        },
        getDirections() {
          
            /* hit Directions API - as origin and destination coordinates are set */
            this.hitDirectionsAPI().then(response => {
                
                /* draw route from encoded polyline points */
                this.drawRoute(response.encodedPolylinePoints);

                /* if jouney started, don't adjust the camera */
                if (this.journeyStarted)
                return;

                /* adjust camera to bring route into view */
                this.getRouteInView(
                    response.northEastBounds,
                    response.southWestBounds
                );
            });
        },
        clearRoute() {
            /* remove route drawn between locations on map */
            this.mapView.removeAllPolylines();
        },
        startJourney() {
            /* hide my location indicator and button */
            this.enableMyLocationButton(false);
            /* un-hide my location marker */
            this.myLocationMarker.visible = true;
            /* update journey details */
            this.journeyStarted = true;
            this.journeyDetails = "Yolculuk başladı...";
            /* start watching for location changes and update the map and journey details accordingly */
            this.watchLocationAndUpdateJourney();
        },
        endJourney() {
            /* stop watching for location changes */
            this.clearWatch();
            /* remove the route drawn on map */
            this.clearRoute();
            /* hide my location marker  */
            this.myLocationMarker.visible = false;
            /* bring back my location button on screen */
            this.enableMyLocationButton(true);
            /* update journey details */
            this.journeyStarted = false;
            this.journeyDetails = "Hedefe ulaşıldı.";
        }
    },

    mixins: [ MapsHelper.MapsUIHelper, MapsHelper.DirectionsAPIHelper, MapsHelper.DistanceMatrixAPIHelper, MapsHelper.LocationHelper ]
};
</script>
