<template>

    <GridLayout class="bottomNav" ios:height="150" android:height="175" columns="*,*, 72, *, *"  orientation="horizontal">
        <Label @tap="$goto('campaign')"  class="tabItem campaigns" row="0" col="0" :class="activeCampaign"  />
        <Label @tap="$goto('resultList')" class="tabItem results" row="0" col="1" :class="activeResult"  />
        <Label @tap="$goto('raceList')" class="tabItem runs" row="0" col="2" :class="activeRace"  />
        <StackLayout @tap="$goto('notification')"  class="tabItem notifications" row="0" col="3" :class="activeNotification" >
            <Label :text="notificationCount" v-if="notificationCount > 0" color="black" fontSize="16" width="20" height="20" backgroundColor="white" borderRadius="10" marginTop="8" marginLeft="28" />
        </StackLayout>
        <Label @tap="$goto('profileView')" class="tabItem profile" row="0" col="4" :class="activeProfile"  />
    </GridLayout>

</template>

<script>

export default {

    props: {
        activeCampaign: {
			type: String,
			required: false,
        },
        activeResult: {
			type: String,
			required: false,
        },
        activeRace: {
			type: String,
			required: false,
        },
        activeProfile: {
			type: String,
			required: false,
        },
        activeNotification: {
			type: String,
			required: false,
		},
    },
    
    data() {
        return {
           activeCampaign: this.activeCampaign,
           activeResult: this.activeResult,
           activeRace: this.activeRace,
           activeProfile: this.activeProfile,
           activeNotification: this.activeNotification,
        }
    },

    computed: {
        notificationCount() {
            return this.$store.getters.notificationCount
        }
    },
};
</script>

<style>
.bottomNav {
    color: white;
    background-color:#DA291C;
    border:0 
}
.bottomNav .tabItem {
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    background-color: #DA291C;
    opacity:.5;
}
.bottomNav .tabItem.active {
    border-bottom-color: white;
    opacity: 1;
    border-bottom-width: 2;

}
.bottomNav .tabItem.runs.active {
    border-bottom-color: white;
    border-bottom-width: 0;
    opacity: 1
}
.bottomNav .tabItem.campaigns {
    background-image: url("~/icons/kampanyalar@3x.png");
    background-size: 10%;
}
.bottomNav .tabItem.results {
    background-image: url("~/icons/sonuclar@3x.png");
    background-size: 50%;
}
.bottomNav .tabItem.runs {
    background-image: url("~/icons/kosular-big.png");
    background-size: contain;
    margin-top:0px;
    margin:10px
}
.bottomNav .tabItem.notifications {
    background-image: url("~/icons/bildirimler@3x.png");
    background-size: 50%;
}
.bottomNav .tabItem.profile {
    background-image: url("~/icons/profil@3x.png");
    background-size: 50%;
}
.nav-btn {
    background-color: #ffc4d1;
    margin: 20;
    padding: 10;
    border-radius: 10;
    font-size: 30;
}

.selected {
    background-color: #d4dccd;
    border-radius: 10;
}

button {
    background-color: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
    border-width: 1;
}
</style>