<template>
    <Page>

        <ActionBar>
            <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
                <Image src="~/icons/bildirimler@3x.png" marginRight="10" width="20" height="20"></Image>
                <Label text="BİLDİRİMLER" fontWeight="400" letterSpacing=".1"></Label>
            </StackLayout>
            <NavigationButton :visibility="'collapsed'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap" />
        </ActionBar>

        <DockLayout stretchLastChild="true">
            
            <ScrollView dock="top" height="90%" v-if="itemList == false && !loading">
                <Label text="Bildirim Yok" verticalAlignment="top" marginTop="20" textAlignment="center"></Label>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-else-if="itemList && loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-else-if="!loading">
                <StackLayout width="100%" height="100%">
                    <!-- <StackLayout>
                        <Button @tap="onTapScheduleNotification" class="btn btn-primary"
                            text="Bildirimleri Test Et(1 dakika)"></Button>
                        <Button @tap="onTapCancelAll" class="btn btn-danger" text="İptal"></Button>
                        <Label class="message" :text="message" textWrap="true"></Label> 
                    </StackLayout> -->
                    <RadListView ref="listView" for="item in itemList" swipeActions="true" @itemTap="onItemTap"
                        pullToRefresh="true" @pullToRefreshInitiated="onPullToRefreshInitiated" @itemSwipeProgressStarted="onSwipeStarted"
                        itemReorder="true" @itemReordered="onItemReordered" height="100%">
                        
                        <v-template name="itemswipe">
                            <StackLayout backgroundColor="white">
                                <GridLayout columns="0, *, 0" color="white">
                                    <FlexboxLayout height="100%" id="mark-view" col="0" @tap="onLeftSwipeClick">
                                        <!-- <Label text="Görüntüle" alignSelf="center" textAlignment="center"
                                            width="100%" /> -->
                                    </FlexboxLayout>
                                    <FlexboxLayout height="100%" id="delete-view" col="2" @tap="onRightSwipeClick">
                                        <!-- <Label text="SİL" alignSelf="center" textAlignment="center" width="100%" /> -->
                                    </FlexboxLayout>
                                </GridLayout>
                            </StackLayout>
                        </v-template>

                        <v-template>
                            <StackLayout :class="'item item' + item.id" :backgroundColor="item.opened == 1 ? 'white' : '#fbedec'" orientation="vertical"
                                borderBottomWidth="1" borderBottomColor="#e7e7e7">
                                <GridLayout rows="*,*" columns="80, *" padding="10" @tap="notificationDetail(item.function_name, item.id, item.race_id, item.team_id, item.sender_user_id, item.title, item.opened)">
                                    <StackLayout col="0" height="100%" margin="10">
                                        <Image :src="'~/icons/' + item.icon" width="40" height="40" />
                                    </StackLayout>

                                    <StackLayout col="1" verticalAlignment="center" paddingBottom="0">
                                        <Label :text="item.title" textWrap="true" fontWeight="400" fontSize="16" />
                                        <Label :text="differenceFind(item.created_at) + ' önce'" fontWeight="300" fontSize="12" />
                                    </StackLayout>
                                </GridLayout>
                            </StackLayout>
                        </v-template>

                    </RadListView>
               
                </StackLayout>
            </ScrollView>

            <nav :activeNotification="activeClass"></nav>
        </DockLayout>
    </Page>
</template>


<script>
    import {ObservableArray} from "tns-core-modules/data/observable-array";
    import {LocalNotifications} from "nativescript-local-notifications";
    import {alert} from "tns-core-modules/ui/dialogs";
    import {Color} from "tns-core-modules/color";
    import nav from "./nav";
    import moment from 'moment';

    export default {
        name: "notification",

        components: {
            nav,
        },
        
        data() {
            return {
                activeClass: "active",
                loading: true,
                itemList: new ObservableArray([]),
            };
        },

        created() 
        {
            this.$store.dispatch('getToken')
            this.$store.dispatch('getUserId')
            this.$store.dispatch('getNotifications')
            .then(response => {
                this.itemList.push(response.data);
                this.loading = false
                this.$store.dispatch('allViewed')
                this.$store.dispatch('getNotificationCount')
            })
            .catch(error => {
                this.loading = false
                this.itemList = new ObservableArray([])
                console.log(error.response.data.message);
            })
        },

        methods: {
            notificationDetail(type, notificationId, raceId, teamId, senderUserId, title, opened)
            {
                if(opened == '0')
                {
                    this.$store.dispatch('readed', notificationId)
                }

                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        notificationId: notificationId,
                        raceId: raceId,
                        teamId: teamId,
                        senderUserId: senderUserId,
                        notificationTitle: title,
                    }
                }
                
                this.$goto(type, options)
            },

            differenceFind(notificationDate)
            {
                const createdAt = moment(String(notificationDate)).format('YYYY/MM/DD HH:mm')
                var diff = Math.abs(new Date() - new Date(createdAt));
                var minutes = Math.floor((diff/1000)/60);
                var hour = Math.floor(minutes / 60);
                var day = Math.floor(hour / 24);
                
                if(minutes < 60)
                {
                    return minutes + ' dakika'
                }
                else if(hour < 24)
                {
                    return hour + ' saat'
                }
                else
                {
                    return day + ' gün'
                }
            },

            onSwipeStarted({data,object}) 
            {
                const swipeLimits = data.swipeLimits;
                const swipeView = object;
                const leftItem = swipeView.getViewById('mark-view');
                const rightItem = swipeView.getViewById('delete-view');
                swipeLimits.left = leftItem.getMeasuredWidth();
                swipeLimits.right = rightItem.getMeasuredWidth();
                swipeLimits.threshold = leftItem.getMeasuredWidth() / 2;
            },

            onLeftSwipeClick(event) 
            {
                console.log('left action tapped');
                // this.$refs.listView.notifySwipeToExecuteFinished();
            },

            onRightSwipeClick({object}) 
            {
                console.log('right action tapped');
                console.log(object.bindingContext.id)
                // remove item
                // this.itemList.splice(this.itemList.indexOf(object.bindingContext), 1);
                // this.$refs.listView.notifySwipeToExecuteFinished();
            },

            onNavigationButtonTap() 
            {
                frameModule.topmost().goBack();
            },

            onTapHasPermission() 
            {
                LocalNotifications.hasPermission().then(granted => {
                    alert({
                        title: "Permission granted?",
                        message: granted ? "YES" : "NO",
                        okButtonText: "OK"
                    });
                });
            },

            onTapScheduleNotification() 
            {
                LocalNotifications.schedule([{
                    id: 1,
                    title: "Yakın bir zamanda koşu var. ",
                    subtitle: "24 Ağustos 2019 Pazar günü Belgrad Ormanında koşu var. Katılmak için hemen tıkla.  ",
                    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut",
                    bigTextStyle: false, // Allow more than 1 row of the 'body' text on Android, but setting this to true denies showing the 'image'
                    color: new Color("green"),
                    image: "http://adimadim.org/uploads/img/Ekran%20Resmi%202018-05-08%2017.47.44.png",
                    thumbnail: "https://www.uplifers.com/wp-content/uploads/2014/09/ad%C4%B1m-ad%C4%B1m-%C3%A7aylaklar-08.jpg",
                    forceShowWhenInForeground: true,
                    channel: "vue-channel",
                    ticker: "Special ticker text for Vue (Android only)",
                    // interval: "minute",
                    // at: new Date(new Date().getTime() + (5 * 1000)), // 5 seconds from now
                    actions: [
                        {
                            id: "yes",
                            type: "button",
                            title: "Yes (and launch app)",
                            launch: true
                        },
                        {
                            id: "no",
                            type: "button",
                            title: "No",
                            launch: false
                        }
                    ]
                }])
                .then(() => {
                    alert({
                        title: "Notification scheduled",
                        message: "ID: 1",
                        okButtonText: "OK, thanks"
                    });
                })
                .catch(error => console.log("doSchedule error: " + error));
            },

            onTapCancelAll() 
            {
                LocalNotifications.cancelAll()
                .then(() => {
                    alert({
                        title: "Tüm bildirimler iptal edildi.",
                        okButtonText: "Tamam"
                    });
                })
                .catch(error => console.log("doCancelAll error: " + error));
            },

            onPullToRefreshInitiated ({ object }) {
                this.$nextTick(() => {

                    this.$store.dispatch('getNotificationsByViewed')
                        .then(response => {

                            for(let i = 0; i < response.data.length; i++)
                            {
                                this.itemList.unshift(response.data[i])
                            }
                        
                            object.notifyPullToRefreshFinished()
                            this.$store.dispatch('allViewed')
                        })
                        .catch(error => {
                            object.notifyPullToRefreshFinished();
                            console.log(error.response.data.message);
                        })

                })
            },

            onItemReordered({ index, data, object }) {
                console.log('eee')
                // console.log(`Item reordered from index ${index} to ${data.targetIndex}`);
            },
        }
    };
</script>






<style scoped>
    #mark-view {
        background-color: white;

    }

    #delete-view {
        background-color: red;

    }

    .hr-light {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .notifyIcon1 {
        background-image: url("~/icons/runner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 70px;
        height: 70px;
        margin-top: 20px;
    }

    .notifyIcon2 {
        width: 70px;
        height: 70px;
        margin-top: 20px;
        background-image: url("~/icons/runners.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .nContainer {
        padding: 20px;
    }
</style>