<template>
    <Page>
        <ActionBar title="BİLDİRİM DETAYI">
            <NavigationButton :visibility="'collapsed'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap" />
        </ActionBar>

        <DockLayout stretchLastChild="true">
            <ScrollView dock="top" height="90%">
                <StackLayout width="100%" height="100%">
                    <StackLayout class="p-10">

                        <Label class="message" fontWeight="600" textAlignment="center"
                            text="Arkadaşın seni Papatyalar takımına davet etti" marginBottom="50"
                            textWrap="true"></Label>
                        <Label
                            text="22 Ağustos 2019, 08:00, Belgrad Ormanı Koşusunda beraber koşmak için arkadaşın seni bir takıma davet ediyor. Takıma katılmak için alttaki KABUL ET butonuna tıklayın."
                            textWrap="true" textAlignment="center"></Label>

                        <StackLayout height="200">

                        </StackLayout>

                        <Button class="btn btn-primary btn-lg" width="100%" height="60" text="KABUL ET" />

                    </StackLayout>
                </StackLayout>
            </ScrollView>

            <nav :activeNotification="activeClass"></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import {ObservableArray} from "tns-core-modules/data/observable-array";
    import {LocalNotifications} from "nativescript-local-notifications";
    import {Color} from "tns-core-modules/color";
    import nav from "./nav";
    import notification from "./Notification";

    export default {
        name: "notificationdetail",

        components: {
            nav
        },

        data() {
            return {
                activeClass: "active",

            };
        },

        methods: {



        }
    };
</script>






<style scoped>
    #mark-view {
        background-color: green;

    }

    #delete-view {
        background-color: red;

    }

    .hr-light {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .notifyIcon1 {
        background-image: url("~/icons/runner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 70px;
        height: 70px;
        margin-top: 20px;
    }

    .notifyIcon2 {
        width: 70px;
        height: 70px;
        margin-top: 20px;
        background-image: url("~/icons/runners.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .nContainer {
        padding: 20px;
    }
</style>