<template>
    <Page>
        <ActionBar title="ÜYE OL">
            <NavigationButton :visibility="'visible'" text="" android.systemIcon="ic_menu_back" @tap="$navigateBack"/>
        </ActionBar>

        <FlexboxLayout class="page">
            <ScrollView>

                <StackLayout class="form" width="100%" marginTop="5%">

                    <StackLayout class="input-field" marginBottom="25" width="90%">
                        <TextField
                            class="input"
                            hint="E-Posta Adresi"
                            keyboardType="email"
                            autocorrect="false"
                            autocapitalizationType="none"
                            returnKeyType="next"
                            fontSize="18"
                            v-model="formData.email"
                        />
                        <StackLayout class="hr-light"/>
                        <Label :text="errorMessage.email" class="label-error" />
                    </StackLayout>

                    <StackLayout class="input-field" marginBottom="25" width="90%">
                        <TextField
                            class="input"
                            hint="İsim"
                            autocorrect="false"
                            autocapitalizationType="none"
                            returnKeyType="next"
                            fontSize="18"
                            v-model="formData.name"
                        />
                        <Label :text="errorMessage.name" class="label-error" />
                        <StackLayout class="hr-light"/>
                    </StackLayout>

                    <StackLayout class="input-field" marginBottom="25" width="90%">
                        <TextField
                            class="input"
                            hint="Soyisim"
                            autocorrect="false"
                            autocapitalizationType="none"
                            returnKeyType="next"
                            fontSize="18"
                            v-model="formData.surname"
                        />
                        <StackLayout class="hr-light"/>
                        <Label :text="errorMessage.surname" class="label-error" />
                    </StackLayout>

                    <StackLayout class="input-field" marginBottom="25" width="90%">
                        <TextField
                            ref="password" 
                            class="input" 
                            hint="Şifre" 
                            secure="true" 
                            fontSize="18" 
                            v-model="formData.password"
                        />
                        <StackLayout class="hr-light"/>
                        <Label :text="errorMessage.password" class="label-error" />
                    </StackLayout>
                    
                    <StackLayout class="input-field" marginBottom="25" width="90%">
                        
                        <TextField
                            ref="password" 
                            class="input" 
                            hint="Şifre Tekrar" 
                            secure="true" 
                            fontSize="18" 
                            v-model="formData.passwordAgain"
                        />
                        <StackLayout class="hr-light"/>
                        <Label :text="errorMessage.passwordAgain" class="label-error" />

                        <StackLayout paddingTop="15">
                            <check-box
                                :checked="formData.isContract"
                                text="Kullanıcı ve gizlilik sözleşmesini okudum, onaylıyorum"
                                fillColor="white"
                                color="white"
                                textWrap="true"
                                @checkedChange="formData.isContract = $event.value"
                            />
                        </StackLayout>
                        <Label :text="errorMessage.contract" class="label-error" />

                    </StackLayout>

                    <Button text="ÜYE OL" @tap="register"  class="btn btn-black m-t-20" height="55"/>

                    <Label
                        text="Hesabın var mı?"
                        color="white"
                        marginTop="10%"
                        textWrap="true"
                        padding="10%"
                        textAlignment="center"
                    />

                    <button
                        text="GİRİŞ YAP"
                        class="btn"
                        color="white"
                        fontSize="20"
                        textDecoration="underline"
                        @tap="$goto('login')"
                    />

                </StackLayout>

            </ScrollView>
            

        </FlexboxLayout>

    </Page>

</template>

<script>
export default {
    name: "register",

    data() {
        return {
            loading: false,
            formData: {
                name: '',
                surname: '',
                email: '',
                password: '',
                passwordAgain: '',
                isContract: false,
            },
            errorMessage : {
                email: '',
                name: '',
                surname: '',
                password: '',
                passwordAgain: '',
                contract: '',
            }
        }
    },

    methods: {
        register() {
            this.loading = true

            this.errorMessage = {}
            let validateStatus = this.validateRegister()

            if (validateStatus)
            {
                this.$store.dispatch('register', {
                    name: this.formData.name,
                    surname: this.formData.surname,
                    email: this.formData.email,
                    password: this.formData.password,
                    isContract: this.formData.isContract,
                })
                .then(response => {
                    this.loading = false
                    alert({
                        title: 'Başarılı',
                        message: response.data.message,
                        okButtonText: "Tamam",
                        cancelable: false 
                    }).then(() => {
                        this.$goto('login')
                    });
                })
                .catch(error => {
                    this.loading = false
                    
                    alert({
                        title: 'Uyarı',
                        message: error.response.data.message,
                        okButtonText: "Tamam",
                        cancelable: false
                    }).then(() => {
                        this.password = ''
                    });
                })
            }
        },

        validateRegister() {
            let status = true

            if(this.formData.email == '')
            {
                this.errorMessage.email = 'E-Posta alanı boş bırakılamaz'
                status = false
            }
            else
            {
                var reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (!reg.test(this.formData.email))
                {
                    this.errorMessage.email = 'E-Posta formatı uygun değil'
                    status = false
                }
            }

            if(this.formData.name == '')
            {
                this.errorMessage.name = 'İsim alanı boş bırakılamaz'
                status = false
            }

            if(this.formData.surname == '')
            {
                this.errorMessage.surname = 'Soyisim alanı boş bırakılamaz'
                status = false
            }

            if(this.formData.password == '')
            {
                this.errorMessage.password = 'Şifre alanı boş bırakılamaz'
                status = false
            }
            else
            {
                if(this.formData.password.lenght >= 6)
                {
                    this.errorMessage.password = 'Şifre en az 6 karakterli olmalıdır'
                    status = false
                }
            }

            if(this.formData.password != this.formData.passwordAgain)
            {
                this.errorMessage.passwordAgain = 'Şifre Tekrar alanı Şifre alanı ile eşleşmiyor'
                status = false
            }
            
            if(this.formData.isContract == false)
            {
                this.errorMessage.contract = 'Sözleşmeyi onaylayınız'
                status = false
            }

            return status
        }
    }
};
</script>
