<template>
    <Page>

        <ActionBar>
            <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
                <Image src="~/icons/sonuclar@3x.png" marginRight="10" width="20" height="20"></Image>
                <Label text="SONUÇLAR" fontWeight="400" letterSpacing=".1"></Label>
            </StackLayout>
            <NavigationButton :visibility="'collapsed'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap" />
        </ActionBar>

        <DockLayout stretchLastChild="true">
            
            <ScrollView dock="top" height="90%" v-if="!loading">
                
                <StackLayout verticalAlignment="top" height="100%">

                    <GridLayout rows="100,100,50" columns="90, 150,*" color="white" padding="0" class="bg" height="180">
                        
                        <Image row="0" col="0" rowspan="1" width="80" height="80" margin="5" borderWidth="3"
                            borderColor="white" verticalAlignment="center"
                            :src="user.photo"
                            borderRadius="80" />

                        <StackLayout row="0" col="1" paddingLeft="7" paddingTop="30">
                            <Label :text="user.fullname" fontWeight="500" />
                            <Label :text="user.districtAndCity" fontSize="13" />
                        </StackLayout>

                        <StackLayout row="0" col="2" paddingTop="2" paddingLeft="10" v-if="bestRunning.ranking != 0">
                            <FlexboxLayout row="0" col="2" paddingTop="30">
                                <Label :text="bestRunning.ranking  +'. '" fontWeight="500" fontSize="15" />
                                <Label :text="'/ ' + bestRunning.countUser + ' koşucu'" fontSize="13" />
                            </FlexboxLayout>
                            <Label :text="bestRunning.finishingHour" fontSize="13" />
                        </StackLayout>
                        
                        <StackLayout row="1" colSpan="3" paddingTop="0" orientation="horizontal">
                            <Button text="Katıldığım Koşular" @tap="classControl('tab1')" :class="tab1 ? 'activeTab' : ''" width="50%" margin="0" padding="0"
                                height="60" />
                            <Button text="Tüm Koşular" @tap="classControl('tab2')" :class="tab2 ? 'activeTab' : ''" width="50%" margin="0" padding="0" height="60" />
                        </StackLayout>

                    </GridLayout>

                    <StackLayout :visibility="tab1 ? 'visible' : 'collapsed'">
                        <StackLayout orientation="vertical" width="100%" verticalAlignment="top" v-if="!registeredRow">
                            <Label text="Koşu bulunamadı" verticalAlignment="top" marginTop="20" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout orientation="vertical" width="100%" verticalAlignment="top" v-else-if="registeredRow">
                            <ListView for="row in registeredRow" separatorColor="transparent" height="300">
                                <v-template>
                                    
                                    <GridLayout columns="70, *, 50" rows="auto, auto, auto" width="100%"
                                        verticalAlignment="top" borderBottomWidth="1" borderBottomColor="#e7e7e7"
                                        @tap="resultStatistic(row.id, row.title)">

                                        <StackLayout row="0" col="0" class="date red">
                                            <Label :text="dateDayNumber(row.race_start_date)" fontWeight="300" verticalAlignment="center" fontSize="24px" textAlignment="center" />
                                            <Label :text="dateMonthText(row.race_start_date)" fontWeight="400" fontSize="13px" marginBottom="3" verticalAlignment="center" textAlignment="center" />
                                            <Label :text="dateYearNumber(row.race_start_date)" fontWeight="300" fontSize="13px" verticalAlignment="center" textAlignment="center" />
                                        </StackLayout>

                                        <StackLayout row="0" col="1" padding="15">
                                            <Label :text="row.title" textWrap="true" />

                                            <Label :text="row.ranking + '. sıradasın'" fontSize="12px" color="#DA291C" fontWeight="600" />

                                            <GridLayout columns="20, *, 20, *" width="100%">
                                                <Label :text="row.count_user" row="0" col="0" fontSize="12px" color="#DA291C" fontWeight="600" />
                                                <Label text="kişi koştu" row="0" col="1" fontSize="11px" />
                                                <Label :text="row.count_team" row="0" col="2" fontSize="12px" color="#DA291C" fontWeight="600" />
                                                <Label text="takım koştu" row="0" col="3" fontSize="11px" />
                                            </GridLayout>
                                        </StackLayout>

                                        <StackLayout row="0" col="2" verticalAlignment="center">
                                            <Label color="black" class="la"
                                                textAlignment="center">{{'la-angle-right' | fonticon}}</Label>
                                        </StackLayout>
                                        
                                    </GridLayout>

                                </v-template>
                            </ListView>
                        </StackLayout>
                    </StackLayout>

                    <StackLayout :visibility="tab2 ? 'visible' : 'collapsed'">
                        <StackLayout orientation="vertical" width="100%" verticalAlignment="top" v-if="!allRow">
                            <Label text="Koşu bulunamadı" verticalAlignment="top" marginTop="20" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout orientation="vertical" width="100%" verticalAlignment="top" v-else-if="allRow">
                            <ListView for="row in allRow" separatorColor="transparent" height="300">
                                <v-template>
                                    
                                    <GridLayout columns="70, *, 50" rows="auto, auto, auto" width="100%"
                                        verticalAlignment="top" borderBottomWidth="1" borderBottomColor="#e7e7e7"
                                        @tap="resultStatistic(row.id, row.title)">

                                        <StackLayout row="0" col="0" class="date" :class="row.race_ranking ? 'red' : 'white'">
                                            <Label :text="dateDayNumber(row.start_date)" fontWeight="300" verticalAlignment="center" fontSize="24px" textAlignment="center" />
                                            <Label :text="dateMonthText(row.start_date)" fontWeight="400" fontSize="13px" marginBottom="3" verticalAlignment="center" textAlignment="center" />
                                            <Label :text="dateYearNumber(row.start_date)" fontWeight="300" fontSize="13px" verticalAlignment="center" textAlignment="center" />
                                        </StackLayout>

                                        <StackLayout row="0" col="1" padding="15">
                                            <Label :text="row.title" textWrap="true" />

                                            <Label :text="row.race_ranking ? row.race_ranking + '. sıradasın' : 'Katılmadın'" fontSize="12px" color="#DA291C" fontWeight="600" />

                                            <GridLayout columns="20, *, 20, *" width="100%">
                                                <Label :text="row.count_user" row="0" col="0" fontSize="12px" color="#DA291C" fontWeight="600" />
                                                <Label text="kişi koştu" row="0" col="1" fontSize="11px" />
                                                <Label :text="row.count_team" row="0" col="2" fontSize="12px" color="#DA291C" fontWeight="600" />
                                                <Label text="takım koştu" row="0" col="3" fontSize="11px" />
                                            </GridLayout>
                                        </StackLayout>

                                        <StackLayout row="0" col="2" verticalAlignment="center">
                                            <Label color="black" class="la"
                                                textAlignment="center">{{'la-angle-right' | fonticon}}</Label>
                                        </StackLayout>
                                        
                                    </GridLayout>

                                </v-template>
                            </ListView>
                        </StackLayout>
                    </StackLayout>

                </StackLayout>

            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <nav :activeResult="activeClass"></nav>
        </DockLayout>

    </Page>
</template>

<script>
    import nav from "../nav";
    import moment from 'moment'

    export default {
        name: "result",

        components: {
            nav
        },

        data() {
            return {
                activeClass: "active",
                loading: true,
                tab1: true,
                tab2: false,
                registeredRow: {},
                allRow: {},
                bestRunning: {
                    ranking: 0,
                    countUser: 0,
                    finishingHour: 0,
                },
                user: {
                    fullname: '',
                    photo: '',
                    districtAndCity: '',
                }
            };
        },
        created() {
            this.$store.dispatch('getToken')
            this.$store.dispatch('getUserId')

            this.$store.dispatch('getUser')
                .then(response => {
                    this.user.fullname = response.data.name + ' ' + response.data.surname
                    this.user.photo = response.data.photo
                    this.user.districtAndCity = response.data.district_name + ', ' + response.data.city_name
                })
                .catch(error => {
                    console.log(error)
                })
            
            this.$store.dispatch('getRegisteredResults')
                .then(response => {
                    this.registeredRow = response.data
                    this.loading = false
                })
                .catch(error => {
                    console.log(error);
                });

            this.$store.dispatch('getResults')
                .then(response => {
                    this.allRow = response.data
                })
                .catch(error => {
                    console.log(error);
                });

            this.$store.dispatch('bestRunning')
                .then(response => {
                    this.bestRunning.ranking = response.data.ranking
                    this.bestRunning.countUser = response.data.count_user
                    this.bestRunning.finishingHour = response.data.finishing_hour
                })
                .catch(error => {
                    console.log(error.response.data.message);
                });
        },

        methods: {
            resultStatistic(id, title)
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        raceId: id,
                        raceTitle: title,
                    }
                }
                this.$goto('resultStatistic', options)
            },

            dateDayNumber(value)
            {
                if (value) {
                    return moment(String(value)).format('DD')
                }
            },
            
            dateMonthText(value)
            {
                if (value) {
                    return moment(String(value)).format('MMMM')
                }
            },

            dateYearNumber(value)
            {                
                if (value) {
                    return moment(String(value)).format('Y')
                }
            },

            classControl(item)
            {
                if (item == 'tab1') 
                {
                    this.tab1 = true
                    this.tab2 = false
                }
                else if (item == 'tab2')
                {
                    this.tab1 = false
                    this.tab2 = true
                }   
            }
        }
    };
</script>
<style>
    .bg {
        background-image: url("~/assets/background.jpg");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
    }

    .activeTab {
        background-color: white;
        color: #DA291C;
    }

    .date {
        border-right-color: #e7e7e7;
        border-right-width: 2px;
        border-bottom-color: white;
        border-bottom-width: 1px;
        align-content: center;
        text-align: center;
        padding-top: 11%;
        padding-left: 0;
    }

    .date.red {
        background-color: red;
    }

    .date.red * {
        color: white;
    }

    .person {
        background-image: url("~/icons/runner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 40px;
        height: 40px;
    }

    .group {
        width: 40px;
        height: 40px;
        background-image: url("~/icons/runners.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    DropDown {
        font-weight: 200;
    }
</style>