<template>
    <Page>
        <ActionBar :title="raceTitle">
            <NavigationButton :visibility="'visible'" text="" android.systemIcon="ic_menu_back" />
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <ScrollView dock="top" height="90%" v-if="!loading">

                <StackLayout verticalAlignment="top" height="100%">

                    <StackLayout dock="top" width="100%">
                        <GridLayout rows="100,100,50" columns="90, 150,*" color="white" padding="0" class="bg" height="180">
                            
                            <Image row="0" col="0" rowspan="1" width="80" height="80" margin="5" borderWidth="3"
                                borderColor="white" verticalAlignment="center"
                                :src="user.photo"
                                borderRadius="80" />

                            <StackLayout row="0" col="1" paddingLeft="7" paddingTop="30">
                                <Label :text="user.fullname" fontWeight="500" />
                                <Label :text="user.districtAndCity" fontSize="13" />
                            </StackLayout>

                            <StackLayout row="0" col="2" paddingTop="2" paddingLeft="10">
                                <FlexboxLayout row="0" col="2" paddingTop="30">
                                    <Label :text="bestRunning.ranking  +'. '" fontWeight="500" fontSize="15" />
                                    <Label :text="'/ ' + bestRunning.countUser + ' koşucu'" fontSize="13" />
                                </FlexboxLayout>
                                <Label :text="bestRunning.finishingHour" fontSize="13" />
                            </StackLayout>

                            <StackLayout row="1" colSpan="3" paddingTop="0" orientation="horizontal" width="100%">
                                <Button text="Tümü" @tap="classControl('all')" :class="filter.all ? 'activeTab' : ''" width="20%" margin="0" padding="0" height="60" />
                                <Button text="Kadın" @tap="classControl('female')" :class="filter.female ? 'activeTab' : ''" width="20%" margin="0" padding="0" height="60" />
                                <Button text="Erkek" @tap="classControl('male')" :class="filter.male ? 'activeTab' : ''" width="20%" margin="0" padding="0" height="60" />
                                <Button text="Diğer" @tap="classControl('other')" :class="filter.other ? 'activeTab' : ''" width="20%" margin="0" padding="0" height="60" />
                                <Button text="Takım" @tap="teamFilter()" :class="filter.team ? 'activeTab' : ''" width="20%" margin="0" padding="0" height="60" />
                            </StackLayout>
                        </GridLayout>
                    </StackLayout>

                    <StackLayout :visibility="'visible'" height="100%" width="100%">
                        
                        <GridLayout columns="50, 70, *, 70" padding="8" rows="auto, auto, auto" width="100%" verticalAlignment="top"
                            class="raceItem">

                            <StackLayout row="0" col="0" verticalAlignment="center">
                                <Label text="Sıra" verticalAlignment="center" fontSize="14px" textAlignment="center" />
                            </StackLayout>

                            <StackLayout row="0" col="1" colSpan="2" padding="5">
                                <Label text="İsim Soyisim" verticalAlignment="center" fontSize="14px" textAlignment="left" />
                            </StackLayout>

                            <StackLayout row="0" col="3" verticalAlignment="center">
                                <Label textAlignment="left" text="Süre" />
                            </StackLayout>

                        </GridLayout>

                        <StackLayout orientation="vertical" width="100%" verticalAlignment="top" v-if="!userRows && !teamRows">
                            <Label text="İstatistik bulunamadı" verticalAlignment="top" marginTop="20" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout v-else-if="userRows && !teamRows">
                            <ListView for="row in userRows" separatorColor="transparent" height="100%">

                                <v-template>
                                    <GridLayout columns="50, 70, *, 70" rows="auto, auto, auto" width="100%" verticalAlignment="top"
                                        class="raceItem" :class="row.user_id == user.id ? 'active' : ''">

                                        <StackLayout row="0" col="0" verticalAlignment="center">
                                            <Label :text="row.ranking" verticalAlignment="center" fontSize="24px" textAlignment="center" />
                                        </StackLayout>

                                        <StackLayout row="0" col="1" padding="5">
                                            <Image row="0" col="0" rowspan="1" width="60" height="60" margin="0" borderWidth="1"
                                                borderColor="black" verticalAlignment="center"
                                                :src="row.photo"
                                                borderRadius="80" />
                                        </StackLayout>

                                        <StackLayout row="0" col="2" verticalAlignment="center">
                                            <Label textAlignment="left" :text="row.name + ' ' + row.surname"></Label>
                                        </StackLayout>

                                        <StackLayout row="0" col="3" verticalAlignment="center">
                                            <Label textAlignment="left" :text="row.finishing_hour" />
                                        </StackLayout>

                                    </GridLayout>
                                </v-template>
                            </ListView>
                        </StackLayout>

                        <StackLayout v-else-if="teamRows && !userRows">
                            <ListView for="teamRow in teamRows" separatorColor="transparent" height="100%">

                                <v-template>
                                    <GridLayout columns="50, 70, *, 70" rows="auto, auto, auto" width="100%" verticalAlignment="top"
                                        class="raceItem" :class="teamRow.user_id == user.id ? 'active' : ''">

                                        <StackLayout row="0" col="0" verticalAlignment="center">
                                            <Label :text="teamRow.ranking" verticalAlignment="center" fontSize="24px" textAlignment="center" />
                                        </StackLayout>

                                        <StackLayout row="0" col="1" padding="5">
                                            <Image row="0" col="0" rowspan="1" width="60" height="60" margin="0" borderWidth="1"
                                                borderColor="black" verticalAlignment="center" borderRadius="80"
                                                :src="teamRow.photo" v-if="teamRow.photo" />
                                            <Label :text="teamRow.name.charAt(0).toUpperCase()" v-else-if="!teamRow.photo" fontWeight="700" fontSize="20" backgroundColor="gray" borderRadius="50" textAlignment="center" width="60" height="60" />
                                        </StackLayout>

                                        <StackLayout row="0" col="2" verticalAlignment="center">
                                            <Label textAlignment="left" :text="teamRow.name"></Label>
                                        </StackLayout>

                                        <StackLayout row="0" col="3" verticalAlignment="center">
                                            <Label textAlignment="left" :text="teamRow.finishing_hour" />
                                        </StackLayout>

                                    </GridLayout>
                                </v-template>
                            </ListView>
                        </StackLayout>

                    </StackLayout>

                </StackLayout>

            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <nav :activeResult="activeClass"></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import nav from "../nav";

    export default {
        name: "resultStatistic",

        components: {
            nav
        },

        props: {
            raceId: {
                type: Number,
                required: true
            },
            raceTitle: {
                type: String,
                required: true
            },
        },

        data() {
            return {
                activeClass: "active",
                loading: true,
                raceId: this.raceId,
                raceTitle: this.raceTitle,
                teamRows: {},
                userRows: {},
                bestRunning: {
                    ranking: 0,
                    countUser: 0,
                    finishingHour: 0,
                },
                user: {
                    id: '',
                    fullname: '',
                    photo: '',
                    districtAndCity: '',
                },
                filter: {
                    all: true,
                    female: false,
                    male: false,
                    team: false,
                    other: false,
                },
            };
        },

        created() {
            this.$store.dispatch('getToken')
            this.$store.dispatch('getUserId')

            this.$store.dispatch('getUser')
                .then(response => {
                    this.user.id = response.data.id
                    this.user.fullname = response.data.name + ' ' + response.data.surname
                    this.user.photo = response.data.photo
                    this.user.districtAndCity = response.data.district_name + ', ' + response.data.city_name
                })
                .catch(error => {
                    console.log(error)
                })

            this.$store.dispatch('getUserStatistic', {
                    raceId: this.raceId,
                    filterType: '',
                    filterVal: ''
                })
                .then(response => {
                    this.userRows = response.data;
                    this.teamRows = false
                    this.loading = false
                })
                .catch(error => {
                    console.log(error.response.data.message);
                });

            this.$store.dispatch('bestRunning')
                .then(response => {
                    this.bestRunning.ranking = response.data.ranking
                    this.bestRunning.countUser = response.data.count_user
                    this.bestRunning.finishingHour = response.data.finishing_hour
                })
                .catch(error => {
                    console.log(error.response.data.message);
                });
        },

        methods: {
            classControl(item)
            {
                let filterType = ''
                let filterVal = ''

                if (item == 'all') 
                {
                    this.filter.all = true
                    this.filter.female = false
                    this.filter.male = false
                    this.filter.team = false
                    this.filter.other = false

                    filterType = 'all'
                    filterVal = '1'
                }
                else if (item == 'female')
                {
                    this.filter.all = false
                    this.filter.female = true
                    this.filter.male = false
                    this.filter.team = false
                    this.filter.other = false

                    filterType = 'gender'
                    filterVal = 'Kadın'
                } 
                else if (item == 'male')
                {
                    this.filter.all = false
                    this.filter.female = false
                    this.filter.male = true
                    this.filter.team = false
                    this.filter.other = false

                    filterType = 'gender'
                    filterVal = 'Erkek'
                } 
                else if (item == 'other')
                {
                    this.filter.all = false
                    this.filter.female = false
                    this.filter.male = false
                    this.filter.team = false
                    this.filter.other = true

                    filterType = 'gender'
                    filterVal = 'Diğer'
                }

                this.teamRows = false

                this.$store.dispatch('getUserStatistic', {
                    raceId: this.raceId,
                    filterType: filterType,
                    filterVal: filterVal
                })
                .then(response => {
                    this.userRows = response.data
                })
                .catch(error => {
                    console.log(error.response.data.message)
                    this.userRows = false
                });
            },

            teamFilter()
            {
                this.userRows = false

                this.filter.all = false
                this.filter.female = false
                this.filter.male = false
                this.filter.team = true
                this.filter.other = false
                
                this.$store.dispatch('getTeamStatistic', {
                    raceId: this.raceId,
                })
                .then(response => {
                    this.teamRows = response.data
                })
                .catch(error => {
                    console.log(error.response.data.message)
                    this.teamRows = false
                });
            }
        }
    };
</script>


<style scoped>
    .raceItem {
        font-weight: 200;
        font-size: 14px;
        border-bottom-color: #e7e7e7;
        border-bottom-width: 1px
    }

    .raceItem.active {
        background-color: black;
        color: white;

    }

    .raceItem.active label {
        color: white;

    }
</style>