@import '~nativescript-theme-core/css/core.light.css';

.la {
    font-family: "LineAwesome", line-awesome;

}

.btn {
    border-radius: 0;
    font-family: "Helvetica Neue", "HelveticaNeueMedium";
    font-weight: 300;
}

.hr-red {
    height: 1px;
    background-color: #DA291C;
}

.hr-gray {
    height: 1px;
    background-color: #707070;
}

ActionBar {
    background-color: #DA291C;
    font-family: "Helvetica Neue", "HelveticaNeueMedium";
    color: white;
    font-weight: 200
}
ActionBar.admin {
    background-color: #FFB500;
    font-family: "Helvetica Neue", "HelveticaNeueMedium";
    color: white;
    font-weight: 200
}

.form-area {
    margin-top: 15px;
}

.input-field {
    margin-bottom: 25px;
}

.input {
    font-size: 18px;
    placeholder-color: white;
    color: white;
}

.label-error {
    color: #efefef;
    font-size: 13px;
}

.input-area {
    margin-bottom: 60px;
}

.input-title {
    font-size: 17px;
    color: #707070;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", "HelveticaNeueMedium";
    font-weight: 300;
}

.input-black {
    font-size: 16px;
    padding-left: 5px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", "HelveticaNeueMedium";
    font-weight: 300;
    background-color:white;
}

.error-red {
    color: #FF4B4E;
    font-size: 12px;
    font-weight: 400;
    font-family: "Helvetica Neue", "HelveticaNeueMedium";
}

.intermediate-title {
    color: #000000;
    text-align: center;
    font-size: 18px;
    margin: 40px 0 10px 0;
}

.page {
    font-family: "Helvetica Neue", "HelveticaNeueMedium";
    background-image: url("~/assets/background.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.page-orange {
    font-family: "Helvetica Neue", "HelveticaNeueMedium";
    background-image: url("~/assets/background-orange.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.sponsors {
    background-image: url("~/assets/sponsors.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 40%;
}

.carouselItem {
    padding: 10%;
}

.carouselItem .description {
    text-align: center;
    margin-bottom: 10%;
    font-weight: 300
}

.carouselItem .title {
    text-align: center;
    font-weight: 900;
}

.btn-white {
    background: white;
    color: black;
}

.btn-black {
    background: black;
    color: white;
}

.btn-gray {
    background: #EFEFEF;
    color: #707070;
}

.btn-red {
    background: #DA291C;
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-warning {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-dark {
    color: #fff;
    background-color: #95999e;
    border-color: #343a40;
}
.btn-orange {
    color: #fff;
    background-color: #FFB500;
    border-color: #FFB500;
}
.h-120 {
    height: 120px;
}