<template>
    <Page class="page-orange">
        
        <ActionBar title="Koşu Planlandı" backgroundColor="orange">
            <NavigationButton :visibility="'collapsed'" android.systemIcon="ic_menu_back" />
        </ActionBar>

        <DockLayout stretchLastChild="true" backgroundColor="transparent">
            
            <ScrollView dock="top" height="90%" v-if="!loading">
                <StackLayout height="100%" width="100%">

                    <Image src="~/icons/runner.png" row="0" col="0" rowspan="1" width="100" height="100" margin="40 10 10 10" tintColor="white" verticalAlignment="center" />

                    <Label text="Koşu Planlandı" fontSize="20" fontWeight="bold" textWrap="true" color="white" textAlignment="center" marginTop="30" marginBottom="30" />
                    <Label :text="raceDetail.title" fontSize="22" padding="10 10 0 10" textWrap="true" fontWeight="bold" color="white" textAlignment="center" />
                    <Label :text="fullDateConvert(raceDetail.start_date)" fontSize="22" padding="10 10 0 10" textWrap="true" fontWeight="bold" color="white" textAlignment="center" />

                    <Button text="Koşuyu Görüntüle" @tap="adminRaceDetail(raceId)" class="btn btn-orange" fontWeight="500" marginTop="50" height="55" />

                </StackLayout>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
            </ScrollView>

            <nav></nav>
        </DockLayout>

    </Page>
</template>

<script>
    import nav from "../nav";
    import moment from 'moment';

    export default {
        name: "adminRacePlanned",

        components: {
            nav
        },

        props: {
            raceId: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                loading: true,
                raceId: this.raceId,
                raceDetail: {},
            };
        },

        created() {
            this.$store.dispatch('getRaceDetail', {
                    id: this.raceId,
                })
                .then(response => {
                    this.raceDetail = response.data
                    this.loading = false
                })
                .catch(error => {
                    console.log(error.response.data.message);
                    this.loading = false
                });
        },

        methods: {
            adminRaceDetail(raceId)
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        raceId: raceId
                    }
                }
                
                this.$goto('adminRaceDetail', options)
            },

            fullDateConvert(value)
            {
                if (value) {
                    return moment(String(value)).format('DD.MM.Y')
                }
            },
        }
    };
</script>

<style>

</style>