<template>
    <Page>
        <ActionBar backgroundColor="orange">
            <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
                <Image src="~/icons/kosular@3x.png" marginRight="10" width="20" height="20"></Image>
                <Label text="ADMİN KOŞULAR" fontWeight="400" letterSpacing=".05"></Label>
            </StackLayout>
            <NavigationButton :visibility="'collapsed'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap" />
        </ActionBar>

        <DockLayout>
            <StackLayout dock="top" height="8%">
                <GridLayout rows="auto, auto" columns="*, 20, *, 20" width="100%">
                    <StackLayout row="0" col="0" borderBottomWidth="2" borderColor="#FFB500">
                        <DropDown :items="months" @selectedIndexChanged="monthChange" height="47" hint="Ay Seçiniz" />
                    </StackLayout>

                    <StackLayout row="0" col="1" borderBottomWidth="2" borderColor="#FFB500">
                        <Label color="black" class="la" marginTop="15" marginRight="5"
                            textAlignment="center">{{'la-angle-down' | fonticon}}</Label>
                    </StackLayout>

                    <StackLayout row="0" col="2" borderLeftWidth="1" borderBottomWidth="2" borderColor="#FFB500">
                        <DropDown :items="cities" @selectedIndexChanged="cityChange" height="47" hint="Şehir Seçiniz" />
                    </StackLayout>
                    <StackLayout row="0" col="3" borderBottomWidth="1" borderColor="#FFB500">
                        <Label color="black" class="la" marginTop="15"
                            textAlignment="center">{{'la-angle-down' | fonticon}}</Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <ScrollView dock="top" height="72%" v-if="!rows && !loading">
                <Label text="Koşu bulunamadı" verticalAlignment="top" marginTop="20" textAlignment="center"></Label>
            </ScrollView>

            <ScrollView dock="top" height="72%" v-else-if="rows && !loading">
                <ListView for="row in rows" class="list-group" @itemTap="onItemTap" separatorColor="transparent">
                    <v-template>
                        <GridLayout columns="70, *, 50" rows="auto, auto, auto" width="100%" verticalAlignment="top"
                            class="raceItem" borderBottomWidth="1" borderBottomColor="#FFB500"
                            @tap="raceDetail(row.race_id)">

                            <StackLayout row="0" col="0" class="date black">
                                <Image :src="raceType(row.race_type)" horizontalAlignment="center" borderRadius="0"
                                    tintColor="black" stretch="aspectFit" height="20" />
                                <Label :text="dateDayNumber(row.start_date)" verticalAlignment="center" fontSize="24px"
                                    textAlignment="center" />
                                <Label :text="dateDayText(row.start_date)" fontSize="13px" marginBottom="5" verticalAlignment="center"
                                    textAlignment="center" />
                            </StackLayout>

                            <StackLayout row="0" col="1" padding="15">
                                <Label :text="row.title" textWrap="true" />

                                <Label :text="vueTimeConvert(row.start_date + ' ' +row.start_hour) + ' - ' + row.racecourse" fontSize="11px" />

                                <GridLayout columns="20, *, 20, *" width="100%">
                                    <Label :text="row.count_user" row="0" col="0" fontSize="12px" color="#DA291C"
                                        fontWeight="600" />
                                    <Label text="kişi kaydoldu" row="0" col="1" fontSize="11px" />
                                    <Label :text="row.count_team" v-if="row.race_type == 'team'" row="0" col="2"
                                        fontSize="12px" color="#DA291C" fontWeight="600" />
                                    <Label text="takım kaydoldu" v-if="row.race_type == 'team'" row="0" col="3"
                                        fontSize="11px" />
                                </GridLayout>
                            </StackLayout>

                            <StackLayout row="0" col="2" verticalAlignment="center">
                                <Label color="black" class="la"
                                    textAlignment="center">{{'la-angle-right' | fonticon}}</Label>
                            </StackLayout>
                        </GridLayout>
                    </v-template>
                </ListView>
            </ScrollView>

            <ScrollView dock="top" height="72%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
            </ScrollView>

            <ScrollView dock="top" height="10%">

                <GridLayout columns="*, 5, 130" rows="auto" orientation="horizontal" width="100%" backgroundColor="transparent"
                    textAlignment="center" horizontalAlignment="center" padding="5 5 5 5">
                    
                    <StackLayout row="0" col="0" @tap="$goto('adminRaceAdd')" class="btn btn-orange" height="50" margin="0" paddingTop="15" width="80%" textAlignment="center">

                        <Label class="text-center">
                            <FormattedString>
                                <Span class="la">{{'la-plus-circle' | fonticon}} </Span>
                                <Span text="KOŞUYU PLANLA" />
                            </FormattedString>
                        </Label>

                    </StackLayout>

                    <StackLayout row="0" col="1">
                    </StackLayout>

                    <StackLayout row="0" col="2" @tap="$goto('adminTrailList')" class="btn btn-orange" height="50" margin="0" paddingTop="15" width="100%" textAlignment="center">

                        <Label class="text-center">
                            <FormattedString>
                                <Span class="la">{{'la-list' | fonticon}} </Span>
                                <Span text="PARKURLAR" />
                            </FormattedString>
                        </Label>

                    </StackLayout>

                </GridLayout>
            </ScrollView>

            <nav></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import nav from "../nav";
    import moment from "moment";
    import {ValueList} from "nativescript-drop-down";

    export default {
        name: "adminRaceList",

        components: {
            nav
        },

        data() {
            return {
                loading: true,
                months: new ValueList([
                    {value: '0', display: 'Tüm Aylar'},
                    {value: '1', display: 'Ocak'},
                    {value: '2', display: 'Şubat'},
                    {value: '3', display: 'Mart'},
                    {value: '4', display: 'Nisan'},
                    {value: '5', display: 'Mayıs'},
                    {value: '6', display: 'Haziran'},
                    {value: '7', display: 'Temmuz'},
                    {value: '8', display: 'Ağustos'},
                    {value: '9', display: 'Eylül'},
                    {value: '10', display: 'Ekim'},
                    {value: '11', display: 'Kasım'},
                    {value: '12', display: 'Aralık'}
                ]),
                cities: new ValueList([
                    {value: '0', display: 'Tüm Şehirler'},
                    {value: '34', display: 'İstanbul'},
                    {value: '6', display: 'Ankara'},
                    {value: '7', display: 'Antalya'},
                    {value: '16', display: 'Bursa'},
                    {value: '35', display: 'İzmir'},
                ]),
                monthId: 0,
                cityId: 0,
                rows: {},
            };
        },

        created() {
            this.$store.dispatch("getToken");
            this.$store.dispatch("getUserId");
            this.$store.dispatch("getAdminGroupId")
            this.$store.dispatch("getAdminRaces")
                .then(response => {
                    this.rows = response.data;

                    this.loading = false;
                })
                .catch(error => {
                    this.rows = error.response.data.status;
                    this.loading = false;
                    console.log(error.response.data.message);
                });
        },

        methods: {
            raceDetail(id) {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        raceId: id
                    }
                };

                this.$goto("adminRaceDetail", options);
            },

            vueTimeConvert(value) {
                if (value) {
                    return moment(String(value)).format("HH:mm");
                }
            },

            dateDayNumber(value) {
                if (value) {
                    return moment(String(value)).format("DD");
                }
            },

            dateDayText(value) {
                if (value) {
                    return moment(String(value)).format("dddd");
                }
            },

            raceType(value) {
                if (value == "single") {
                    return "~/icons/runner.png";
                } else if (value == "team") {
                    return "~/icons/runners.png";
                }
            },

            monthChange(args) {
                let monthId = this.months.getValue(args.newIndex);
                this.monthId = monthId;

                this.$store.dispatch("getAdminRacesFilter", {
                        monthId: monthId,
                        cityId: this.cityId
                    })
                    .then(response => {
                        this.rows = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },

            cityChange(args) {
                let cityId = this.cities.getValue(args.newIndex);
                this.cityId = cityId;

                this.$store.dispatch("getAdminRacesFilter", {
                        monthId: this.monthId,
                        cityId: cityId
                    })
                    .then(response => {
                        this.rows = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
        }
    };
</script>



<style scoped>
    .date {
        border-right-color: #FFB500;
        border-right-width: 2px;
        align-content: center;
        text-align: center;
        padding-top: 9%;
        padding-left: 0;
    }

    .date.red {
        background-color: #da291c;
    }

    .date.red * {
        color: white;
    }

    .person {
        background-image: url("~/icons/runner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 40px;
        height: 40px;
    }

    .group {
        width: 40px;
        height: 40px;
        background-image: url("~/icons/runners.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    DropDown {
        font-weight: 300;
    }
</style>