<template>
    <Page>

        <ActionBar backgroundColor="orange">
            <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
                <Image src="~/icons/kosular@3x.png" marginRight="10" width="20" height="20"></Image>
                <Label text="Yeni Koşu Planla" fontWeight="400"></Label>
            </StackLayout>
            <NavigationButton :visibility="'visible'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap" />
        </ActionBar>

        <DockLayout>

            <ScrollView dock="top" height="90%" v-if="!loading">
                <WrapLayout>

                    <StackLayout class="input-area" width="100%" padding="10">
                        <Label text="Koşu Adı" class="input-title" />
                        <TextField v-model="formData.title" autocorrect="false" autocapitalizationType="capitalize" returnKeyType="next"
                            android:height="30" ios:height="30" android:borderBottomWidth="1"
                            android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10" />
                        <StackLayout class="hr-gray" height="1" />
                        <Label :text="errorMessage.title" class="error-red" />
                    </StackLayout>

                    <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="100%" padding="10">
                        <Label text="Parkur" class="input-title" row="0" colSpan="2" />
                        <DropDown :items="trails" @selectedIndexChanged="trailChange" android:height="40" android:borderWidth="1"
                            android:borderColor="transparent" ios:borderWidth="0" backgroundColor="white" row="1"
                            colSpan="2" ios:height="35" hint="Seçiniz" class="DD" />
                        <Label isUserInteractionEnabled="false" row="1" col="1" color="black" textAlignment="center"
                            class="la" paddingTop="10" android:height="40">{{'la-angle-down' | fonticon}}</Label>
                        <StackLayout class="hr-gray" row="2" colSpan="2" height="1" />
                        <Label :text="errorMessage.trail" class="error-red" row="3" />
                    </GridLayout>

                    <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="100%" padding="10">
                        <Label text="Tarih" class="input-title" row="0" colSpan="2" />
                        <DatePickerField @dateChange="startDateChange" android:height="40" ios:height="35" dateFormat="dd/MM/yyyy" locale="tr_TR"
                            hint="Tarih Seçiniz" fontWeight="200" row="1" colSpan="2"></DatePickerField>
                        <Label isUserInteractionEnabled="false" row="1" col="1" textAlignment="center" class="la"
                            paddingTop="10" android:height="40" color="black">{{'la-calendar' | fonticon}}</Label>
                        <StackLayout class="hr-gray" row="2" colSpan="2" height="1" />
                        <Label :text="errorMessage.startDate" class="error-red" row="3" />
                    </GridLayout>

                    <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="100%" padding="10">
                        <Label text="Koşu Tipi" android:height="40" class="input-title" row="0" colSpan="2" />
                        <DropDown :items="raceType" @selectedIndexChanged="raceTypeChange" android:height="40" android:borderWidth="1"
                            android:borderColor="transparent" ios:borderWidth="0" backgroundColor="white" row="1"
                            colSpan="2" ios:height="35" hint="Seçiniz" class="DD" />
                        <Label isUserInteractionEnabled="false" row="1" col="1" textAlignment="center" class="la"
                            paddingTop="10" android:height="40" color="black">{{'la-angle-down' | fonticon}}</Label>
                        <StackLayout class="hr-gray" row="2" colSpan="2" height="1" />
                        <Label :text="errorMessage.raceType" class="error-red" row="3" />
                    </GridLayout>

                    <FlexBoxLayout>

                        <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="50%" padding="10">
                            <Label text="Koşu Başlangıç Saati" class="input-title" row="0" colSpan="2" />
                            <TimePickerField @timeChange="startHourChange" android:height="35" ios:height="35" dateFormat="hh/mm" locale="tr_TR"
                                fontWeight="200" row="1" colSpan="2" hint="Seçiniz" class="DD"></TimePickerField>
                            <Label isUserInteractionEnabled="false" row="1" col="1" textAlignment="center" class="la"
                                paddingTop="10" android:height="40" color="black">{{'la-angle-down' | fonticon}}</Label>
                            <StackLayout class="hr-gray" row="2" colSpan="2" height="1" />
                            <Label :text="errorMessage.startHour" class="error-red" row="3" />
                        </GridLayout>

                        <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="50%" padding="10">
                            <Label text="Koşu Bitiş Saati" class="input-title" row="0" colSpan="2" />
                            <TimePickerField  @timeChange="endHourChange" android:height="35" ios:height="35" dateFormat="hh/mm" locale="tr_TR"
                                fontWeight="200" row="1" colSpan="2" hint="Seçiniz" class="DD"></TimePickerField>
                            <Label isUserInteractionEnabled="false" row="1" col="1" textAlignment="center" class="la"
                                paddingTop="10" android:height="40" color="black">{{'la-angle-down' | fonticon}}</Label>
                            <StackLayout class="hr-gray" row="2" colSpan="2" height="1" />
                            <Label :text="errorMessage.endHour" class="error-red" row="3" />
                        </GridLayout>

                    </FlexBoxLayout>

                    <FlexBoxLayout>

                        <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="100%" padding="10">
                            <Label text="Minimum Süre" class="input-title" row="0" colSpan="2" />
                            <TimePickerField @timeChange="minTimeChange" android:height="35" ios:height="35" dateFormat="hh/mm" locale="tr_TR"
                                fontWeight="200" row="1" colSpan="2" hint="Seçiniz" class="DD"></TimePickerField>
                            <Label isUserInteractionEnabled="false" row="1" col="1" textAlignment="center" class="la"
                                paddingTop="10" android:height="40" color="black">{{'la-angle-down' | fonticon}}</Label>
                            <StackLayout class="hr-gray" row="2" colSpan="2" height="1" />
                            <Label :text="errorMessage.minTime" class="error-red" row="3" />
                        </GridLayout>

                    </FlexBoxLayout>

                    <StackLayout width="100%" padding="10">
                        <Label text="Koşu Hakkında" class="input-title" />
                        <TextView v-model="formData.description" class="input-black" autocorrect="false" autocapitalizationType="none"
                            returnKeyType="next" height="100" 
                            text="" />
                        <StackLayout class="hr-gray" />
                        <Label :text="errorMessage.description" class="error-red" />
                    </StackLayout>

                    <StackLayout width="100%" padding="0 10 20 10">
                        <Button text="KAYDET" @tap="raceAdd" class="btn btn-orange m-t-20" width="100%" height="55"/>
                    </StackLayout>

                </WrapLayout>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
            </ScrollView>

            <nav></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import nav from "../nav";
    import moment from "moment";
    import {ValueList} from "nativescript-drop-down";

    export default {
        name: "adminRaceAdd",

        components: {
            nav
        },

        data() {
            return {
                loading: true,
                trails: new ValueList([
                    {value: '0', display: 'Seçiniz...'},
                ]),
                selectedTrail: 0,
                raceType: new ValueList([
                    {value: '0', display: 'Seçiniz'},
                    {value: 'single', display: 'Tekli Koşu'},
                    {value: 'team', display: 'Takımlı Koşu'},
                ]),
                selectedRaceType: 0,
                formData: {
                    title: '',
                    trail: '',
                    startDate: '',
                    raceType: '',
                    startHour: '',
                    endHour: '',
                    minTime: '',
                    description: '',
                },
                errorMessage : {
                    title: '',
                    trail: '',
                    startDate: '',
                    raceType: '',
                    startHour: '',
                    endHour: '',
                    minTime: '',
                    description: '',
                }
            };
        },

        created() {
            this.$store.dispatch("getToken");
            this.$store.dispatch("getUserId");

            this.$store.dispatch('adminTrailList')
            .then(response => {
                for (let loop = 0; loop < response.data.length; loop++) {
                    this.trails.push({
                        value: `${response.data[loop].id}`,
                        display: response.data[loop].name
                    })    
                }
            })
            .catch(error => {
                console.log(error.response.data.message)
            })

            this.loading = false
        },

        methods: {

            raceAdd() {
                this.errorMessage = {}
                let validateStatus = this.validateRegister()
                
                if (validateStatus)
                {
                    this.$store.dispatch('adminRaceAdd', {
                            title: this.formData.title,
                            trail: this.formData.trail,
                            startDate: this.formData.startDate,
                            raceType: this.formData.raceType,
                            startHour: this.formData.startHour,
                            endHour: this.formData.endHour,
                            minTime: this.dbTimeConvert(this.formData.minTime),
                            description: this.formData.description,
                        })
                        .then(response => {
                            let options = options || {
                                clearHistory: false,
                                backstackVisible: true,
                                transition: {
                                    name: "fade",
                                    duration: 1,
                                    curve: "easeIn"
                                },
                                props: {
                                    raceId: response.data.race_id
                                }
                            }
                            
                            this.$goto('adminRacePlanned', options)
                        })
                        .catch(error => {
                            alert({
                                title: 'Uyarı',
                                message: error.response.data.message,
                                okButtonText: "Tamam",
                                cancelable: false
                            }).then(() => {
                                console.log(error)
                            });
                        })
                }
                else
                {
                    alert({
                        title: 'Uyarı',
                        message: 'Gerekli alanları doldurunuz',
                        okButtonText: "Tamam",
                        cancelable: false
                    }).then(() => {
                        console.log(error)
                    });
                }
            },

            validateRegister() {
                let status = true

                if(this.formData.title == '' || !this.formData.title)
                {
                    this.errorMessage.title = 'Koşu Adı alanı boş bırakılamaz'
                    status = false
                }

                if(!this.formData.trail || this.formData.trail == '0')
                {
                    this.errorMessage.trail = 'Parkur Seçiniz'
                    status = false
                }

                if(!this.formData.startDate)
                {
                    this.errorMessage.startDate = 'Tarih Seçiniz'
                    status = false
                }

                if(!this.formData.raceType || this.formData.raceType == '0')
                {
                    this.errorMessage.raceType = 'Koşu Tipi Seçiniz'
                    status = false
                }

                if(!this.formData.startHour)
                {
                    this.errorMessage.startHour = 'Başlangıç Saati Seçiniz'
                    status = false
                }

                if(!this.formData.endHour)
                {
                    this.errorMessage.endHour = 'Bitiş Saati Seçiniz'
                    status = false
                }

                if(!this.formData.minTime)
                {
                    this.errorMessage.minTime = 'Min Süre Seçiniz'
                    status = false
                }

                if(this.formData.description == '' || !this.formData.description)
                {
                    this.errorMessage.description = 'Koşu Hakkında alanı boş bırakılamaz'
                    status = false
                }

                return status
            },

            trailChange(args)
            {
                this.formData.trail = this.trails.getValue(args.newIndex)
            },

            raceTypeChange(args)
            {
                this.formData.raceType = this.raceType.getValue(args.newIndex)
            },

            startDateChange(args)
            {
                if(args.value != 'Invalid Date')
                {
                    this.formData.startDate = this.getFormattedDate(args.value)
                }
            },

            startHourChange(args) 
            {
                if(args.value != 'Invalid Date')
                {
                    this.formData.startHour = this.getFormattedTime(args.value)
                }
            },

            endHourChange(args) 
            {
                if(args.value != 'Invalid Date')
                {
                    this.formData.endHour = this.getFormattedTime(args.value)
                }
            },

            minTimeChange(args) 
            {
                if(args.value != 'Invalid Date')
                {
                    this.formData.minTime = this.getFormattedTime(args.value)
                }
            },

            getFormattedTime(date) {
                const h = date.getHours();
                const m = date.getMinutes();
                return (h < 10 ? '0' : '') + h + ':' + (m < 10 ? '0' : '') + m;
            },

            getFormattedDate(date) 
            {
                return date.getFullYear() + '-' + ('0' + (date.getMonth()+1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2)
            },

            dbTimeConvert(date) {
                let datetimeNow = new Date('01/01/2019 ' + date)
                let h = datetimeNow.getHours() * 60;
                let m = datetimeNow.getMinutes();
                
                return h + m;
            },
        }
    };
</script>

<style scoped>
    DatePickerField,
    TimePickerField,
    Dropdown {
        font-size: 14;
        border-bottom-color: transparent;
        border-bottom-width: 1;
    }

    .DD {
        padding: 7 7 7 7;
    }

    .date {
        border-right-color: #ffb500;
        border-right-width: 2px;
        align-content: center;
        text-align: center;
        padding-top: 9%;
        padding-left: 0;
    }

    .date.red {
        background-color: #da291c;
    }

    .date.red * {
        color: white;
    }

    .person {
        background-image: url("~/.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 40px;
        height: 40px;
    }

    .group {
        width: 40px;
        height: 40px;
        background-image: url("~/icons/runners.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    DropDown {
        font-weight: 300;
        padding-left: 15px;
    }

    .input-title {
        font-size: 14px;
    }
</style>