<template>
    <Page>
        <ActionBar :title="raceDetail.title" backgroundColor="orange">
            <NavigationButton :visibility="'collapsed'" android.systemIcon="ic_menu_back" />
            <ActionItem @tap="$goto('adminRaceList')"
                ios.systemIcon="8" ios.position="left"
                android.systemIcon="ic_menu_back" android.position="actionBar">
            </ActionItem>
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <ScrollView dock="top" height="90%" v-if="!loading">
                <StackLayout width="100%">

                    <GridLayout columns="*, *" rows="*" margin="0 20 0 20">
                        <Button text="Koşu Bitti" v-if="dbTimeConvertSecond(nowDate + ' ' + nowHour) >= dbTimeConvertSecond(raceDetail.startDate + ' ' + raceDetail.endHour)" col="0" colSpan="2" row="0" class="btn btn-black" color="white" width="100%" height="50" />
                        <Button text="Koşu Devam Ediyor" v-if="dbTimeConvertSecond(nowDate + ' ' + nowHour) >= dbTimeConvertSecond(raceDetail.startDate + ' ' + raceDetail.startHour) && dbTimeConvertSecond(nowDate + ' ' + nowHour) <= dbTimeConvertSecond(raceDetail.startDate + ' ' + raceDetail.endHour)" col="0" colSpan="2" row="0" class="btn btn-black" color="white" width="100%" height="50" />
                        <!-- <Button text="Yarışı Bitir" v-else-if="raceDetail.completed == 0" @tap="raceFinish()" col="0" row="0" class="btn btn-black" color="white" width="100%" height="50" /> -->
                        <Button text="Düzenle" v-if="dbTimeConvertSecond(raceDetail.startDate + ' ' + raceDetail.startHour) > dbTimeConvertSecond(nowDate + ' ' + nowHour)" @tap="adminRaceEdit(raceId)" col="0" row="0" class="btn btn-success" color="white" width="100%" height="50"/>
                        <Button text="Sil" v-if="dbTimeConvertSecond(raceDetail.startDate + ' ' + raceDetail.startHour) > dbTimeConvertSecond(nowDate + ' ' + nowHour)" @tap="adminRaceDelete(raceId)" col="1" row="0" class="btn btn-red" color="white" width="100%" height="50" />
                    </GridLayout>

                    <StackLayout width="100%" padding="0 20 0 20" v-if="nowHour <= raceDetail.startHour && nowDate == raceDetail.startDate">
                        <Button text="YARIŞI BAŞLAT" @tap="adminRaceStart()" class="btn btn-orange m-t-20" width="100%" height="55"/>
                    </StackLayout>

                    <GridLayout rows="30,30" columns="30,*,80" margin="10 20 5 20">
                        
                        <StackLayout col="0" row="0">
                            <Label color="black" class="la" textAlignment="center">{{'la-calendar-o' | fonticon}}</Label>
                        </StackLayout>

                        <StackLayout col="1" row="0">
                            <Label :text="dayAndMonthConvert(raceDetail.startDate) + ' ' + dayConvert(raceDetail.startDate)" />
                        </StackLayout>

                        <StackLayout col="0" row="1">
                            <Label color="black" class="la" textAlignment="center">{{'la-clock-o' | fonticon}}</Label>
                        </StackLayout>

                        <StackLayout col="1" row="1">
                            <Label :text="timeConvert(raceDetail.startDate + ' ' + raceDetail.startHour) + ' - ' + timeConvert(raceDetail.startDate + ' ' + raceDetail.endHour)" textWrap="true" />
                        </StackLayout>

                    </GridLayout>

                    <StackLayout width="100%" height="1" backgroundColor="#e7e7e7"></StackLayout>

                    <StackLayout orientation="horizontal" margin="15 20 15 20" @tap="openMapURL(raceDetail.openAddress)">
                        <GridLayout width="10%">
                            <Label color="black" class="la"
                                textAlignment="center">{{'la-map-marker' | fonticon}}</Label>
                        </GridLayout>

                        <GridLayout width="90%">
                            <Label :text="raceDetail.openAddress" textWrap="true" />
                        </GridLayout>
                    </StackLayout>

                    <StackLayout width="100%" height="1" backgroundColor="#e7e7e7"></StackLayout>

                    <StackLayout orientation="horizontal" margin="20" marginBottom="0" marginTop="10">
                        <GridLayout width="10%">
                            <Label class="person" />
                        </GridLayout>

                        <GridLayout width="90%">
                            <Label :text="raceDetail.countUser + ' kişi kaydoldu'"  textWrap="true" />
                        </GridLayout>
                    </StackLayout>

                    <StackLayout orientation="horizontal" margin="5 20 20 20">
                        <GridLayout width="10%">
                            <Label class="group" />
                        </GridLayout>

                        <GridLayout width="90%">
                            <Label :text="raceDetail.countTeam + ' takım kuruldu'" textWrap="true" />
                        </GridLayout>
                    </StackLayout>

                    <StackLayout row="1" colSpan="3" paddingTop="0" orientation="horizontal" width="100%" color="white" backgroundColor="#FFB500">

                        <Button text="Tümü" @tap="classControl('all')" :class="filter.all ? 'activeTab' : ''" width="20%" margin="0" padding="0" height="60" />
                        <Button text="Kadın" @tap="classControl('female')" :class="filter.female ? 'activeTab' : ''" width="20%" margin="0" padding="0" height="60" />
                        <Button text="Erkek" @tap="classControl('male')" :class="filter.male ? 'activeTab' : ''" width="20%" margin="0" padding="0" height="60" />
                        <Button text="Diğer" @tap="classControl('other')" :class="filter.other ? 'activeTab' : ''" width="20%" margin="0" padding="0" height="60" />
                        <Button text="Takım" @tap="teamFilter()" :class="filter.team ? 'activeTab' : ''" width="20%" margin="0" padding="0" height="60" />

                    </StackLayout>

                    <StackLayout :visibility="'visible'" height="100%" width="100%">
                        
                        <GridLayout columns="50, 70, *, 70, 60" padding="8" rows="auto, auto, auto" width="100%" verticalAlignment="top"
                            class="raceItem">

                            <StackLayout row="0" col="0" verticalAlignment="center">
                                <Label text="Sıra" verticalAlignment="center" fontSize="14px" textAlignment="center" />
                            </StackLayout>

                            <StackLayout row="0" col="1" colSpan="2" padding="5">
                                <Label text="İsim Soyisim" verticalAlignment="center" fontSize="14px" textAlignment="left" />
                            </StackLayout>

                            <StackLayout row="0" col="3" verticalAlignment="center">
                                <Label textAlignment="left" text="Süre" />
                            </StackLayout>

                            <StackLayout row="0" col="4" verticalAlignment="center">
                                <Label textAlignment="left" text="Düzenle" />
                            </StackLayout>

                        </GridLayout>

                        <StackLayout orientation="vertical" width="100%" verticalAlignment="top" v-if="!userRows && !teamRows">
                            <Label text="Kayıt Yok" verticalAlignment="top" marginTop="20" fontSize="14" textAlignment="center"></Label>
                        </StackLayout>

                        <StackLayout v-else-if="userRows && !teamRows">
                            <ListView for="row in userRows" separatorColor="transparent" height="100%">

                                <v-template>
                                    <GridLayout columns="50, 70, *, 70, 60" rows="auto, auto, auto" width="100%" verticalAlignment="top"
                                        class="raceItem">

                                        <StackLayout row="0" col="0" verticalAlignment="center">
                                            <Label :text="row.ranking ? row.ranking : '-'" verticalAlignment="center" fontSize="24px" textAlignment="center" />
                                        </StackLayout>

                                        <StackLayout row="0" col="1" padding="5">
                                            <Image row="0" col="0" rowspan="1" width="60" height="60" margin="0" borderWidth="1"
                                                borderColor="black" verticalAlignment="center"
                                                :src="row.photo"
                                                borderRadius="80" />
                                        </StackLayout>

                                        <StackLayout row="0" col="2" verticalAlignment="center">
                                            <Label textAlignment="left" :text="row.name + ' ' + row.surname"></Label>
                                        </StackLayout>

                                        <StackLayout row="0" col="3" verticalAlignment="center">
                                            <Label textAlignment="left" :text="row.finishing_hour ? row.finishing_hour : '-'" />
                                        </StackLayout>

                                        <StackLayout row="0" col="4" verticalAlignment="center" @tap="timeEdit(row.race_user_id, row.finishing_hour, (row.name + ' ' + row.surname))">
                                            <Label color="black" class="la" fontSize="30px" textAlignment="center">{{'la-edit' | fonticon}}</Label>
                                        </StackLayout>

                                    </GridLayout>
                                </v-template>
                            </ListView>
                        </StackLayout>

                        <StackLayout v-else-if="teamRows && !userRows">
                            <ListView for="teamRow in teamRows" separatorColor="transparent" height="100%">

                                <v-template>
                                    <GridLayout columns="50, 70, *, 70, 60" rows="auto, auto, auto" width="100%" verticalAlignment="top"
                                        class="raceItem">

                                        <StackLayout row="0" col="0" verticalAlignment="center">
                                            <Label :text="teamRow.ranking ? teamRow.ranking : '-'" verticalAlignment="center" fontSize="24px" textAlignment="center" />
                                        </StackLayout>

                                        <StackLayout row="0" col="1" padding="5">
                                            <Image row="0" col="0" rowspan="1" width="60" height="60" margin="0" borderWidth="1"
                                                borderColor="black" verticalAlignment="center" borderRadius="80"
                                                :src="teamRow.photo" v-if="teamRow.photo" />
                                            <Label :text="teamRow.name.charAt(0).toUpperCase()" v-else-if="!teamRow.photo" fontWeight="700" fontSize="20" backgroundColor="gray" borderRadius="50" textAlignment="center" width="60" height="60" />
                                        </StackLayout>

                                        <StackLayout row="0" col="2" verticalAlignment="center">
                                            <Label textAlignment="left" :text="teamRow.name"></Label>
                                        </StackLayout>

                                        <StackLayout row="0" col="3" verticalAlignment="center">
                                            <Label textAlignment="left" :text="teamRow.finishing_hour ? teamRow.finishing_hour : '-'" />
                                        </StackLayout>

                                        <StackLayout row="0" col="4" verticalAlignment="center">
                                            
                                        </StackLayout>

                                    </GridLayout>
                                </v-template>
                            </ListView>
                        </StackLayout>

                    </StackLayout>

                </StackLayout>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
            </ScrollView>

            <nav></nav>

        </DockLayout>
    </Page>
</template>

<script>
    import nav from "../nav";
    import moment from 'moment';
    import * as platform from "tns-core-modules/platform";

    var utilsModule = require("tns-core-modules/utils/utils");

    export default {
        name: "adminRaceDetail",

        components: {
            nav
        },

        props: {
            raceId: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                loading: true,
                raceId: this.raceId,
                raceDetail: {
                    raceId: this.raceId,
                    title: '',
                    startDate: '',
                    startHour: '',
                    endHour: '',
                    openAddress: '',
                    raceType: '',
                    description: '',
                    completed: '',
                    countUser: '',
                    countTeam: '',
                },
                teamRows: {},
                userRows: {},
                filter: {
                    all: true,
                    female: false,
                    male: false,
                    team: false,
                    other: false,
                },
                nowHour: moment(String(new Date())).format('HH:mm:ss'),
                nowDate: moment(String(new Date())).format('YYYY-MM-DD'),
            }
        },
        
        created()
        {
            this.$store.dispatch('getRaceDetail', {
                    id: this.raceId
                })
                .then(response => {
                    this.raceDetail.title = response.data.title
                    this.raceDetail.startDate = response.data.start_date
                    this.raceDetail.startHour = response.data.start_hour
                    this.raceDetail.endHour = response.data.end_hour
                    this.raceDetail.openAddress = response.data.open_address
                    this.raceDetail.raceType = response.data.race_type
                    this.raceDetail.description = response.data.description
                    this.raceDetail.completed = response.data.completed
                    this.raceDetail.countUser = response.data.count_user
                    this.raceDetail.countTeam = response.data.count_team

                    setInterval(() => this.nowHour = moment(String(new Date())).format('HH:mm:ss'), 1000);
                })
                .catch(error => {
                    console.log(error);
                })    

            this.$store.dispatch('getRegisteredUsers', {
                    raceId: this.raceId,
                    filterType: '',
                    filterVal: ''
                })
                .then(response => {
                    this.userRows = response.data;
                    this.teamRows = false
                    this.loading = false
                })
                .catch(error => {
                    console.log(error.response.data.message);
                });
        },

        methods: {
            adminRaceEdit(raceId)
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        raceId: raceId
                    }
                }
                
                this.$goto('adminRaceEdit', options)
            },

            adminRaceDelete()
            {
                confirm({
                    title: "Koşuyu silmek istediğinize",
                    message: "Emin misiniz",
                    okButtonText: "Evet",
                    cancelButtonText: "Vazgeç"
                }).then(result => {
                    if (result) {
                        confirm({
                            title: "Koşuyu silerseniz koşuya kayıt olan kişileri ve varsa takımları silmiş olursunuz",
                            message: "Silmek istediğinize emin misiniz",
                            okButtonText: "Sil",
                            cancelButtonText: "Vazgeç"
                        }).then(result => {
                            if (result) {
                                this.$store.dispatch('adminRaceDelete', this.raceId)
                                    .then(response => {
                                        alert({
                                            title: 'Başarılı',
                                            message: response.data.message,
                                            okButtonText: "Tamam",
                                            cancelable: false 
                                        }).then(() => {
                                            this.$goto('adminRaceList')
                                        })
                                    })
                                    .catch(error => {
                                        alert({
                                            title: 'Uyarı',
                                            message: error.response.data.message,
                                            okButtonText: "Tamam",
                                            cancelable: false
                                        }).then(() => {
                                            console.log(error)
                                        });
                                    })
                            }
                        });
                    }
                })
            },

            adminRaceStart()
            {
                confirm({
                    title: "Koşuyu başlatmak istediğize emin misiniz?",
                    message: "",
                    okButtonText: "Başla",
                    cancelButtonText: "Vazgeç"
                }).then(result => {
                    if (result) {
                        this.$store.dispatch('adminRaceStart', this.raceId)
                            .then(response => {
                                alert({
                                    title: 'Başarılı',
                                    message: response.data.message,
                                    okButtonText: "Tamam",
                                    cancelable: false 
                                }).then(() => {
                                    let options = options || {
                                        clearHistory: false,
                                        backstackVisible: true,
                                        transition: {
                                            name: "fade",
                                            duration: 1,
                                            curve: "easeIn"
                                        },
                                        props: {
                                            raceId: this.raceId
                                        }
                                    }
                                    
                                    this.$goto('adminRaceDetail', options)
                                })
                            })
                            .catch(error => {
                                alert({
                                    title: 'Uyarı',
                                    message: error.response.data.message,
                                    okButtonText: "Tamam",
                                    cancelable: false 
                                })
                            })
                    }
                });
            },

            raceFinish()
            {
                confirm({
                    title: "Koşuyu bitirmek istediğize emin misiniz?",
                    message: "",
                    okButtonText: "Bitir",
                    cancelButtonText: "Vazgeç"
                }).then(result => {
                    if (result) {
                        this.$store.dispatch('adminRaceFinish', this.raceId)
                            .then(response => {
                                alert({
                                    title: 'Başarılı',
                                    message: response.data.message,
                                    okButtonText: "Tamam",
                                    cancelable: false 
                                }).then(() => {
                                    let options = options || {
                                        clearHistory: false,
                                        backstackVisible: true,
                                        transition: {
                                            name: "fade",
                                            duration: 1,
                                            curve: "easeIn"
                                        },
                                        props: {
                                            raceId: this.raceId
                                        }
                                    }
                                    
                                    this.$goto('adminRaceDetail', options)
                                })
                            })
                            .catch(error => {
                                alert({
                                    title: 'Uyarı',
                                    message: error.response.data.message,
                                    okButtonText: "Tamam",
                                    cancelable: false 
                                })
                            })
                    }
                });
            },

            dayAndMonthConvert(value)
            {
                if (value) {
                    return moment(String(value)).format('DD MMMM')
                }
            },

            dayConvert(value)
            {
                if (value) {
                    return moment(String(value)).format('dddd')
                }
            },

            timeConvert(value)
            {
                if (value) {
                    return moment(String(value)).format('HH:mm')
                }
            },

            openMapURL(value)
            {
                let encodeUrl = ''

                if (platform.isIOS) 
                {
                    encodeUrl = encodeURI('http://maps.apple.com/?q=' + value)
                }
                else
                {
                    encodeUrl = encodeURI('https://www.google.com/maps/search/?api=1&query=' + value)
                }

                utilsModule.openUrl(encodeUrl)
            },

            classControl(item)
            {
                let filterType = ''
                let filterVal = ''

                if (item == 'all') 
                {
                    this.filter.all = true
                    this.filter.female = false
                    this.filter.male = false
                    this.filter.team = false
                    this.filter.other = false

                    filterType = 'all'
                    filterVal = '1'
                }
                else if (item == 'female')
                {
                    this.filter.all = false
                    this.filter.female = true
                    this.filter.male = false
                    this.filter.team = false
                    this.filter.other = false

                    filterType = 'gender'
                    filterVal = 'Kadın'
                } 
                else if (item == 'male')
                {
                    this.filter.all = false
                    this.filter.female = false
                    this.filter.male = true
                    this.filter.team = false
                    this.filter.other = false

                    filterType = 'gender'
                    filterVal = 'Erkek'
                } 
                else if (item == 'other')
                {
                    this.filter.all = false
                    this.filter.female = false
                    this.filter.male = false
                    this.filter.team = false
                    this.filter.other = true

                    filterType = 'gender'
                    filterVal = 'Diğer'
                }

                this.teamRows = false

                this.$store.dispatch('getRegisteredUsers', {
                    raceId: this.raceId,
                    filterType: filterType,
                    filterVal: filterVal
                })
                .then(response => {
                    this.userRows = response.data
                })
                .catch(error => {
                    this.userRows = false
                    console.log(error.response.data.message)
                });
            },

            teamFilter()
            {
                this.userRows = false

                this.filter.all = false
                this.filter.female = false
                this.filter.male = false
                this.filter.team = true
                this.filter.other = false
                
                this.$store.dispatch('getRegisteredTeams', {
                    raceId: this.raceId,
                })
                .then(response => {
                    this.teamRows = response.data
                })
                .catch(error => {
                    this.teamRows = false
                    console.log(error.response.data.message)
                });
            },

            timeEdit(raceUserId, finishingTime, userName)
            {
                if(!finishingTime)
                {
                    finishingTime = '00:00:00';
                }

                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        raceUserId: raceUserId,
                        userName: userName,
                        finishingTime: finishingTime,
                        raceId: this.raceId,
                    }
                }
                
                this.$goto('adminTimeEdit', options)
            },

            dbTimeConvertSecond(date) {
                let convertDate = moment(String(date)).format('YYYY/MM/DD HH:mm:ss')
                let datetimeNow = new Date(convertDate).getTime() 
                
                return datetimeNow;
            },
        }
    };
</script>



<style scoped>
    .raceItem {
        font-weight: 200;
        font-size: 14px;
        border-bottom-color: #e7e7e7;
        border-bottom-width: 1px
    }

    .date {
        border-right-color: #FFB500;
        border-right-width: 2px;
        align-content: center;
        text-align: center;
        padding-top: 9%;
        padding-left: 0;
    }

    .date.red {
        background-color: #da291c;
    }

    .date.red * {
        color: white;
    }

    .person {
        background-image: url("~/icons/runner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 40px;
        height: 40px;
    }

    .group {
        width: 40px;
        height: 40px;
        background-image: url("~/icons/runners.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    DropDown {
        font-weight: 300;
    }

    .activeTab {
        background-color: white;
        color: black;
    }
</style>