<template>
    <Page>

        <ActionBar backgroundColor="orange">
            <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
                <Label text="Süre Düzenle" fontWeight="400"></Label>
            </StackLayout>
            <NavigationButton :visibility="'visible'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap" />
        </ActionBar>

        <DockLayout>

            <ScrollView dock="top" height="90%" v-if="!loading">
                <WrapLayout>

                    <StackLayout class="input-area" width="100%" padding="10">
                        <Label :text="'Kullanıcı: ' + userName" fontSize="17" class="input-title" marginBottom="20" />
                        <Label text="Bitirme Süresi (Örn: 00:00:00)" class="input-title" />
                        <TextField v-model="formData.finishingTime" autocorrect="false" autocapitalizationType="capitalize" returnKeyType="next"
                            android:height="30" ios:height="30" android:borderBottomWidth="1"
                            android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10" />
                        <StackLayout class="hr-gray" height="1" />
                        <Label :text="errorMessage.name" class="error-red" />
                    </StackLayout>

                    <StackLayout width="100%" padding="0 10 20 10">
                        <Button text="GÜNCELLE" @tap="userTimeUpdate()" class="btn btn-orange m-t-20" width="100%" height="55"/>
                    </StackLayout>

                </WrapLayout>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
            </ScrollView>

            <nav></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import nav from "../nav";
    import moment from "moment";
    import {ValueList} from "nativescript-drop-down";

    export default {
        name: "adminTimeEdit",

        components: {
            nav
        },

        props: {
            raceUserId: {
                type: Number,
                required: true
            },
            userName: {
                type: String,
                required: true
            },
            finishingTime: {
                type: String,
                required: true
            },
            raceId: {
                type: Number,
                required: true
            },
        },

        data() {
            return {
                loading: true,
                raceUserId: this.raceUserId,
                userName: this.userName,
                formData: {
                    finishingTime: this.finishingTime,
                },
                errorMessage : {
                    finishingTime: '',
                }
            };
        },

        created() {
            this.$store.dispatch("getToken");
            this.$store.dispatch("getUserId");

            this.loading = false
        },

        methods: {
            userTimeUpdate() {
                this.errorMessage = {}
                let validateStatus = this.validateRegister()
                
                if (validateStatus)
                {
                    this.$store.dispatch('adminUserTimeUpdate', {
                            raceUserId: this.raceUserId,
                            finishingTime: this.dbTimeConvertSecond(this.formData.finishingTime),
                            raceId: this.raceId,
                        })
                        .then(response => {
                            alert({
                                title: 'Başarılı',
                                message: response.data.message,
                                okButtonText: "Tamam",
                                cancelable: false 
                            }).then(() => {
                                let options = options || {
                                    clearHistory: false,
                                    backstackVisible: true,
                                    transition: {
                                        name: "fade",
                                        duration: 1,
                                        curve: "easeIn"
                                    },
                                    props: {
                                        raceId: this.raceId
                                    }
                                }
                                
                                this.$goto('adminRaceDetail', options)
                            });
                        })
                        .catch(error => {
                            alert({
                                title: 'Uyarı',
                                message: error.response.data.message,
                                okButtonText: "Tamam",
                                cancelable: false
                            }).then(() => {
                                console.log(error)
                            });
                        })
                }
                else
                {
                    alert({
                        title: 'Uyarı',
                        message: 'Gerekli alanları doldurunuz',
                        okButtonText: "Tamam",
                        cancelable: false
                    }).then(() => {
                        console.log(error)
                    });
                }
            },

            validateRegister() {
                let status = true

                if(this.formData.finishingTime == '' || !this.formData.finishingTime)
                {
                    this.errorMessage.name = 'Bitirme süresi giriniz'
                    status = false
                }
                else if(!this.dbTimeConvertSecond(this.formData.finishingTime))
                {
                    this.errorMessage.name = 'Bitirme süresi örnekteki gibi olmalıdır'
                    status = false
                }

                return status
            },

            dbTimeConvertSecond(date) {
                let datetimeNow = new Date('01/01/2019 ' + date)
                let h = datetimeNow.getHours() * 60 * 60;
                let m = datetimeNow.getMinutes() * 60;
                let s = datetimeNow.getSeconds();
                
                return h + m + s;
            },
        }
    };
</script>

<style scoped>
    Dropdown {
        font-size: 14;
        border-bottom-color: transparent;
        border-bottom-width: 1;
    }
    .input-title {
        font-size: 14px;
    }
</style>