<template>
    <Page>
        <ActionBar :title="trailDetail.name" backgroundColor="orange">
            <NavigationButton :visibility="'collapsed'" android.systemIcon="ic_menu_back" />
            <ActionItem @tap="$goto('adminTrailList')"
                ios.systemIcon="8" ios.position="left"
                android.systemIcon="ic_menu_back" android.position="actionBar">
            </ActionItem>
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <ScrollView dock="top" height="90%" v-if="!loading">
                <StackLayout width="100%">

                    <GridLayout columns="*, *" rows="*" margin="3 10 15 10">
                        <Button text="Düzenle" @tap="adminTrailEdit(trailId)" col="0" row="0" class="btn btn-orange" color="white" width="100%" height="50"/>
                        <Button text="Sil" @tap="adminTrailDelete(trailId)" col="1" row="0" class="btn btn-red" color="white" width="100%" height="50" />
                    </GridLayout>

                    <StackLayout padding="5 15">
                        <Label :text="'Parkur Adı: ' + trailDetail.name" textWrap="true" />
                        <Label :text="'Yarış Pisti: ' + trailDetail.racecourse" textWrap="true" />
                        <Label :text="'Açık Adres: ' + trailDetail.openAddress" textWrap="true" />
                    </StackLayout>

                    <StackLayout padding="10 15">
                        <Label text="-Başlangıç noktası için tıklayınız" @tap="openMap(trailDetail.startLatitude, trailDetail.startLongitude)" color="#1E4294" textWrap="true" />
                    </StackLayout>

                    <StackLayout padding="10 15">
                        <Label text="-Bitiş noktası için tıklayınız" @tap="openMap(trailDetail.endLatitude, trailDetail.endLongitude)" color="#1E4294" textWrap="true" />
                    </StackLayout>

                </StackLayout>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
            </ScrollView>

            <nav></nav>

        </DockLayout>
    </Page>
</template>

<script>
    import nav from "../nav";
    import moment from 'moment';

    export default {
        name: "adminTrailDetail",

        components: {
            nav
        },

        props: {
            trailId: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                loading: true,
                trailId: this.trailId,
                trailDetail: {
                    trailId: this.trailId,
                    name: '',
                    racecourse: '',
                    cityId: '',
                    openAddress: '',
                    startLatitude: '',
                    startLongitude: '',
                    endLatitude: '',
                    endLongitude: '',
                },
            }
        },

        created()
        {
            this.$store.dispatch('getTrailDetail', {
                    id: this.trailId
                })
                .then(response => {
                    this.trailDetail.name = response.data.name
                    this.trailDetail.racecourse = response.data.racecourse
                    this.trailDetail.cityId = response.data.city_id
                    this.trailDetail.openAddress = response.data.open_address
                    this.trailDetail.startLatitude = response.data.start_latitude
                    this.trailDetail.startLongitude = response.data.start_longitude
                    this.trailDetail.endLatitude = response.data.end_latitude
                    this.trailDetail.endLongitude = response.data.end_longitude

                    this.loading = false
                })
                .catch(error => {
                    console.log(error);
                })
        },

        methods: {
            adminTrailEdit(trailId)
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        trailId: trailId
                    }
                }
                
                this.$goto('adminTrailEdit', options)
            },

            adminTrailDelete()
            {
                confirm({
                    title: "Parkuru silmek istediğinize emin misiniz?",
                    okButtonText: "Sil",
                    cancelButtonText: "Vazgeç"
                }).then(result => {
                    if (result) {
                        this.$store.dispatch('adminTrailDelete', this.trailId)
                            .then(response => {
                                alert({
                                    title: 'Başarılı',
                                    message: response.data.message,
                                    okButtonText: "Tamam",
                                    cancelable: false 
                                }).then(() => {
                                    this.$goto('adminTrailList')
                                })
                            })
                            .catch(error => {
                                alert({
                                    title: 'Uyarı',
                                    message: error.response.data.message,
                                    okButtonText: "Tamam",
                                    cancelable: false
                                }).then(() => {
                                    console.log(error)
                                });
                            })
                    }
                });
            },

            openMap(lat, lng)
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        latitudeGet: lat,
                        longitudeGet: lng,
                    }
                }
                
                this.$goto('adminMapTemplate', options)
            },

        }
    };
</script>


<style scoped>
    
</style>