<template>
    <Page>

        <ActionBar backgroundColor="orange">
            <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
                <Image src="~/icons/kosular@3x.png" marginRight="10" width="20" height="20"></Image>
                <Label text="Parkur Ekle" fontWeight="400"></Label>
            </StackLayout>
            <NavigationButton :visibility="'visible'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap" />
        </ActionBar>

        <DockLayout>

            <ScrollView dock="top" height="90%" v-if="!loading">
                <WrapLayout>

                    <StackLayout class="input-area" width="100%" padding="10">
                        <Label text="Parkur Adı" class="input-title" />
                        <TextField v-model="formData.name" autocorrect="false" autocapitalizationType="capitalize" returnKeyType="next"
                            android:height="30" ios:height="30" android:borderBottomWidth="1"
                            android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10" />
                        <StackLayout class="hr-gray" height="1" />
                        <Label :text="errorMessage.name" class="error-red" />
                    </StackLayout>

                    <StackLayout class="input-area" width="100%" padding="10">
                        <Label text="Yarış Pisti" class="input-title" />
                        <TextField v-model="formData.racecourse" autocorrect="false" autocapitalizationType="capitalize" returnKeyType="next"
                            android:height="30" ios:height="30" android:borderBottomWidth="1"
                            android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10" />
                        <StackLayout class="hr-gray" height="1" />
                        <Label :text="errorMessage.racecourse" class="error-red" />
                    </StackLayout>

                    <GridLayout columns="*, 30" rows="20, 38, 5, 12" width="100%" padding="10">
                        <Label text="Şehir" class="input-title" row="0" colSpan="2" />
                        <DropDown :items="cities" @selectedIndexChanged="cityChange" android:height="40" android:borderWidth="1"
                            android:borderColor="transparent" ios:borderWidth="0" backgroundColor="white" row="1"
                            colSpan="2" ios:height="35" hint="Seçiniz" class="DD" />
                        <Label isUserInteractionEnabled="false" row="1" col="1" color="black" textAlignment="center"
                            class="la" paddingTop="10" android:height="40">{{'la-angle-down' | fonticon}}</Label>
                        <StackLayout class="hr-gray" row="2" colSpan="2" height="1" />
                        <Label :text="errorMessage.cityId" class="error-red" row="3" />
                    </GridLayout>

                    <GridLayout columns="*, *" rows="auto" width="100%">

                        <StackLayout col="0" row="0" class="input-area" width="100%" padding="10">
                            <Label text="Başlangıç noktası(lat)" class="input-title" />
                            <TextField v-model="formData.startLatitude" autocorrect="false" autocapitalizationType="capitalize" returnKeyType="next"
                                android:height="30" ios:height="30" android:borderBottomWidth="1"
                                android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10" />
                            <StackLayout class="hr-gray" height="1" />
                            <Label :text="errorMessage.startLatitude" class="error-red" />
                        </StackLayout>

                        <StackLayout col="1" row="0" class="input-area" width="100%" padding="10">
                            <Label text="Başlangıç noktası(lng)" class="input-title" />
                            <TextField v-model="formData.startLongitude" autocorrect="false" autocapitalizationType="capitalize" returnKeyType="next"
                                android:height="30" ios:height="30" android:borderBottomWidth="1"
                                android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10" />
                            <StackLayout class="hr-gray" height="1" />
                            <Label :text="errorMessage.startLongitude" class="error-red" />
                        </StackLayout>
                    
                    </GridLayout>

                    <GridLayout columns="*, *" rows="auto" width="100%">
                    
                        <StackLayout col="0" row="0" class="input-area" width="100%" padding="10">
                            <Label text="Bitiş noktası(lat)" class="input-title" />
                            <TextField v-model="formData.endLatitude" autocorrect="false" autocapitalizationType="capitalize" returnKeyType="next"
                                android:height="30" ios:height="30" android:borderBottomWidth="1"
                                android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10" />
                            <StackLayout class="hr-gray" height="1" />
                            <Label :text="errorMessage.endLatitude" class="error-red" />
                        </StackLayout>

                        <StackLayout col="1" row="0" class="input-area" width="100%" padding="10">
                            <Label text="Bitiş noktası(lng)" class="input-title" />
                            <TextField v-model="formData.endLongitude" autocorrect="false" autocapitalizationType="capitalize" returnKeyType="next"
                                android:height="30" ios:height="30" android:borderBottomWidth="1"
                                android:borderBottomColor="transparent" android:font-size="14px" fontSize="14" fontWeight="300" android:padding="0 10" />
                            <StackLayout class="hr-gray" height="1" />
                            <Label :text="errorMessage.endLongitude" class="error-red" />
                        </StackLayout>

                    </GridLayout>

                    <StackLayout width="100%" padding="10">
                        <Label text="Açık Adres" class="input-title" />
                        <TextView v-model="formData.openAddress" class="input-black" autocorrect="false" autocapitalizationType="none" returnKeyType="next" height="100" text="" />
                        <StackLayout class="hr-gray" />
                        <Label :text="errorMessage.openAddress" class="error-red" />
                    </StackLayout>

                    <StackLayout width="100%" padding="0 10 20 10">
                        <Button text="KAYDET" @tap="trailAdd()" class="btn btn-orange m-t-20" width="100%" height="55"/>
                    </StackLayout>

                </WrapLayout>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
            </ScrollView>

            <nav></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import nav from "../nav";
    import moment from "moment";
    import {ValueList} from "nativescript-drop-down";

    export default {
        name: "adminTrailAdd",

        components: {
            nav
        },

        data() {
            return {
                loading: true,
                cities: new ValueList([
                    {value: '0', display: 'Seçiniz...'},
                ]),
                selectedCity: 0,
                formData: {
                    name: '',
                    racecourse: '',
                    cityId: '',
                    openAddress: '',
                    startLatitude: '',
                    startLongitude: '',
                    endLatitude: '',
                    endLongitude: '',
                },
                errorMessage : {
                    name: '',
                    racecourse: '',
                    cityId: '',
                    openAddress: '',
                    startLatitude: '',
                    startLongitude: '',
                    endLatitude: '',
                    endLongitude: '',
                }
            };
        },

        created() {
            this.$store.dispatch("getToken");
            this.$store.dispatch("getUserId");

            this.$store.dispatch('cityList', 65)
            .then(response => {
                for (let loop = 0; loop < response.data.length; loop++) {
                    this.cities.push({
                        value: `${response.data[loop].id}`,
                        display: response.data[loop].city
                    })    
                }
            })
            .catch(error => {
                console.log(error.response.data.message)
            })

            this.loading = false
        },

        methods: {
            trailAdd() {
                this.errorMessage = {}
                let validateStatus = this.validateRegister()
                
                if (validateStatus)
                {
                    this.$store.dispatch('adminTrailAdd', {
                            name: this.formData.name,
                            racecourse: this.formData.racecourse,
                            cityId: this.formData.cityId,
                            openAddress: this.formData.openAddress,
                            startLatitude: this.formData.startLatitude,
                            startLongitude: this.formData.startLongitude,
                            endLatitude: this.formData.endLatitude,
                            endLongitude: this.formData.endLongitude,
                        })
                        .then(response => {
                            let options = options || {
                                clearHistory: false,
                                backstackVisible: true,
                                transition: {
                                    name: "fade",
                                    duration: 1,
                                    curve: "easeIn"
                                },
                                props: {
                                    trailId: response.data.trail_id
                                }
                            }
                            
                            this.$goto('adminTrailDetail', options)
                        })
                        .catch(error => {
                            alert({
                                title: 'Uyarı',
                                message: error.response.data.message,
                                okButtonText: "Tamam",
                                cancelable: false
                            }).then(() => {
                                console.log(error)
                            });
                        })
                }
                else
                {
                    alert({
                        title: 'Uyarı',
                        message: 'Gerekli alanları doldurunuz',
                        okButtonText: "Tamam",
                        cancelable: false
                    }).then(() => {
                        console.log(error)
                    });
                }
            },

            validateRegister() {
                let status = true

                if(this.formData.name == '' || !this.formData.name)
                {
                    this.errorMessage.name = 'Parkur Adı alanı boş bırakılamaz'
                    status = false
                }

                if(this.formData.racecourse == '' || !this.formData.racecourse)
                {
                    this.errorMessage.racecourse = 'Yarış Pisti alanı boş bırakılamaz'
                    status = false
                }

                if(!this.formData.cityId || this.formData.cityId == '0')
                {
                    this.errorMessage.cityId = 'Şehir Seçiniz'
                    status = false
                }

                if(this.formData.startLatitude == '' || !this.formData.startLatitude)
                {
                    this.errorMessage.startLatitude = 'Bu alan boş bırakılamaz'
                    status = false
                }

                if(this.formData.startLongitude == '' || !this.formData.startLongitude)
                {
                    this.errorMessage.startLongitude = 'Bu alan boş bırakılamaz'
                    status = false
                }

                if(this.formData.endLatitude == '' || !this.formData.endLatitude)
                {
                    this.errorMessage.endLatitude = 'Bu alan boş bırakılamaz'
                    status = false
                }

                if(this.formData.endLongitude == '' || !this.formData.endLongitude)
                {
                    this.errorMessage.endLongitude = 'Bu alan boş bırakılamaz'
                    status = false
                }

                if(this.formData.openAddress == '' || !this.formData.openAddress)
                {
                    this.errorMessage.openAddress = 'Açık Adres alanı boş bırakılamaz'
                    status = false
                }

                return status
            },

            cityChange(args)
            {
                this.formData.cityId = this.cities.getValue(args.newIndex)
            },
        }
    };
</script>

<style scoped>
    Dropdown {
        font-size: 14;
        border-bottom-color: transparent;
        border-bottom-width: 1;
    }
    .input-title {
        font-size: 14px;
    }
</style>