<template>
    <Page>
        <ActionBar title="PARKURLAR" backgroundColor="orange">
            <NavigationButton :visibility="'collapsed'" android.systemIcon="ic_menu_back" />
            <ActionItem @tap="$goto('adminRaceList')"
                ios.systemIcon="8" ios.position="left"
                android.systemIcon="ic_menu_back" android.position="actionBar">
            </ActionItem>
        </ActionBar>

        <DockLayout>

            <ScrollView dock="top" height="80%" v-if="!rows && !loading">
                <Label text="Parkur bulunamadı" verticalAlignment="top" marginTop="20" textAlignment="center"></Label>
            </ScrollView>

            <ScrollView dock="top" height="80%" v-else-if="rows && !loading">

                <RadListView ref="listView" for="row in rows" pullToRefresh="true" @pullToRefreshInitiated="onPullToRefreshInitiated" class="list-group" separatorColor="transparent">
                    <v-template>
                        <GridLayout columns="*, 50" rows="auto" width="100%" verticalAlignment="top"
                            class="raceItem" borderBottomWidth="1" borderBottomColor="#FFB500"
                            @tap="trailDetail(row.id)">

                            <StackLayout row="0" col="0" padding="15">
                                <Label :text="row.name" textWrap="true" />
                                <Label :text="row.racecourse" textWrap="true" />
                            </StackLayout>

                            <StackLayout row="0" col="1" verticalAlignment="center">
                                <Label color="black" class="la"
                                    textAlignment="center">{{'la-angle-right' | fonticon}}</Label>
                            </StackLayout>

                        </GridLayout>
                    </v-template>
                </RadListView>
            </ScrollView>

            <ScrollView dock="top" height="80%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="orange"></ActivityIndicator>
            </ScrollView>

            <ScrollView dock="top" height="10%">
                <GridLayout columns="*" orientation="horizontal" width="100%" backgroundColor="transparent"
                    textAlignment="center" horizontalAlignment="center" padding="5 5 5 5" @tap="$goto('adminTrailAdd')">
                    <StackLayout class="btn btn-orange" height="50" margin="0" paddingTop="15" width="100%"
                        textAlignment="center">

                        <Label class="text-center">
                            <FormattedString>
                                <Span class="la">{{'la-plus-circle' | fonticon}} </Span>
                                <Span text="PARKUR EKLE" />
                            </FormattedString>
                        </Label>

                    </StackLayout>
                </GridLayout>
            </ScrollView>

            <nav></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import {ObservableArray} from "tns-core-modules/data/observable-array";
    import nav from "../nav";
    import moment from "moment";

    export default {
        name: "adminTrailList",

        components: {
            nav
        },

        data() {
            return {
                loading: true,
                rows: new ObservableArray([]),
            };
        },

        created() {
            this.$store.dispatch("getToken");
            this.$store.dispatch("getUserId");
            this.$store.dispatch("getAdminGroupId")
            this.$store.dispatch("adminTrailList")
                .then(response => {
                    this.rows.push(response.data);

                    this.loading = false;
                })
                .catch(error => {
                    this.rows = error.response.data.status;
                    this.loading = false;
                    console.log(error.response.data.message);
                });
        },

        methods: {
            onPullToRefreshInitiated ({ object }) {
                this.$nextTick(() => {

                    this.$store.dispatch("adminTrailList")
                        .then(response => {
                            this.rows = new ObservableArray([]);
                            this.rows.push(response.data);
                            object.notifyPullToRefreshFinished();
                        })
                        .catch(error => {
                            this.rows = error.response.data.status;
                            object.notifyPullToRefreshFinished();
                        });

                })
            },

            trailDetail(id) {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        trailId: id
                    }
                };

                this.$goto("adminTrailDetail", options);
            },
        }
    };
</script>



<style scoped>
    
</style>