<template>
    <Page>
        <ActionBar title="Takım Seçimi">
            <NavigationButton :visibility="'visible'" text="" android.systemIcon="ic_menu_back" />
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-else-if="!loading">

                <StackLayout width="100%" height="100%">
                    
                    <StackLayout class="bg" height="110" marginTop="0">
                        <Button text="+Yeni Takım Oluştur" @tap="teamCreate()" color="white" margin="10 5 5 5" backgroundColor="black" height="35"
                            width="95%" />
                        <TextField hint="Takım ara" @textChange="searchChanged" autocorrect="false" backgroundColor="white" padding="10"
                            margin="10"></TextField>
                    </StackLayout>

                    <StackLayout v-if="!teams" width="100%">
                        <Label text="Bu koşuda hiç takım yok" verticalAlignment="top" marginTop="20" textAlignment="center"></Label>
                    </StackLayout>

                    <StackLayout v-else-if="teams" width="100%">
                        <ListView for="team in teams" class="list-group" separatorColor="transparent" height="100%">
                            <v-template>
                            
                                <StackLayout class="tContainer" width="100%">

                                    <StackLayout padding="5" width="100%">
                                        <Label :text="team.name" fontWeight="700" fontSize="18px" />
                                        <Label :text="team.count_user + ' üye kayıtlı / ' + team.capacity" fontWeight="400" fontSize="14px" />
                                    </StackLayout>

                                    <StackLayout width="100%">
                                        <ListView for="user in team.team_users" separatorColor="transparent" height="100%" width="100%">
                                            <v-template>
                                                <StackLayout>
                                                    <GridLayout columns="50, *" rows="auto, auto">
                                                        <Image row="0" col="0" rowspan="1" width="30" height="30" margin="10" borderWidth="1"
                                                            borderColor="black" verticalAlignment="center"
                                                            :src="user.photo"
                                                            borderRadius="50" />
                                                        <Label class="text" :text="user.name + ' ' + user.surname + (user.is_captain == 1 ? ' (K)' : '')" row="0" col="1" />
                                                    </GridLayout>
                                                    <StackLayout class="hr-light" />
                                                </StackLayout>
                                            </v-template>
                                        </ListView>
                                    </StackLayout>

                                    <StackLayout width="100%" v-if="team.count_user != team.capacity">
                                        <Button text="TAKIMA TAKIL" @tap="registerForTeam(team.id)" class="btn btn-red" margin="15 10 10 10" height="50" width="95%" />
                                    </StackLayout>
                                    
                                    <StackLayout width="100%" v-else-if="team.count_user == team.capacity">
                                        <Button text="TAKIM DOLDU" class="btn btn-gray" margin="15 10 10 10" height="50" width="95%" />
                                    </StackLayout>

                                </StackLayout>

                            </v-template>
                        </ListView>
                    </StackLayout>

                </StackLayout>

            </ScrollView>

            <nav :activeRace="activeClass"></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import nav from "../nav";

    export default {
        name: "main",

        components: {
            nav
        },

        props: {
            raceId: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                activeClass: "active",
                loading: true,
                raceId: this.raceId,
                teams: {}
            };
        },

        created() {
            this.$store.dispatch('getToken')
            this.$store.dispatch('getUserId')
            this.$store.dispatch('getTeams', {
                raceId: this.raceId,
                searchText: '',
            })
            .then(response => {
                this.teams = response.data

                this.loading = false
            })
            .catch(error => {
                console.log(error.response.data.message)
                this.teams = null;

                this.loading = false
            });
        },

        methods: {
            searchChanged(args)
            {
                let searchBar = args.object;
                let searchText = searchBar.text

                this.$store.dispatch('getTeams', {
                    raceId: this.raceId,
                    searchText: searchText,
                })
                .then(response => {
                    this.teams = response.data;
                })
                .catch(error => {
                    console.log(error.response.data)
                    this.teams = null;
                })
            },

            registerForTeam(teamId)
            {
                this.$store.dispatch('registerForTeam', {
                    teamId: teamId,
                    raceId: this.raceId,
                })
                .then(response => {
                    let options = options || {
                        clearHistory: false,
                        backstackVisible: true,
                        transition: {
                            name: "fade",
                            duration: 1,
                            curve: "easeIn"
                        },
                        props: {
                            raceId: this.raceId
                        }
                    }

                    this.$goto('invitationSentToTeam', options)
                })
                .catch(error => {
                    alert({
                        title: 'Uyarı',
                        message: error.response.data.message,
                        okButtonText: "Tamam",
                        cancelable: false
                    }).then(() => {
                        console.log(error)
                    });
                })
            },

            teamCreate()
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        raceId: this.raceId
                    }
                }

                this.$goto('teamCreate', options)
            },
        }
    };
</script>



<style scoped>
    .tContainer {
        margin-bottom: 40px;
    }
</style>