<template>
    <Page>

        <ActionBar title="Yeni Takım Oluştur">
            <NavigationButton :visibility="'visible'" text="" android.systemIcon="ic_menu_back" tap="onNavBtnTap" />
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-else-if="!loading">
                <StackLayout height="100%" width="100%" dock="top" color="black">
                    <StackLayout padding="10">
                        <Label textWrap="true" padding="20" textAlignment="center"
                            :text="'Sevgili ' + userName + ', lütfen yeni takım adı kurmadan önce benzer isimde takım olup olmadığına iyice bak :)'" />
                        
                        <StackLayout marginBottom="15">
                            <Label text="Takım Adı" class="input-title" />
                            <TextField class="input-black" v-model="formData.teamName" autocorrect="false" autocapitalizationType="none" returnKeyType="next" />
                            <StackLayout class="hr-gray" />
                            <Label :text="errorMessage.teamName" class="error-red" />
                        </StackLayout>

                        <GridLayout rows="*" columns="100, *" height="90" marginBottom="15">

                            <StackLayout row="0" col="0">

                                <AbsoluteLayout class="select-image" @tap="onSelectSingleTap" margin="5" top="0"
                                    borderRadius="80" borderWidth="1" borderColor="gray" width="80" height="80">
                                    <Image :src="imageSrc" :visibility="isSingleMode?'visible':'collapsed'"
                                        :width="previewSize" borderColor="gray" borderRadius="80" :height="previewSize"
                                        stretch="aspectFill" />
                                </AbsoluteLayout>

                            </StackLayout>

                            <StackLayout row="0" col="1">
                                <Label textWrap="true" marginTop="30" fontWeignt="100"
                                    text="Koşu sıralamalarında çıkacak profil resmini seç" fontSize="16" />

                            </StackLayout>

                        </GridLayout>

                        <StackLayout class="hr-gray" />
                        <StackLayout width="100%" paddingTop="20">
                            <Button text="KAYDET" @tap="teamCreate()" backgroundColor="black" height="60" color="white" fontWeight="400" fontSize="12" />
                        </StackLayout>

                    </StackLayout>

                </StackLayout>
            </ScrollView>

            <nav :activeRace="activeClass"></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import {
        Observable
    } from 'tns-core-modules/data/observable';
    import * as imagepicker from "nativescript-imagepicker";
    import {
        ItemEventData
    } from "tns-core-modules/ui/list-view";
    import {
        Label
    } from "tns-core-modules/ui/label";
    import nav from "../nav";

    export default {

        name: "main",

        components: {
            nav
        },

        props: {
            raceId: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                activeClass: "active",
                loading: true,
                raceId: this.raceId,
                userName: '',
                formData : {
                    teamName: '',
                },
                errorMessage : {
                    teamName: '',
                },
                isSingleMode: true,
                imageAssets: [],
                imageSrc: null,
                previewSize: 80,
                thumbSize: 80,
                thumbSize: null,
            }
        },

        created() {
            this.$store.dispatch('getUser')
            .then(response => {
                this.userName = response.data.name

                this.loading = false
            })
            .catch(error => {
                console.log(error.response.data.message)
            })
        },

        methods: {
            teamCreate()
            {
                this.errorMessage = {}
                let validateStatus = this.validateTeam()
                
                if (validateStatus)
                {
                    this.$store.dispatch('teamCreate', {
                        teamName: this.formData.teamName,
                        raceId: this.raceId,
                    })
                    .then(response => {
                        let options = options || {
                            clearHistory: false,
                            backstackVisible: true,
                            transition: {
                                name: "fade",
                                duration: 1,
                                curve: "easeIn"
                            },
                            props: {
                                raceId: this.raceId,
                                teamId: response.data
                            }
                        }

                        this.$goto('inviteToTeam', options)
                    })
                    .catch(error => {
                        alert({
                            title: 'Uyarı',
                            message: error.response.data.message,
                            okButtonText: "Tamam",
                            cancelable: false
                        }).then(() => {
                            console.log(error)
                        });
                    })
                }
            },

            validateTeam() {
                let status = true

                if(this.formData.teamName == '')
                {
                    this.errorMessage.teamName = 'Takım ad alanı boş bırakılamaz'
                    status = false
                }
                
                return status
            },

            onSelectSingleTap: function (e) {
                this.isSingleMode = true;
                let context = imagepicker.create({
                    mode: "single"
                });
                this.startSelection(context);
            },
            onSelectMultipleTap: function () {
                this.isSingleMode = false;
                let context = imagepicker.create({
                    mode: "multiple"
                });
                this.startSelection(context);
            },
            startSelection(context) {
                context
                    .authorize()
                    .then(() => {
                        this.imageAssets = [];
                        this.imageSrc = null;
                        return context.present();
                    })
                    .then((selection) => {
                        console.log("Selection done: " + JSON.stringify(selection));
                        this.imageSrc = this.isSingleMode && selection.length > 0 ? selection[0] : null;
                        // set the images to be loaded from the assets with optimal sizes (optimize memory usage)
                        selection.forEach(element => {
                            element.options.width = this.isSingleMode ? this.previewSize : this.thumbSize;
                            element.options.height = this.isSingleMode ? this.previewSize : this.thumbSize;
                        });
                        this.imageAssets = selection;
                    }).catch(function (e) {
                        console.log(e);
                    });
            },
            onItemLoading(args) {
                let label = args.view.getViewById("imageLabel");
                label.text = "image " + args.index;
            }
        }
    };
</script>


<style scoped>
    #mark-view {
        background-color: black;
    }

    #delete-view {
        background-color: red;
    }

    .select-image {
        background-image: url('~/icons/plus-circle.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        background-size: 50% 50%;
    }

    .input-black {
        font-size: 16px;
        padding: 0
    }
</style>