<template>
    <Page>
        <ActionBar title="Takım Bilgileri">
            <NavigationButton :visibility="'visible'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap" />
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-else-if="!loading">
                <StackLayout height="100%" width="100%" dock="top" color="black">
                    <StackLayout class="bg" height="120" marginTop="0" padding="10">
                        <GridLayout rows="*" columns="100,*" color="white">
                            <StackLayout row="1" col="0">
                                <Label :text="teamPhotoName" fontWeight="700" fontSize="30" backgroundColor="gray" borderRadius="50" textAlignment="center" borderWidth="8" borderColor="white" width="100" height="100" />
                            </StackLayout>
                            <StackLayout row="1" col="1" paddingTop="20" paddingLeft="10">
                                <Label text="Takım Adı" fontSize="12" fontWeight="500" />
                                <Label :text="teamInfo.name" fontSize="20" fontWeight="500" /> 
                                <Label :text="teamInfo.count_user + ' üye kayıtlı / ' + teamInfo.capacity" fontSize="15" />
                            </StackLayout>
                        </GridLayout>
                    </StackLayout>

                    <RadListView ref="listView" for="item in itemList" @itemTap="onItemTap" pullToRefresh="false"
                        @itemSwipeProgressStarted="onSwipeStarted" itemReorder="true" height="65%">
                        <v-template>
                            <StackLayout class="item" orientation="vertical" borderBottomWidth="1" borderBottomColor="#e7e7e7" paddingTop="5" paddingBottom="5">
                                
                                <GridLayout rows="*,*" columns="80, *, 120">
                                    <StackLayout col="0">
                                        <Image :src="item.photo" width="60" height="60" borderRadius="75" borderColor="gray"
                                            borderWidth="2" />
                                    </StackLayout>

                                    <StackLayout col="1" paddingTop="15">
                                        <Label :text="item.name + ' ' + item.surname + (item.is_captain == 1 ? ' (K)' : '')" fontWeight="400" fontSize="16" />
                                        <Label :text="item.district_name + ', ' + item.city_name" fontWeight="300" fontSize="12" />
                                    </StackLayout>
                                    <StackLayout col="2">
                                        <!-- <Button text="Kaptanlığı Devret" backgroundColor="black" height="60" marginRight="5" color="white" verticalAlignment="center" fontWeight="400" fontSize="12"  /> -->
                                        <Button text="Onayla" v-if="item.is_accepted_as_captain == 0" @tap="userApprove(item.team_id, item.user_id)"  backgroundColor="orange" height="60" marginRight="5" color="white" verticalAlignment="center" fontWeight="400" fontSize="12" />
                                        <Button text="Onay Bekleniyor" v-else-if="item.is_accepted_as_user == 0" backgroundColor="#5bc0de" height="60" marginRight="5" color="white" verticalAlignment="center" fontWeight="400" fontSize="12" />
                                    </StackLayout>
                                </GridLayout>

                            </StackLayout>
                        </v-template>
                    </RadListView>
                    <StackLayout width="100%" padding="10">
                        <Button text="DAVET ET" @tap="InviteToTeam()" backgroundColor="black" height="60" color="white" fontWeight="400"
                            fontSize="12" />
                    </StackLayout>
                </StackLayout>
            </ScrollView>

            <nav :activeRace="activeClass"></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import {ObservableArray} from "tns-core-modules/data/observable-array";

    import nav from "../nav";

    export default {
        name: "teamInfo",

        components: {
            nav
        },

        props: {
            teamId: {
                type: String,
                required: true,
            }
        },

        data() {
            return {
                activeClass: "active",
                loading: true,
                teamId: this.teamId,
                teamInfo: {},
                teamPhotoName: '',
                raceId: '',
                itemList: new ObservableArray([]),
            };
        },

        created() {
            this.$store.dispatch('getTeamInfo', this.teamId)
            .then(response => {
                this.teamInfo = response.data
                this.raceId = response.data.race_id
                this.teamPhotoName = response.data.name.charAt(0).toUpperCase()
            })
            .catch(error => {
                console.log(error.response.data)
            })

            this.$store.dispatch('getUsersInTeamUser', this.teamId)
            .then(response => {
                this.loading = false
                this.itemList.push(response.data);
            })
            .catch(error => {
                this.loading = false
                console.log(error.response.data)
            })
        },

        methods: {
           userApprove(teamId, userId)
           {
               this.$store.dispatch('teamUserApprove', {
                    teamId: teamId,
                    userId: userId
                })
                .then(response => {
                    alert({
                        title: 'Başarılı',
                        message: response.data.message,
                        okButtonText: "Tamam",
                        cancelable: false
                    }).then(() => {
                        
                        this.$store.dispatch('getUsersInTeamUser', this.teamId)
                        .then(response => {
                            this.itemList = new ObservableArray([])
                            this.itemList.push(response.data);
                        })
                        .catch(error => {
                            this.itemList = new ObservableArray([])
                            console.log(error.response.data)
                        })

                    });
                })
                .catch(error => {
                    console.log(error.response.data.message);
                })
           },

            InviteToTeam()
            {
                let options = options || {
                    clearHistory: false,
                    backstackVisible: true,
                    transition: {
                        name: "fade",
                        duration: 1,
                        curve: "easeIn"
                    },
                    props: {
                        raceId: this.raceId,
                        teamId: this.teamId
                    }
                }

                this.$goto('inviteToTeam', options)
            },
        }
    };
</script>

<style scoped>
    #mark-view {
        background-color: black;
    }

    #delete-view {
        background-color: red;
    }
</style>