<template>
    <Page>
        <ActionBar title="Takıma Davet Et">
            <NavigationButton :visibility="'visible'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap" />
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-else-if="!loading">
                <StackLayout height="100%" width="100%" dock="top" color="black">

                    <StackLayout class="bg" height="90" marginTop="0" padding="10">
                        <TextField @textChange="searchChanged" height="50" hint="Kişi ara" autocorrect="false" backgroundColor="white" padding="10" margin="10"></TextField>
                    </StackLayout>

                    <StackLayout height="65%" padding="10" v-if="warningText != ''">
                        <label :text="warningText" fontSize="16" textWrap="true" marginTop="20" textAlignment="center"></label>
                    </StackLayout>

                    <RadListView ref="listView" for="item in itemList" @itemSelected="onItemSelected" @itemDeselected="onItemDeselected" height="65%" selectionBehavior="Press" multipleSelection="true" v-if="warningText == ''">
                        <v-template>

                            <StackLayout class="item" orientation="vertical" borderBottomWidth="1" borderBottomColor="#e7e7e7" paddingTop="5" paddingBottom="5">
                                <GridLayout rows="*,*" columns="40, 80, *">
                                    
                                     <StackLayout col="0"></StackLayout>

                                    <StackLayout col="1">
                                        <Image :src="item.photo" width="60" height="60" borderRadius="75" borderColor="gray" borderWidth="2" />
                                    </StackLayout>

                                    <StackLayout col="2" paddingTop="10">
                                        <Label :text="item.name + ' ' + item.surname" fontWeight="400" fontSize="16" />
                                        <Label :text="item.district_name + ', ' + item.city_name" fontWeight="300" fontSize="12" />
                                    </StackLayout>

                                </GridLayout>
                            </StackLayout>

                        </v-template>
                    </RadListView>

                    <StackLayout width="100%" padding="10">
                        <Button text="DAVET ET" @tap="sendInvitation()" backgroundColor="black" height="60" color="white" fontWeight="400" fontSize="12" />
                    </StackLayout>

                </StackLayout>
            </ScrollView>

            <nav :activeRace="activeClass"></nav>
        </DockLayout>
    </Page>
</template>


<script>
    import {ObservableArray} from "tns-core-modules/data/observable-array";
    import nav from "../nav";

    export default {
        name: "inviteToTeam",

        components: {
            nav
        },

        props: {
            raceId: {
                type: Number,
                required: true
            },
            teamId: {
                type: Number,
                required: true
            }
        },

        data() {
            return {
                activeClass: "active",
                loading: true,
                raceId: this.raceId,
                teamId: this.teamId,
                itemList: new ObservableArray([]),
                userIdArray: [],
                warningText: 'Yukarıdaki alana davet etmek istediğin kişinin adını yazınız',
            };
        },

        created() {
            this.$store.dispatch('getUsersInTeam', {
                searchText: '',
                raceId: this.raceId,
            })
            .then(response => {
                this.loading = false
                this.itemList.push(response.data);
            })
            .catch(error => {
                this.loading = false
                console.log(error.response.data.message);
            })
        },

        methods: {
            searchChanged(args)
            {
                let searchBar = args.object;
                let searchText = searchBar.text
                
                this.$store.dispatch('getUsersInTeam', {
                    searchText: searchText,
                    raceId: this.raceId,
                })
                .then(response => {
                    this.warningText = ''
                    this.itemList = new ObservableArray([])
                    this.itemList.push(response.data)
                })
                .catch(error => {
                    this.warningText = 'Aradağın kişi bulunamadı'
                    this.itemList = new ObservableArray([])
                })
            },

            onItemSelected({ index, object }) {
                let itemSelected = this.itemList.getItem(index)
                this.userIdArray.push(itemSelected.id)
            },
           
            onItemDeselected({ index, object }) {
                let itemSelected = this.itemList.getItem(index)
                let itemVal = this.userIdArray.indexOf(itemSelected.id)
                this.userIdArray.splice(itemVal, 1)
            },

            sendInvitation()
            {
                let teamUsers = JSON.stringify(this.userIdArray)
                if (teamUsers != '[]')
                {
                    this.$store.dispatch('inviteToTeam', {
                        teamUsers: teamUsers,
                        teamId: this.teamId,
                    })
                    .then(response => {
                        let options = options || {
                            clearHistory: false,
                            backstackVisible: true,
                            transition: {
                                name: "fade",
                                duration: 1,
                                curve: "easeIn"
                            },
                            props: {
                                raceId: this.raceId
                            }
                        }

                        this.$goto('sentInvitationsToUsers', options)
                    })
                    .catch(error => {
                        console.log(error.response.data)
                        alert({
                            title: 'Uyarı',
                            message: error.response.data.message,
                            okButtonText: "Tamam",
                            cancelable: false
                        }).then(() => {
                            console.log(error)
                        });
                    })
                }
                else
                {
                    alert({
                        title: 'Uyarı',
                        message: 'En az bir kişiyi takıma davet etmelisiniz!',
                        okButtonText: "Tamam",
                        cancelable: false
                    }).then(() => {
                        console.log(error)
                    });
                }
                
            },
            
            onNavigationButtonTap() {
                frameModule.topmost().goBack();
            }
        }
    };
</script>

<style scoped>

</style>