<template>
    <Page>
      <ActionBar title="Profil Düzenle">
            <NavigationButton  android.systemIcon="ic_menu_back" @tap="$navigateBack"/>
        </ActionBar>
        <DockLayout stretchLastChild="true">
            <ScrollView dock="top" height="90%" v-if="!loading">
                <DockLayout stretchLastChild="false">
                    <StackLayout class="profile-edit" dock="top" height="70%">
                        <GridLayout columns="*,2*, *" marginBottom="0" paddingLeft="15">
                            <Image
                                col="0"
                                marginTop="20"
                                :src="formData.photo"
                                borderRadius="100%"
                                width="90"
                                height="90"
                                class="edit-avatar"
                            />
                            <StackLayout col="1" paddingTop="50" paddingLeft="15">
                                <Label text="Profil Resmi" fontSize="14" fontWeight="200"></Label>
                            </StackLayout>
                        </GridLayout>
                    </StackLayout>
                    <StackLayout width="100%">
                        <StackLayout class="input-area" width="90%">
                            <Label text="T.C. Kimlik No" class="input-title" />
                            <TextField
                                class="input-black"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.tcNo"
                                keyboardType="number"
                                maxLength="11"
                            />
                            <!-- <NumericKeyboard class="input-black" :text="formData.tcNo" v-model="formData.tcNo"/> -->
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.tcNo" class="error-red" />
                        </StackLayout>
                        <StackLayout class="input-area" width="90%">
                            <Label text="E-Posta Adresi" class="input-title" />
                            <TextField
                                class="input-black"
                                keyboardType="email"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.email"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.email" class="error-red" />
                        </StackLayout>

                        <StackLayout class="input-area" width="90%">
                            <Label text="Ad" class="input-title" />
                            <TextField
                                class="input-black"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.name"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.name" class="error-red" />
                        </StackLayout>
                        <StackLayout class="input-area" width="90%">
                            <Label text="Soyad" class="input-title" />
                            <TextField
                                class="input-black"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.surname"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.surname" class="error-red" />
                        </StackLayout>

                        <WrapLayout>
                        
                            <StackLayout class="input-area" width="42.5%"  marginLeft="5%" >
                                <Label text="Cinsiyet" class="input-title" />
                                <DropDown android:borderBottomWidth="1" android:borderBottomColor="gray" :items="genders" :selectedIndex="selectedGender" @selectedIndexChanged="genderChange" android:height="35" ios:height="16" class="input-black" />
                                <StackLayout class="hr-gray" android:visibility="collapsed"/>
                                <Label :text="errorMessage.gender" class="error-red" />
                            </StackLayout>

                            <StackLayout class="input-area" width="42.5%" marginLeft="5%">
                                <Label text="Doğum Tarihi" class="input-title" />
                                <DatePickerField @dateChange="onBirthDateChange" :date="formData.birthDate" dateFormat="dd/MM/yyyy" locale="tr_TR" hint="Doğum Tarihi" fontWeight="200" ></DatePickerField>
                                <StackLayout class="hr-gray" android:visibility="collapsed"/>
                                <Label :text="errorMessage.birthDate" class="error-red" />
                            </StackLayout>
                        </WrapLayout>
                        <StackLayout class="input-area" width="90%">
                            <Label text="Yaşadığın Ülke" class="input-title" />
                            <DropDown android:borderBottomWidth="1" android:borderBottomColor="gray" :items="countries" :selectedIndex="selectedCountry" @selectedIndexChanged="countryChange" android:height="35" ios:height="16" class="input-black" />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.countryId" class="error-red" />
                        </StackLayout>
                        <WrapLayout>
                            <StackLayout class="input-area" width="42.5%" marginLeft="5%">
                                <Label text="Yaşadığın Şehir" class="input-title" />
                                <DropDown android:borderBottomWidth="1" android:borderBottomColor="gray" :items="cities" :selectedIndex="selectedCity" @selectedIndexChanged="cityChange" android:height="35" ios:height="16" class="input-black" />
                                <StackLayout class="hr-gray" android:visibility="collapsed"/>
                                <Label :text="errorMessage.cityId" class="error-red" />
                            </StackLayout>
                            <StackLayout class="input-area" width="42.5%" marginLeft="5%">
                                <Label text="İlçe" class="input-title" />
                                <DropDown android:borderBottomWidth="1" android:borderBottomColor="gray" :items="districts" :selectedIndex="selectedDistrict" @selectedIndexChanged="districtChange" android:height="35" ios:height="16" class="input-black" />
                                <StackLayout class="hr-gray" android:visibility="collapsed"/>
                                <Label :text="errorMessage.districtId" class="error-red" />
                            </StackLayout>

                        </WrapLayout>

                        <StackLayout class="input-area" width="90%">
                            <Label text="Telefon" class="input-title" />
                            <TextField
                                class="input-black"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.phone"
                                keyboardType="phone"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.phone" class="error-red" />
                        </StackLayout>
                        <StackLayout class="input-area" width="90%">
                            <Label text="Çalıştığın Kurum" class="input-title" />
                            <TextField
                                class="input-black"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.companyText"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.companyText" class="error-red" />
                        </StackLayout>

                        <StackLayout class="input-area" width="90%">
                            <Label text="Mesleğin" class="input-title" />
                            <TextField
                                class="input-black"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.jobText"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.jobText" class="error-red" />
                        </StackLayout>
                        <WrapLayout>
                            <StackLayout class="input-area" width="42.5%" marginLeft="5%">
                                <Label text="Boyun" class="input-title" />
                                <TextField
                                    class="input-black"
                                    autocorrect="false"
                                    autocapitalizationType="none"
                                    returnKeyType="next"
                                    v-model="formData.height"
                                />
                                <StackLayout class="hr-gray" android:visibility="collapsed"/>
                                <Label :text="errorMessage.height" class="error-red" />
                            </StackLayout>
                            <StackLayout class="input-area" width="42.5%" marginLeft="5%">
                                <Label text="Kilon" class="input-title" />
                                <TextField
                                    class="input-black"
                                    autocorrect="false"
                                    autocapitalizationType="none"
                                    returnKeyType="next"
                                    v-model="formData.weight"
                                />
                                <StackLayout class="hr-gray" android:visibility="collapsed"/>
                                <Label :text="errorMessage.weight" class="error-red" />
                            </StackLayout>

                        </WrapLayout>

                        <StackLayout class="input-area" width="90%">
                            <Label text="Yaptığım Sporlar" class="input-title" />
                            <TextField
                                class="input-black"
                                keyboardType="url"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.sports"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.sports" class="error-red" />
                        </StackLayout>

                        <StackLayout class="input-area" width="90%">
                            <Label text="Favori Parkurlarım" class="input-title" />
                            <TextField
                                class="input-black"
                                keyboardType="url"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.favoriteTrails"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.favoriteTrails" class="error-red" />
                        </StackLayout>
                        <StackLayout class="input-area" width="90%">
                            <Label text="En Uzun Koşun" class="input-title" />
                            <TextField
                                class="input-black"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.longestRunningDistance"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.longestRunningDistance" class="error-red" />
                        </StackLayout>

                        <StackLayout class="input-area" width="90%">
                            <Label text="Web Sitem" class="input-title" />
                            <TextField
                                class="input-black"
                                keyboardType="url"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.website"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.website" class="error-red" />
                        </StackLayout>
                        <StackLayout class="input-area" width="90%">
                            <Label text="Sosyal Profillerim" class="intermediate-title" />
                        </StackLayout> 
                        <StackLayout class="input-area" width="90%">
                            <Label text="Facebook" class="input-title" />
                            <TextField
                                class="input-black"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.facebookUsername"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.facebookUsername" class="error-red" />
                        </StackLayout>
                        <StackLayout class="input-area" width="90%">
                            <Label text="İnstagram" class="input-title" />
                            <TextField
                                class="input-black"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.instagramUsername"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.instagramUsername" class="error-red" />
                        </StackLayout>

                        <StackLayout class="input-area" width="90%">
                            <Label text="Linkedin" class="input-title" />
                            <TextField
                                class="input-black"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.linkedinUsername"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.linkedinUsername" class="error-red" />
                        </StackLayout>

                        <StackLayout class="input-area" width="90%">
                            <Label text="Hakkımda" class="input-title" />
                            <TextView
                                class="input-black"
                                autocorrect="false"
                                autocapitalizationType="none"
                                returnKeyType="next"
                                v-model="formData.about"
                            />
                            <StackLayout class="hr-gray" android:visibility="collapsed"/>
                            <Label :text="errorMessage.about" class="error-red" />
                        </StackLayout>

                        <StackLayout class="input-area" width="90%" marginTop="10">

                            <CheckBox
                                :checked="formData.iWantCaylaklarInfo"
                                text="Çaylaklar için bilgi istiyorum."
                                color="black"
                                textWrap="true"
                                @checkedChange="formData.iWantCaylaklarInfo = $event.value"
                            />

                        </StackLayout>
                        
                        <StackLayout class="input-area" width="90%">
                            <CheckBox
                                :checked="formData.iWantAdimadimkosuaktivitesiInfo"
                                text="Adım Adım Koşu Aktivitesi için bilgi istiyorum."
                                color="black"
                                textWrap="true"
                                @checkedChange="formData.iWantAdimadimkosuaktivitesiInfo = $event.value"
                            />
                        </StackLayout>  
                        

                        <StackLayout class="input-area" width="90%">
                            <CheckBox
                                :checked="formData.iWantKurumsalkosutakimiInfo"
                                text="Kurumsal Koşu Takımı Hakkında bilgi istiyorum."
                                color="black"
                                textWrap="true"
                                @checkedChange="formData.iWantKurumsalkosutakimiInfo = $event.value"
                            />
                        </StackLayout>

                        <StackLayout class="input-area" width="90%">
                            <CheckBox
                                :checked="formData.iWantGonulluolmakInfo"
                                text="Gönüllü Olmak İstiyorum."
                                color="black"
                                textWrap="true"
                                @checkedChange="formData.iWantGonulluolmakInfo = $event.value"
                            />
                        </StackLayout>

                        <Button text="KAYDET" @tap="profileUpdate" class="btn btn-black m-t-20" height="55"/>

                    </StackLayout>

                </DockLayout>

            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <nav :activeProfile="activeClass"></nav>

        </DockLayout>

    </Page>

</template>

<script>
import nav from "../nav"
import moment from 'moment'
import { ValueList } from "nativescript-drop-down";

export default {
    name: "profileEdit",
    
    components: {
        nav
    },

    data() {
        return {
            activeClass: 'active',
            loading: true,
            genders: new ValueList([
                {value: '0', display: 'Seçiniz...'},
                {value: 'Erkek', display: 'Erkek'},
                {value: 'Kadın', display: 'Kadın'},
                {value: 'Diğer', display: 'Diğer'},
            ]),
            selectedGender: 0,
            countries: new ValueList([
                {value: '0', display: 'Seçiniz...'},
            ]),
            selectedCountry: 0,
            cities: new ValueList([
                {value: '0', display: 'Seçiniz...'},
            ]),
            selectedCity: 0,
            districts: new ValueList([
                {value: '0', display: 'Seçiniz...'},
            ]),
            selectedDistrict: 0,
            formData: {
                profileId: '',
                tcNo: '',
                email: '',
                photo: '',
                name: '',
                surname: '',
                gender: '',
                birthDate: '',
                countryId: '',
                cityId: '',
                districtId: '',
                phone: '',
                companyText: '',
                jobText: '',
                height: '',
                weight: '',
                longestRunningDistance: '',
                website: '',
                facebookUsername: '',
                instagramUsername: '',
                linkedinUsername: '',
                about: '',
                iWantCaylaklarInfo: '',
                iWantAdimadimkosuaktivitesiInfo: '',
                iWantKurumsalkosutakimiInfo: '',
                iWantGonulluolmakInfo: '',
                favoriteTrails: '',
                sports: '',
            },
            errorMessage : {
                tcNo: '',
                email: '',
                name: '',
                surname: '',
                gender: '',
                birthDate: '',
                countryId: '',
                cityId: '',
                districtId: '',
                jobText: '',
            }
        }
    },

    created() {        
        this.$store.dispatch('getUser')
  		.then(response => {
            this.formData.profileId = response.data.id
            this.formData.tcNo = response.data.tc_no
            this.formData.email = response.data.email
            this.formData.photo = response.data.photo
            this.formData.name = response.data.name
            this.formData.surname = response.data.surname
            this.formData.gender = response.data.gender === null ? '0' : response.data.gender
            this.formData.birthDate = this.vueDateConvert(response.data.birth_date)
            this.formData.countryId = response.data.country_id === null ? '0' : response.data.country_id
            this.formData.cityId = response.data.city_id === null ? '0' : response.data.city_id
            this.formData.districtId = response.data.district_id === null ? '0' : response.data.district_id 
            this.formData.phone = response.data.phone
            this.formData.companyText = response.data.company_text
            this.formData.jobText = response.data.job_text
            this.formData.height = response.data.height
            this.formData.weight = response.data.weight
            this.formData.longestRunningDistance = response.data.longest_running_distance
            this.formData.website = response.data.website
            this.formData.facebookUsername = response.data.facebook_username
            this.formData.instagramUsername = response.data.instagram_username
            this.formData.linkedinUsername = response.data.linkedin_username
            this.formData.about = response.data.about
            this.formData.iWantCaylaklarInfo = response.data.i_want_caylaklar_info
            this.formData.iWantAdimadimkosuaktivitesiInfo = response.data.i_want_adimadimkosuaktivitesi_info
            this.formData.iWantKurumsalkosutakimiInfo = response.data.i_want_kurumsalkosutakimi_info
            this.formData.iWantGonulluolmakInfo = response.data.i_want_gonulluolmak_info
            this.formData.favoriteTrails = response.data.favorite_trails
            this.formData.sports = response.data.sports

            this.selectedGender = this.genders.getIndex(this.formData.gender)

            this.$store.dispatch('countryList')
            .then(response => {
                for (let loop = 0; loop < response.data.length; loop++) {
                    this.countries.push({
                        value: `${response.data[loop].country_id}`,
                        display: response.data[loop].country
                    })    
                }

                this.selectedCountry = this.countries.getIndex(`${this.formData.countryId}`)
            })
            .catch(error => {
                console.log(error.response.data.message)
            })
            
            this.$store.dispatch('cityList', this.formData.countryId)
            .then(response => {
                for (let loop = 0; loop < response.data.length; loop++) {
                    this.cities.push({
                        value: `${response.data[loop].id}`,
                        display: response.data[loop].city
                    })    
                }
                this.selectedCity = this.cities.getIndex(`${this.formData.cityId}`)
            })
            .catch(error => {
                console.log(error.response.data.message)
            })

            this.$store.dispatch('districtList', this.formData.cityId)
            .then(response => {
                for (let loop = 0; loop < response.data.length; loop++) {
                    this.districts.push({
                        value: `${response.data[loop].id}`,
                        display: response.data[loop].district
                    })    
                }
                this.selectedDistrict = this.districts.getIndex(`${this.formData.districtId}`)
            })
            .catch(error => {
                console.log(error.response.data.message)
            })
  		})
  		.catch(error => {
  			console.log(error.response.data.message)
        })
          
        setTimeout(() => this.loading = false, 30)
    },

    methods: {
        profileUpdate() {
            this.errorMessage = {}
            let validateStatus = this.validateRegister()
            
            if (validateStatus)
            {
                this.$store.dispatch('profileUpdate', {
                    id: this.formData.profileId,
                    tc_no: this.formData.tcNo,
                    email: this.formData.email,
                    name: this.formData.name,
                    surname: this.formData.surname,
                    gender: this.formData.gender,
                    birth_date: this.dbDateConvert(this.formData.birthDate),
                    country_id: this.formData.countryId,
                    city_id: this.formData.cityId,
                    district_id: this.formData.districtId,
                    phone: this.formData.phone,
                    company_text: this.formData.companyText,
                    job_text: this.formData.jobText,
                    height: this.formData.height,
                    weight: this.formData.weight,
                    longest_running_distance: this.formData.longestRunningDistance,
                    website: this.formData.website,
                    facebook_username: this.formData.facebookUsername,
                    instagram_username: this.formData.instagramUsername,
                    linkedin_username: this.formData.linkedinUsername,
                    about: this.formData.about,
                    i_want_caylaklar_info: this.formData.iWantCaylaklarInfo,
                    i_want_adimadimkosuaktivitesi_info: this.formData.iWantAdimadimkosuaktivitesiInfo,
                    i_want_kurumsalkosutakimi_info: this.formData.iWantKurumsalkosutakimiInfo,
                    i_want_gonulluolmak_info: this.formData.iWantGonulluolmakInfo,
                    favorite_trails: this.formData.favoriteTrails,
                    sports: this.formData.sports,
                })
                .then(response => {
                    alert({
                        title: 'Başarılı',
                        message: response.data.message,
                        okButtonText: "Tamam",
                        cancelable: false 
                    }).then(() => {
                        this.$goto('profileView')
                    });
                })
                .catch(error => {
                    alert({
                        title: 'Uyarı',
                        message: error.response.data.message,
                        okButtonText: "Tamam",
                        cancelable: false
                    }).then(() => {
                        console.log(error)
                    });
                })
            }
            else
            {
                alert({
                    title: 'Uyarı',
                    message: 'Gerekli alanları doldurunuz',
                    okButtonText: "Tamam",
                    cancelable: false
                }).then(() => {
                    console.log(error)
                });
            }
        },

        validateRegister() {
            let status = true

            if(this.formData.tcNo == '' || !this.formData.tcNo)
            {
                this.errorMessage.tcNo = 'Tc Kimlik No alanı boş bırakılamaz'
                status = false
            }

            if(this.formData.email == '')
            {
                this.errorMessage.email = 'E-Posta alanı boş bırakılamaz'
                status = false
            }
            else
            {
                var reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (!reg.test(this.formData.email))
                {
                    this.errorMessage.email = 'E-Posta formatı uygun değil'
                    status = false
                }
            }

            if(this.formData.name == '' || !this.formData.name)
            {
                this.errorMessage.name = 'İsim alanı boş bırakılamaz'
                status = false
            }

            if(this.formData.surname == '' || !this.formData.surname)
            {
                this.errorMessage.surname = 'Soyisim alanı boş bırakılamaz'
                status = false
            }

            if(this.formData.gender == '0')
            {
                this.errorMessage.gender = 'Cinsiyet seçiniz'
                status = false
            }

            if(!this.formData.birthDate)
            {
                this.errorMessage.birthDate = 'Doğum Tarihi Seçiniz'
                status = false
            }

            if(this.formData.countryId == '0')
            {
                this.errorMessage.countryId = 'Ülke Seçiniz'
                status = false
            }

            if(this.formData.cityId == '0')
            {
                this.errorMessage.cityId = 'Şehir Seçiniz'
                status = false
            }

            if(this.formData.districtId == '0')
            {
                this.errorMessage.districtId = 'İlçe Seçiniz'
                status = false
            }
            
            if(this.formData.jobText == '' || !this.formData.jobText)
            {
                this.errorMessage.jobText = 'Meslek alanı boş bırakılamaz'
                status = false
            }

            return status
        },

        genderChange(args)
        {
            this.formData.gender = this.genders.getValue(args.newIndex)
        },

        countryChange(args)
        {
            this.formData.countryId = this.countries.getValue(args.newIndex)
        },

        cityChange(args)
        {
            this.formData.cityId = this.cities.getValue(args.newIndex)

            this.districts =  new ValueList([
                {value: '0', display: 'Seçiniz...'},
            ])

            this.selectedDistrict = '0'

            this.$store.dispatch('districtList', this.formData.cityId)
            .then(response => {
                for (let loop = 0; loop < response.data.length; loop++) {
                    this.districts.push({
                        value: `${response.data[loop].id}`,
                        display: response.data[loop].district
                    })    
                }
            })
            .catch(error => {
                console.log(error.response.data.message)
            })
        },

        districtChange(args)
        {
            this.formData.districtId = this.districts.getValue(args.newIndex)
        },

        vueDateConvert(value)
        {
            if (value) {
                return moment(String(value)).format('MM/DD/YYYY')
            }
        },

        dbDateConvert(value)
        {
            if (value) {
                return moment(String(value)).format('YYYY-MM-DD')
            }
        },

        onBirthDateChange(args) {
            if(args.value != 'Invalid Date')
            {
                this.formData.birthDate = this.getFormattedDate(args.value)
            }
        },

        getFormattedDate(date) {
            return date.getFullYear() + '-' + ('0' + (date.getMonth()+1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2)
        },
    }
};
</script>
<style scoped>
.profile-edit{
    margin-bottom: 18px;
}
.edit-avatar {
    border-width: 5;
    border-color: #707070;
}


</style>

