<template>

    <Page>

        <ActionBar width="100%" margin="0" padding="0">
            <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left"
                width="100%">
                <GridLayout rows="*" columns="100,*,70" width="100%" margin="0" padding="0">
                    <StackLayout col="0">

                    </StackLayout>
                    <FlexboxLayout justifyContent="center" col="1" textAlignment="right" padding="5">
                        <Image src="~/icons/profil@3x.png" height="10" marginRight="10"></Image>

                        <Label text="PROFİL" fontWeight="400" letterSpacing=".1"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout col="2" justifyContent="center">
                        <Label marginLeft="10" @tap="logout" class="la" fontSize="25" marginTop="5">{{'la-sign-out' | fonticon}}</Label>
                    </FlexboxLayout>
                </GridLayout>

            </StackLayout>
            <NavigationButton :visibility="'collapsed'" text android.systemIcon="ic_menu_back" tap="onNavBtnTap" />
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <ScrollView dock="top" height="90%" v-if="!loading">

                <DockLayout stretchLastChild="false">

                    <StackLayout class="profileTop" dock="top" height="70%">

                        <GridLayout columns="*,2*, *" marginBottom="0" paddingLeft="15">
                            <Image col="0" marginTop="20" :src="photo" borderRadius="100" width="90" height="90"
                                class="avatar" />
                            <StackLayout col="1" paddingTop="40" paddingLeft="10">
                                <Label @tap="$goto('profileEdit', options)" class="la" fontSize="18">{{ name + ' ' + surname }} {{'la-edit' | fonticon}}</Label>
                                <Label :text="districtAndCity" fontSize="13" fontWeight="200" marginTop="5"></Label>
                                <Label text="Admin Profiline Geç" v-if="isAdmin === true" @tap="$goto('adminRaceList')" fontSize="14" fontWeight="500" marginTop="5"></Label>
                            </StackLayout>
                        </GridLayout>

                        <StackLayout width="100%" padding="15">

                            <Label fontSize="12" text="Firma - Meslek"></Label>
                            <Label :text="companyAndJob" height="30" fontWeight="bold"></Label>
                            <StackLayout class="hr-red" marginBottom="5" />

                            <Label fontSize="12" text="En Uzun Koşu"></Label>
                            <Label :text="longestRunning" height="30" fontWeight="bold"></Label>
                            <StackLayout class="hr-red" marginBottom="5" />

                            <Label fontSize="12" text="İlgilendiğim Sporlar"></Label>
                            <Label :text="sports" height="30" fontWeight="bold"></Label>
                            <StackLayout class="hr-red" marginBottom="5" />

                            <Label fontSize="12" text="Favori Parkurlarım"></Label>
                            <Label :text="favoriteTrails" height="30" fontWeight="bold"></Label>
                            <!-- <StackLayout class="hr-red" marginBottom="5" /> -->

                            <!-- <Label text="Hakkımda" fontSize="15" height="30" marginTop="5" fontWeight="bold"
                                textAlignment="center"></Label> -->

                        </StackLayout>

                    </StackLayout>

                    <StackLayout width="100%" dock="top">

                        <Label text="Madalyalarım" backgroundColor="#efefef" android:paddingTop="15" fontSize="15" height="50" marginTop="0"
                            fontWeight="bold" textAlignment="center"></Label>

                        <ScrollView orientation="horizontal" marginTop="10">
                            
                            <StackLayout orientation="horizontal" height="80" width="90%" v-if="!statistic.medals.length">
                                <Label text="Henüz bir madalyanız bulunmamaktadır" textWrap="true" marginBottom="10" fontSize="15"
                                        textAlignment="center" color="#888"></Label>
                            </StackLayout>

                            <StackLayout orientation="horizontal" height="100" v-else-if="statistic.medals">

                                <GridLayout width="80" v-for="medal in statistic.medals" v-bind:key="medal.id">
                                    <Image row="0" rowspan="2" verticalAlignment="top"
                                        :src="'https://ipk.adimadim.org/images/badges/madalya_'+ yearConvert(medal.end_date) +'.png'" width="40">
                                    </Image>
                                    <Label :text="medal.ranking + '. En İyi Koşucu'" textWrap="true" padding="5" fontSize="12"
                                        textAlignment="center" marginTop="30" android:marginTop="40" color="#888"></Label>
                                </GridLayout>

                            </StackLayout>

                        </ScrollView>

                    </StackLayout>

                    <StackLayout width="100%" dock="top">

                        <Label text="Adımlarımın Katkısı" backgroundColor="#efefef"  android:paddingTop="15" fontSize="15" height="50"
                            marginTop="0" fontWeight="bold" textAlignment="center"></Label>

                        <StackLayout orientation="horizontal" height="80">

                            <GridLayout width="33%">
                                <Label text="0 TL" textWrap="true" padding="10" fontWeight="800" fontSize="14"
                                    textAlignment="center" marginTop="0" color="#DA291C"></Label>
                                <Label text="Toplam Bağış" textWrap="true" padding="5" fontSize="12"
                                    textAlignment="center" marginTop="30" color="#000"></Label>
                            </GridLayout>

                            <GridLayout width="33%">
                                <Label text="0" textWrap="true" padding="10" fontWeight="800" fontSize="14"
                                    textAlignment="center" marginTop="0" color="#DA291C"></Label>
                                <Label text="Toplam Bağışçı" textWrap="true" padding="10" fontSize="12"
                                    textAlignment="center" marginTop="30" color="#000"></Label>
                            </GridLayout>

                            <GridLayout width="33%">
                                <Label text="0" textWrap="true" padding="10" fontWeight="800" fontSize="14"
                                    textAlignment="center" marginTop="0" color="#DA291C"></Label>
                                <Label text="Toplam Etki" textWrap="true" padding="5" fontSize="12"
                                    textAlignment="center" marginTop="30" color="#000"></Label>
                            </GridLayout>

                        </StackLayout>

                    </StackLayout>

                    <StackLayout width="100%" dock="top">

                        <Label text="Koşularım" backgroundColor="#efefef"  android:paddingTop="15" fontSize="15" height="50" marginTop="0"
                            fontWeight="bold" textAlignment="center"></Label>

                        <StackLayout orientation="horizontal" height="80">

                            <GridLayout width="50%">
                                <Label :text="statistic.totalRaces" textWrap="true" padding="10" fontWeight="800" fontSize="14"
                                    textAlignment="center" marginTop="0" color="#DA291C"></Label>
                                <Label text="AA Koşusu Yaptın" textWrap="true" padding="5" fontSize="12"
                                    textAlignment="center" marginTop="30" color="#000"></Label>
                            </GridLayout>

                            <GridLayout width="50%">
                                <Label :text="statistic.bestRunningTime" textWrap="true" padding="10" fontWeight="800" fontSize="14"
                                    textAlignment="center" marginTop="0" color="#DA291C"></Label>
                                <Label text="En İyi Süren" textWrap="true" padding="5" fontSize="12"
                                    textAlignment="center" marginTop="30" color="#000"></Label>
                            </GridLayout>

                        </StackLayout>

                        <StackLayout>
                            <Label text="Katıldığım Koşular" @tap="$goto('resultList')"  color="#000" fontSize="14"
                                textAlignment="center" marginTop="30" marginBottom="20" />
                        </StackLayout>

                    </StackLayout>

                </DockLayout>

            </ScrollView>

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#DA291C"></ActivityIndicator>
            </ScrollView>

            <nav :activeProfile="activeClass"></nav>

        </DockLayout>

    </Page>

</template>

<script>
    import nav from "../nav";
    import { error } from 'util';
    import moment from 'moment';

    export default {
        name: "profileView",

        components: {
            nav
        },

        data() {
            return {
                activeClass: 'active',
                loading: true,
                name: '',
                surname: '',
                photo: '',
                districtAndCity: '',
                companyAndJob: '',
                longestRunning: '',
                sports: '',
                favoriteTrails: '',
                statistic: {
                    totalRaces: 0,
                    bestRunningTime: 0,
                    medals: {},
                },
                isAdmin: false,
                options: {
                clearHistory: false,
                backstackVisible: true,
                    transition: {
                        name: "slide",
                        curve: "easeIn"
                    }
                }
            }
        },

        created() {
            this.$store.dispatch('getToken')
            this.$store.dispatch('getUser')
                .then(response => {
                    this.name = response.data.name
                    this.surname = response.data.surname
                    this.photo = response.data.photo
                    this.longestRunning = response.data.longest_running_distance
                    this.sports = response.data.sports
                    this.favoriteTrails = response.data.favorite_trails
                    
                    if (response.data.district_name === null && response.data.city_name === null)
                    {
                        this.districtAndCity = ''
                    }
                    else if(response.data.district_name === null)
                    {
                        this.districtAndCity = response.data.city_name
                    }
                    else if(response.data.city_name === null)
                    {
                        this.districtAndCity = response.data.district_name
                    }
                    else
                    {
                        this.districtAndCity = response.data.district_name + ', ' + response.data.city_name
                    }

                    if (response.data.company_text === null && response.data.job_text === null)
                    {
                        this.companyAndJob = ''
                    }
                    else if(response.data.company_text === null)
                    {
                        this.companyAndJob = response.data.job_text
                    }
                    else if(response.data.job_text === null)
                    {
                        this.companyAndJob = response.data.company_text
                    }
                    else
                    {
                        this.companyAndJob = response.data.company_text + ' - ' + response.data.job_text
                    }

                    setTimeout(() => this.loading = false, 300)
                })
                .catch(error => {
                    console.log(error.response.data.message)
                })

            this.$store.dispatch('getStatistics')
                .then(response => {
                    this.statistic.totalRaces = response.data.total_race
                    this.statistic.bestRunningTime = response.data.best_running_time.finishing_hour
                    this.statistic.medals = response.data.medals
                })
                .catch(error => {
                    console.log(error.response.data.message)
                })
        
        
            this.$store.dispatch('isAdmin')
                .then(response => {
                    this.isAdmin = true
                })
                .catch(error => {
                    this.isAdmin = false
                    console.log(error.response.data.message);
                });
        },

        methods: {
            logout() {
                confirm({
                    title: "Çıkış",
                    message: "Emin misiniz",
                    okButtonText: "Çıkış Yap",
                    cancelButtonText: "Vazgeç"
                }).then(result => {
                    if (result) {
                        this.$store.dispatch('destroyToken')
                            .then(response => {
                                this.$goto('home')
                            })
                    }
                });
            },

            yearConvert(value)
            {                
                if (value) {
                    return moment(String(value)).format('Y')
                }
            },
        }

    }
</script>

<style scoped>
    .profileTop {
        background-image: url("~/assets/background.jpg");
        background-size: cover;
        background-position: center top;
        color: white;
    }

    .hr-red {
        margin: 13px 0;
    }

    .avatar {
        border-width: 5;
        border-color: white;
    }
</style>