<template>
    <Page class="page">

        <ActionBar title="KOŞUYA DAVET">
            <NavigationButton :visibility="'collapsed'" android.systemIcon="ic_menu_back" />
            <ActionItem @tap="$goto('notification')"
                ios.systemIcon="8" ios.position="left"
                android.systemIcon="ic_menu_back" android.position="actionBar">
            </ActionItem>
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#FFFFFF"></ActivityIndicator>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-else-if="!loading">
                <StackLayout width="100%" height="100%">
                    <StackLayout class="p-10" marginTop="50">

                        <Label class="message" color="white" fontSize="22" fontWeight="600" textAlignment="center"
                            :text="notificationTitle" marginBottom="50"
                            textWrap="true"></Label>
                        <Label
                            :text="dayAndMonthConvert(raceDetail.start_date) + ' ' + yearConvert(raceDetail.start_date) + ', ' + timeConvert(raceDetail.start_date + ' ' + raceDetail.start_hour) + ', ' + raceDetail.title + ' beraber koşmak için arkadaşın seni koşuya davet ediyor. Koşuya katılmak için alttaki KABUL ET butonuna tıklayın.'"
                            textWrap="true" color="white" fontWeight="400" textAlignment="center"></Label>

                        <Button class="btn btn-red btn-lg" @tap="accept()" width="100%" height="60" marginTop="60" text="KABUL ET" />
                        <Button class="btn btn-black btn-lg" @tap="reject()" width="100%" height="60" marginTop="10" text="REDDET" />

                    </StackLayout>
                </StackLayout>
            </ScrollView>

            <nav :activeNotification="activeClass"></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import nav from "../nav";
    import moment from 'moment';

    export default {
        name: "notificationInviteUserToRace",

        components: {
            nav
        },

        props: {
            notificationId: {
                type: Number,
                required: true
            },
            raceId: {
                type: Number,
                required: true
            },
            notificationTitle: {
                type: String,
                required: true,
            }
        },

        data() {
            return {
                activeClass: "active",
                loading: true,
                notificationId: this.notificationId,
                recaId: this.recaId,
                notificationTitle: this.notificationTitle,
                raceDetail: {},
            };
        },

        created() {
            this.$store.dispatch('getRaceDetail', {
                id: this.raceId,
            })
            .then(response => {
                this.raceDetail = response.data

                this.loading = false
            })
            .catch(error => {
                console.log(error.response.data);
            });
        },

        methods: {
            accept()
            {
                this.$store.dispatch('acceptRaceInvitation', {
                    notificationId: this.notificationId,
                    raceId: this.raceId,
                })
                .then(response => {

                    alert({
                        title: 'Başarılı',
                        message: response.data.message,
                        okButtonText: "Tamam",
                        cancelable: false
                    }).then(() => {
                        let options = options || {
                            clearHistory: false,
                            backstackVisible: true,
                            transition: {
                                name: "fade",
                                duration: 1,
                                curve: "easeIn"
                            },
                            props: {
                                raceId: this.raceId
                            }
                        }

                        this.$goto('raceDetail', options)
                    });

                })
                .catch(error => {
                    console.log(error.response.data);
                });
            },

            reject()
            {
                this.$store.dispatch('rejectRaceInvitation', {
                    notificationId: this.notificationId,
                    raceId: this.raceId,
                })
                .then(response => {

                    alert({
                        title: 'Reddedildi',
                        message: response.data.message,
                        okButtonText: "Tamam",
                        cancelable: false
                    }).then(() => {
                        this.$goto('notification')
                    });

                })
                .catch(error => {
                    console.log(error.response.data);
                });
            },

            dayAndMonthConvert(value)
            {
                if (value) {
                    return moment(String(value)).format('DD MMMM')
                }
            },

            yearConvert(value)
            {                
                if (value) {
                    return moment(String(value)).format('Y')
                }
            },

            timeConvert(value)
            {
                if (value) {
                    return moment(String(value)).format('HH:mm')
                }
            },
        }
    };
</script>

