<template>
    <Page class="page">

        <ActionBar title="TAKIMA TAKILMA İSTEĞİ SONUCU">
            <NavigationButton :visibility="'collapsed'" android.systemIcon="ic_menu_back" />
            <ActionItem @tap="$goto('notification')"
                ios.systemIcon="8" ios.position="left"
                android.systemIcon="ic_menu_back" android.position="actionBar">
            </ActionItem>
        </ActionBar>

        <DockLayout stretchLastChild="true">

            <ScrollView dock="top" height="90%" v-if="loading">
                <ActivityIndicator row="1" busy="true" class="activity-indicator" color="#FFFFFF"></ActivityIndicator>
            </ScrollView>

            <ScrollView dock="top" height="90%" v-else-if="!loading">
                <StackLayout width="100%" height="100%">
                    <StackLayout class="p-10" marginTop="70">

                        <Label class="message" color="white" fontSize="22" fontWeight="600" textAlignment="center"
                            :text="notificationTitle" marginBottom="50"
                            textWrap="true"></Label>

                    </StackLayout>
                </StackLayout>
            </ScrollView>

            <nav :activeNotification="activeClass"></nav>
        </DockLayout>
    </Page>
</template>

<script>
    import nav from "../nav";
    import moment from 'moment';

    export default {
        name: "notificationTeamRegisterRequestAcceptAndReject",

        components: {
            nav
        },

        props: {
            notificationId: {
                type: Number,
                required: true
            },
            raceId: {
                type: Number,
                required: true
            },
            teamId: {
                type: Number,
                required: true
            },
            senderUserId: {
                type: Number,
                required: true
            },
            notificationTitle: {
                type: String,
                required: true,
            }
        },

        data() {
            return {
                activeClass: "active",
                loading: true,
                notificationId: this.notificationId,
                recaId: this.recaId,
                teamId: this.teamId,
                notificationTitle: this.notificationTitle,
                raceDetail: {},
            };
        },

        created() {
            this.$store.dispatch('getRaceDetail', {
                id: this.raceId,
            })
            .then(response => {
                this.raceDetail = response.data

                this.loading = false
            })
            .catch(error => {
                console.log(error.response.data);
            });
        },

        methods: {
            dayAndMonthConvert(value)
            {
                if (value) {
                    return moment(String(value)).format('DD MMMM')
                }
            },

            yearConvert(value)
            {                
                if (value) {
                    return moment(String(value)).format('Y')
                }
            },

            timeConvert(value)
            {
                if (value) {
                    return moment(String(value)).format('HH:mm')
                }
            },
        }
    };
</script>






<style scoped>
  
</style>